Repository primer/view_components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @primer/engineer-reviewers, @primer/design-reviewers, @primer/css-reviewers

.github/CODEOWNERS:

* @primer/engineer-reviewers

# Design changes
.playwright/screenshots/ @primer/design-reviewers

# Component CSS files
app/components/**/*.pcss @primer/css-reviewers

# PostCSS Config
lib/postcss-mixins/ @primer/css-reviewers
postcss.config.js @primer/css-reviewers

Commit lockfile
  demo/Gemfile.lock
Owners: @primer/engineer-reviewers

Generating static files
  static/info_arch.json
  static/previews.json
Owners: @primer/engineer-reviewers

Revert "Swap bg-gradient with bg-color for Banner/Flash (#2643)"
  app/components/primer/alpha/banner.pcss
  app/components/primer/beta/flash.pcss
Owners: @primer/css-reviewers

Create mighty-cooks-rest.md
  .changeset/mighty-cooks-rest.md
Owners: @primer/engineer-reviewers

Revert "Swap bg-gradient with bg-color for Banner/Flash" (#2705)
  .changeset/mighty-cooks-rest.md
  app/components/primer/alpha/banner.pcss
  app/components/primer/beta/flash.pcss
Owners: @primer/engineer-reviewers, @primer/css-reviewers

Remove Dialog CSS hacks added to fix firefox autocomplete
  app/components/primer/alpha/dialog.pcss
Owners: @primer/css-reviewers

Generating component snapshots
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_list/long_label_with_tooltip/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/nav_list/long_label_with_tooltip/focused.png
Owners: @primer/design-reviewers

Use revert
  app/components/primer/alpha/dialog.pcss
Owners: @primer/css-reviewers

Generating component snapshots
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_list/long_label_with_tooltip/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/nav_list/long_label_with_tooltip/focused.png
Owners: @primer/design-reviewers

Use fix from dotcom's hx_polyfills
  .changeset/brave-cougars-brush.md
  app/components/primer/alpha/dialog.pcss
Owners: @primer/engineer-reviewers, @primer/css-reviewers

Generating component snapshots
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_list/long_label_with_tooltip/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/nav_list/long_label_with_tooltip/focused.png
Owners: @primer/design-reviewers

Update brave-cougars-brush.md
  .changeset/brave-cougars-brush.md
Owners: @primer/engineer-reviewers

Fix dialog CSS to prevent tooltip issues (#2706)
  .changeset/brave-cougars-brush.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_list/long_label_with_tooltip/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/nav_list/long_label_with_tooltip/focused.png
  app/components/primer/alpha/dialog.pcss
Owners: @primer/engineer-reviewers, @primer/design-reviewers, @primer/css-reviewers
