Repository primer/view_components, pull requests merged in 2022-11, with the labels that each got.

#1560 Don't export web components
  .changeset/dull-rabbits-glow.md
  app/components/primer/alpha/segmented_control.ts
  app/components/primer/beta/x_banner.ts
Labels: javascript

#1572 Fix frozen string test failure in framework tests
  test/system/test_case.rb
Labels: skip changelog

#1553 Run accessibility tests in parallel
  .github/workflows/test.yml
  Rakefile
  test/accessibility_test.rb
Labels: skip changelog

#1571 SegmentedControl: Don't update selected state on links
  .changeset/honest-worms-breathe.md
  app/components/primer/alpha/segmented_control/item.rb
  test/components/primer/alpha/segmented_control_test.rb
Labels: ruby

#1559 Additional legacy flash/banner classes; fix data-target issue
  .changeset/light-crabs-hear.md
  app/components/primer/beta/banner.html.erb
  app/components/primer/beta/banner.rb
  app/components/primer/beta/x_banner.ts
Labels: javascript, ruby

#1576 Remove redundant system_argument in dialog component
  .changeset/neat-wasps-agree.md
  app/components/primer/alpha/dialog.rb
Labels: ruby

#1579 Move Banner to alpha namespace
  .changeset/fast-spies-fry.md
  app/components/primer/alpha/banner.html.erb
  app/components/primer/alpha/banner.pcss
  app/components/primer/alpha/banner.rb
  app/components/primer/alpha/x_banner.ts
  app/components/primer/primer.pcss
  app/components/primer/primer.ts
  lib/tasks/docs.rake
  previews/primer/alpha/banner_preview.rb
  previews/primer/alpha/banner_preview/with_action_button.html.erb
  previews/primer/alpha/banner_preview/with_action_content.html.erb
  previews/primer/beta/banner_preview/with_action_button.html.erb
  static/audited_at.json
  static/constants.json
  static/statuses.json
  test/components/alpha/banner_test.rb
  test/components/component_test.rb
  test/system/alpha/banner_test.rb
Labels: javascript, ruby, css

#1583 Moving ProgressBar component css
  .changeset/cool-kiwis-laugh.md
  app/components/primer/beta/progress_bar.html.erb
  app/components/primer/beta/progress_bar.pcss
  app/components/primer/beta/progress_bar.rb
  app/components/primer/primer.pcss
  app/components/primer/progress_bar_component.rb
  demo/app/assets/stylesheets/application.css
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  lib/primer/deprecations.rb
  lib/tasks/docs.rake
  previews/primer/beta/progress_bar_preview.rb
  static/audited_at.json
  static/constants.json
  static/statuses.json
  test/components/beta/progress_bar_test.rb
  test/components/component_test.rb
Labels: ruby, css

#1590 Move `Truncate` styles to PVC
  .changeset/slow-grapes-dance.md
  app/components/primer/beta/truncate.pcss
  app/components/primer/primer.pcss
  app/components/primer/truncate.pcss
  demo/app/assets/stylesheets/application.css
Labels: css

#1587 Move `labels` styles to PVC
  .changeset/red-peaches-tickle.md
  app/components/primer/beta/counter.pcss
  app/components/primer/beta/label.pcss
  app/components/primer/primer.pcss
  app/components/primer/state_component.pcss
  demo/app/assets/stylesheets/application.css
Labels: css

#1592 Move `Breadcrumbs` styles to PVC
  .changeset/hip-zebras-remain.md
  app/components/primer/beta/breadcrumbs.pcss
  app/components/primer/primer.pcss
  demo/app/assets/stylesheets/application.css
Labels: css

#1593 Move `ToggleSwitch` styles to PVC
  .changeset/silent-starfishes-shake.md
  app/components/primer/alpha/toggle_switch.pcss
  app/components/primer/primer.pcss
  demo/app/assets/stylesheets/application.css
Labels: css

#1594 Move `Subhead` styles to PVC
  .changeset/seven-pumpkins-smoke.md
  app/components/primer/primer.pcss
  app/components/primer/subhead_component.pcss
  demo/app/assets/stylesheets/application.css
Labels: css

#1574 Component-Specific CSS Selector Tests
  .changeset/rare-birds-heal.md
  .github/workflows/test.yml
  .playwright/screenshots/previews.test.ts-snapshots/primer/alpha/banner/default.png
  .playwright/screenshots/previews.test.ts-snapshots/primer/alpha/banner/focused.png
  app/components/primer/alpha/banner.pcss
  app/components/primer/alpha/segmented_control.pcss
  app/components/primer/beta/button.pcss
  app/components/primer/beta/counter.pcss
  lib/tasks/test.rake
  previews/primer/alpha/banner_preview.rb
  previews/primer/alpha/segmented_control_preview.rb
  previews/primer/beta/counter_preview.rb
  previews/primer/beta/progress_bar_preview.rb
  test/components/primer/alpha/segmented_control_test.rb
  test/css/component_specific_selectors_test.rb
  test/css/test_helper.rb
Labels: skip changelog, css

#1598 Move `TimelineItem` styles to PVC
  .changeset/six-ways-sin.md
  app/components/primer/primer.pcss
  app/components/primer/timeline_item_component.pcss
  demo/app/assets/stylesheets/application.css
Labels: css

#1601 Move `flash` styles to PVC
  .changeset/famous-maps-joke.md
  app/components/primer/beta/flash.pcss
  app/components/primer/primer.pcss
  demo/app/assets/stylesheets/application.css
Labels: css

#1600 Move `dropdown` styles to PVC
  .changeset/twelve-dancers-retire.md
  app/components/primer/dropdown.pcss
  app/components/primer/primer.pcss
  demo/app/assets/stylesheets/application.css
Labels: css

#1605 Remove CounterComponet for Counter
  .changeset/chilled-paws-march.md
  app/components/primer/alpha/action_list/item.rb
  app/components/primer/beta/button.rb
  app/components/primer/counter_component.rb
  lib/primer/deprecations.rb
  static/audited_at.json
  static/constants.json
  static/statuses.json
  test/components/component_test.rb
Labels: ruby

#1607 Move `Avatar` + `AvatarStack` styles to PVC
  .changeset/perfect-jokes-switch.md
  .playwright/screenshots/previews.test.ts-snapshots/primer/beta/avatar/default.png
  .playwright/screenshots/previews.test.ts-snapshots/primer/beta/avatar/focused.png
  app/components/primer/beta/avatar.pcss
  app/components/primer/beta/avatar_stack.pcss
  app/components/primer/primer.pcss
  demo/app/assets/stylesheets/application.css
  previews/primer/beta/avatar_preview.rb
  previews/primer/beta/avatar_stack_preview.rb
  test/css/component_specific_selectors_test.rb
Labels: css

#1610 Update Banner link in nav after #1579
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
Labels: documentation, skip changelog

#1617 Update `dropdown` hover text color
  .changeset/good-games-try.md
  app/components/primer/dropdown.pcss
Labels: css

#1609 Move `autocomplete` styles to PVC
  .changeset/sweet-windows-call.md
  app/components/primer/alpha/auto_complete.pcss
  app/components/primer/primer.pcss
  demo/app/assets/stylesheets/application.css
  test/css/component_specific_selectors_test.rb
Labels: css

#1626 Move `navigation` styles to PVC
  .changeset/dull-geckos-work.md
  .playwright/screenshots/previews.test.ts-snapshots/primer/alpha/tab_nav/default.png
  .playwright/screenshots/previews.test.ts-snapshots/primer/alpha/tab_nav/focused.png
  app/components/primer/alpha/tab_nav.pcss
  app/components/primer/alpha/underline_nav.pcss
  app/components/primer/menu_component.pcss
  app/components/primer/primer.pcss
  demo/app/assets/stylesheets/application.css
  previews/primer/alpha/tab_nav_preview.rb
  test/css/component_selector_use_test.rb
  test/css/component_specific_selectors_test.rb
Labels: css

#1620 Move `Link` and `ButtonMarketing` styles to PVC
  .changeset/curly-cows-push.md
  .playwright/screenshots/previews.test.ts-snapshots/primer/alpha/button_marketing/default.png
  .playwright/screenshots/previews.test.ts-snapshots/primer/alpha/button_marketing/focused.png
  app/components/primer/alpha/button_marketing.pcss
  app/components/primer/beta/link.pcss
  app/components/primer/primer.pcss
  demo/app/assets/stylesheets/application.css
  previews/primer/alpha/button_marketing_preview.rb
  previews/primer/beta/link_preview.rb
  test/css/component_selector_use_test.rb
  test/css/component_specific_selectors_test.rb
Labels: css

#1618 Move `Box` styles to PVC
  .changeset/long-pots-lay.md
  app/components/primer/beta/border_box.pcss
  app/components/primer/primer.pcss
  demo/app/assets/stylesheets/application.css
  previews/primer/beta/border_box_preview.rb
  test/css/component_specific_selectors_test.rb
Labels: css

#1623 Deleting deprecated Primer::ProgressBarComponent
  .changeset/three-rocks-fail.md
  app/components/primer/progress_bar_component.rb
  lib/primer/deprecations.rb
  static/audited_at.json
  static/constants.json
  static/statuses.json
  test/components/component_test.rb
Labels: ruby

#1624 Deleting deprecated Primer::Image component
  .changeset/afraid-geckos-sit.md
  app/components/primer/image.rb
  lib/primer/deprecations.rb
  static/audited_at.json
  static/constants.json
  static/statuses.json
  test/components/component_test.rb
Labels: ruby

#1625 Deprecate Primer::Dropdown moving to Primer::Alpha::Dropdown
  .changeset/khaki-avocados-notice.md
  .playwright/screenshots/previews.test.ts-snapshots/primer/alpha/dropdown/default.png
  .playwright/screenshots/previews.test.ts-snapshots/primer/alpha/dropdown/focused.png
  app/components/primer/alpha/dropdown.html.erb
  app/components/primer/alpha/dropdown.pcss
  app/components/primer/alpha/dropdown.rb
  app/components/primer/alpha/dropdown.ts
  app/components/primer/alpha/dropdown/menu.html.erb
  app/components/primer/alpha/dropdown/menu.rb
  app/components/primer/alpha/dropdown/menu.ts
  app/components/primer/dropdown.rb
  app/components/primer/dropdown/menu.rb
  app/components/primer/primer.pcss
  app/components/primer/primer.ts
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  lib/primer/deprecations.rb
  lib/tasks/docs.rake
  previews/primer/alpha/dropdown_preview.rb
  previews/primer/dropdown_preview.rb
  static/audited_at.json
  static/constants.json
  static/statuses.json
  test/components/alpha/dropdown/menu_test.rb
  test/components/alpha/dropdown_test.rb
  test/components/component_test.rb
  test/css/component_selector_use_test.rb
  test/css/component_specific_selectors_test.rb
Labels: javascript, ruby, css

#1629 Deprecate Primer::PopoverComponent moving to Primer::Beta::Popover
  .changeset/rotten-fishes-beg.md
  .playwright/screenshots/previews.test.ts-snapshots/primer/beta/popover/default.png
  .playwright/screenshots/previews.test.ts-snapshots/primer/beta/popover/focused.png
  app/components/primer/beta/popover.html.erb
  app/components/primer/beta/popover.pcss
  app/components/primer/beta/popover.rb
  app/components/primer/popover_component.rb
  app/components/primer/primer.pcss
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  lib/primer/deprecations.rb
  lib/tasks/docs.rake
  previews/primer/beta/popover_preview.rb
  previews/primer/popover_component_preview.rb
  static/audited_at.json
  static/constants.json
  static/statuses.json
  test/components/beta/popover_test.rb
  test/components/component_test.rb
  test/css/component_specific_selectors_test.rb
Labels: ruby, css

#1633 Setting up custom media queries
  app/components/primer/alpha/auto_complete.pcss
  app/components/primer/alpha/banner.pcss
  postcss.config.js
Labels: skip changelog, css

#1632 Improve performance of deny_* methods by not raising in prod environments
  .changeset/gorgeous-spies-hang.md
  app/components/primer/component.rb
  demo/Gemfile
  demo/Gemfile.lock
  demo/config/application.rb
  test/components/component_test.rb
  test/performance/bench_deny.rb
  test/test_helpers/components/primer/deny_component.rb
  test/test_helpers/ips_test_helper.rb
Labels: ruby

#1636 Remove action list item animation
  .changeset/four-clouds-yell.md
  app/components/primer/alpha/action_list.pcss
Labels: css

#1635 PVC Deprecations and configurable auto-correct
  .changeset/neat-fireants-bake.md
  app/components/primer/beta/popover.pcss
  app/components/primer/component.rb
  lib/primer/deprecations.rb
  lib/primer/deprecations.yml
  lib/primer/view_components/linters/helpers/deprecated_components_helpers.rb
  lib/rubocop/cop/primer/component_name_migration.rb
  test/components/component_test.rb
  test/lib/deprecations_test.rb
  test/lib/rubocop/component_name_migration_test.rb
Labels: ruby, css

#1630 Move `button` styles to PVC
  .changeset/happy-houses-judge.md
  .stylelintrc.json
  app/components/primer/beta/button_group.pcss
  app/components/primer/button_component.pcss
  app/components/primer/primer.pcss
  demo/app/assets/stylesheets/application.css
  lib/postcss_mixins/clearfix.pcss
  test/css/component_specific_selectors_test.rb
Labels: css

#1643 Fix disabled ToggleSwitch behavior
  .changeset/small-lemons-change.md
  app/components/primer/alpha/toggle_switch.ts
  demo/app/controllers/toggle_switch_controller.rb
  test/system/alpha/toggle_switch_test.rb
Labels: javascript
