Repository primer/view_components, pull requests merged in 2022-12, with the labels that each got.

#1660 Tagging the dialog component as reviewed
  app/components/primer/alpha/dialog.rb
  app/components/primer/alpha/dialog/body.rb
  app/components/primer/alpha/dialog/footer.rb
  app/components/primer/alpha/dialog/header.rb
  static/audited_at.json
Labels: ruby, skip changelog

#1651 Move `Overlay` styles to PVC
  .changeset/swift-dryers-invite.md
  app/components/primer/alpha/dialog.pcss
  app/components/primer/primer.pcss
  demo/app/assets/stylesheets/application.css
  test/css/component_specific_selectors_test.rb
Labels: css

#1638 Move `FormControl` styles to PVC
  .changeset/gentle-pugs-happen.md
  .playwright/screenshots/previews.test.ts-snapshots/primer/beta/auto_complete_preview/default.png
  .playwright/screenshots/previews.test.ts-snapshots/primer/beta/auto_complete_preview/focused.png
  app/components/primer/alpha/text_field.pcss
  app/components/primer/primer.pcss
  postcss.config.js
  previews/primer/alpha/text_field_preview.rb
  test/css/component_selector_use_test.rb
  test/css/component_specific_selectors_test.rb
Labels: css

#1669 Fix rubocop lint failures
  Rakefile
  previews/primer/alpha/auto_complete_preview.rb
  previews/primer/alpha/segmented_control_preview.rb
  previews/primer/forms/forms_preview.rb
Labels: skip changelog

#1663 `Primer::ButtonComponent` to `Primer::Beta::Button` Migration Guide
  .changeset/tricky-queens-beg.md
  .erb-lint.yml
  app/components/primer/button_component.rb
  docs/content/guides/primer_button_component.md
  docs/content/migration.md
  lib/primer/deprecations.yml
  static/arguments.json
  static/statuses.json
Labels: ruby

#1674 Move `ClipboardCopy` to `Beta::ClipboardCopy`
  .changeset/thin-plums-walk.md
  .playwright/screenshots/previews.test.ts-snapshots/primer/beta/clipboard_copy_preview/default.png
  .playwright/screenshots/previews.test.ts-snapshots/primer/beta/clipboard_copy_preview/focused.png
  app/components/primer/beta/clipboard_copy.html.erb
  app/components/primer/beta/clipboard_copy.rb
  app/components/primer/beta/clipboard_copy.ts
  app/components/primer/clipboard_copy.rb
  app/components/primer/primer.ts
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  lib/primer/deprecations.yml
  lib/primer/view_components/linters/clipboard_copy_component_migration_counter.rb
  lib/tasks/docs.rake
  previews/primer/beta/clipboard_copy_preview.rb
  previews/primer/beta/clipboard_copy_preview/element.html.erb
  previews/primer/clipboard_copy_preview.rb
  previews/primer/clipboard_copy_preview/element.html.erb
  static/arguments.json
  static/audited_at.json
  static/constants.json
  static/statuses.json
  test/components/beta/clipboard_copy_test.rb
  test/components/component_test.rb
  test/css/component_selector_use_test.rb
  test/lib/erblint/clipboard_copy_component_migration_counter_test.rb
  test/lib/rubocop/deprecated_components_test.rb
Labels: javascript, ruby

#1650 add relative-time component
  .changeset/bright-cows-live.md
  .playwright/screenshots/previews.test.ts-snapshots/primer/beta/relative_time_preview/default.png
  .playwright/screenshots/previews.test.ts-snapshots/primer/beta/relative_time_preview/focused.png
  .playwright/screenshots/previews.test.ts-snapshots/primer/local_time/default.png
  .playwright/screenshots/previews.test.ts-snapshots/primer/local_time/focused.png
  app/components/primer/beta/relative_time.rb
  app/components/primer/local_time.rb
  app/components/primer/local_time.ts
  app/components/primer/time_ago_component.rb
  app/components/primer/time_ago_component.ts
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  lib/tasks/docs.rake
  package-lock.json
  package.json
  previews/primer/beta/relative_time_preview.rb
  test/components/component_test.rb
  test/components/local_time_test.rb
  test/components/primer/beta/relative_time_test.rb
  test/components/time_ago_component_test.rb
  test/lib/primer/view_helper_test.rb
  test/system/beta/relative_time_test.rb
  test/system/local_time_component_test.rb
  test/system/time_ago_component_test.rb
Labels: javascript, ruby

#1681 move `Primer::Markdown` to `Primer::Beta::Markdown`
  .changeset/proud-singers-greet.md
  .playwright/screenshots/previews.test.ts-snapshots/primer/beta/markdown_preview/default.png
  .playwright/screenshots/previews.test.ts-snapshots/primer/beta/markdown_preview/focused.png
  app/components/primer/beta/markdown.rb
  app/components/primer/markdown.rb
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  lib/primer/deprecations.yml
  lib/tasks/docs.rake
  previews/primer/beta/markdown_preview.rb
  static/arguments.json
  static/audited_at.json
  static/constants.json
  static/statuses.json
  test/accessibility_test.rb
  test/components/beta/markdown_test.rb
  test/components/component_test.rb
  test/css/component_selector_use_test.rb
Labels: ruby

#1685 Revert moving `button` styles to PVC
  .changeset/brown-years-lick.md
  app/components/primer/beta/button_group.pcss
  app/components/primer/button_component.pcss
  app/components/primer/primer.pcss
  demo/app/assets/stylesheets/application.css
Labels: css

#1682 Move `Primer::MenuComponent` to `Primer::Alpha::Menu`
  .changeset/rich-waves-judge.md
  .playwright/screenshots/previews.test.ts-snapshots/primer/alpha/menu_preview/default.png
  .playwright/screenshots/previews.test.ts-snapshots/primer/alpha/menu_preview/focused.png
  app/components/primer/alpha/menu.html.erb
  app/components/primer/alpha/menu.pcss
  app/components/primer/alpha/menu.rb
  app/components/primer/menu_component.rb
  app/components/primer/primer.pcss
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  lib/primer/deprecations.yml
  lib/tasks/docs.rake
  previews/primer/alpha/menu_preview.rb
  previews/primer/alpha/menu_preview/default.html.erb
  previews/primer/alpha/menu_preview/playground.html.erb
  previews/primer/menu_component_preview.rb
  static/arguments.json
  static/audited_at.json
  static/constants.json
  static/statuses.json
  test/components/alpha/menu_test.rb
  test/components/component_test.rb
  test/css/component_selector_use_test.rb
  test/css/component_specific_selectors_test.rb
Labels: ruby, css

#1688 Update tooltip to run setup on connectedCallback instead of relying on attributeChangedCallback
  .changeset/new-dancers-train.md
  app/components/primer/alpha/tool_tip.ts
Labels: javascript

#1687 Deprecated `Primer::LocalTime` in favor of `Primer::Beta::RelativeTime`
  .changeset/long-ears-sniff.md
  app/components/primer/beta/relative_time.rb
  app/components/primer/local_time.rb
  component_status_migrator.thor
  docs/content/guides/primer_local_time.md
  docs/content/migration.md
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  lib/primer/deprecations.yml
  static/arguments.json
  static/statuses.json
Labels: ruby

#1690 Move `Primer::OcticonComponent` to `Primer::Beta::Octicon`
  .changeset/metal-rivers-care.md
  .playwright/screenshots/previews.test.ts-snapshots/primer/beta/octicon_preview/default.png
  .playwright/screenshots/previews.test.ts-snapshots/primer/beta/octicon_preview/focused.png
  app/components/primer/alpha/action_list/item.rb
  app/components/primer/alpha/auto_complete/auto_complete.html.erb
  app/components/primer/alpha/banner.html.erb
  app/components/primer/alpha/menu.rb
  app/components/primer/alpha/toggle_switch.html.erb
  app/components/primer/beta/auto_complete.rb
  app/components/primer/beta/auto_complete/item.rb
  app/components/primer/beta/blankslate.rb
  app/components/primer/beta/button.rb
  app/components/primer/beta/clipboard_copy.html.erb
  app/components/primer/beta/close_button.rb
  app/components/primer/beta/icon_button.html.erb
  app/components/primer/beta/octicon.html.erb
  app/components/primer/beta/octicon.rb
  app/components/primer/blankslate_component.rb
  app/components/primer/button_component.rb
  app/components/primer/icon_button.html.erb
  app/components/primer/navigation/tab_component.rb
  app/components/primer/octicon_component.rb
  app/components/primer/octicon_symbols_component.rb
  app/components/primer/timeline_item_component.rb
  app/lib/primer/octicon/cache.rb
  app/lib/primer/view_helper.rb
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  lib/primer/deprecations.yml
  lib/primer/forms/form_control.html.erb
  lib/primer/forms/text_field.html.erb
  lib/primer/view_components/linters/close_button_component_migration_counter.rb
  lib/tasks/docs.rake
  lib/tasks/helpers/ast_traverser.rb
  previews/primer/alpha/menu_preview/default.html.erb
  previews/primer/alpha/menu_preview/playground.html.erb
  previews/primer/beta/octicon_preview.rb
  previews/primer/octicon_component_preview.rb
  static/arguments.json
  static/audited_at.json
  static/constants.json
  static/statuses.json
  test/components/alpha/tooltip_test.rb
  test/components/beta/blankslate_test.rb
  test/components/beta/octicon_test.rb
  test/components/component_test.rb
  test/components/octicon_symbols_component_test.rb
  test/css/component_selector_use_test.rb
  test/lib/erblint/clipboard_copy_component_migration_counter_test.rb
  test/lib/erblint/close_button_component_migration_counter_test.rb
  test/performance/bench_octicons.rb
Labels: ruby

#1672 forms immediate server side validation
  .changeset/fresh-countries-draw.md
  .gitignore
  .playwright/screenshots/previews.test.ts-snapshots/primer/alpha/text_field_preview/focused.png
  Procfile
  app/components/primer/primer.ts
  app/forms/immediate_validation_form.rb
  demo/Gemfile.lock
  demo/app/controllers/auto_check_controller.rb
  demo/config/routes.rb
  demo/kuby.rb
  lib/primer/forms/dsl/input.rb
  lib/primer/forms/dsl/text_field_input.rb
  lib/primer/forms/form_control.html.erb
  lib/primer/forms/form_control.rb
  lib/primer/forms/primer_text_field.ts
  lib/primer/forms/text_field.html.erb
  lib/primer/forms/text_field.rb
  package-lock.json
  package.json
  previews/primer/forms/forms_preview.rb
  previews/primer/forms/forms_preview/immediate_validation_form.html.erb
  rollup.config.js
  test/lib/primer/forms/form_control_test.rb
  test/lib/primer/forms/form_helper_test.rb
  test/lib/primer/forms/models/deep_thought.rb
  tsconfig.json
Labels: javascript

#1692 deprecate `Primer::TimeAgoComponent` in favor of `Primer::RelativeTime`
  .changeset/mean-poets-poke.md
  app/components/primer/time_ago_component.rb
  docs/content/guides/primer_time_ago.md
  docs/content/migration.md
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  lib/primer/deprecations.yml
  lib/tasks/docs.rake
  static/arguments.json
  static/statuses.json
Labels: ruby

#1694 Remove sass variable
  .changeset/lazy-trains-wink.md
  app/components/primer/alpha/layout.pcss
  test/components/component_css_test.rb
Labels: css

#1691 Start migration to new slots API
  .changeset/poor-humans-invent.md
  app/components/primer/alpha/button_marketing.rb
  app/components/primer/alpha/image.rb
  app/components/primer/alpha/text_field.rb
  app/components/primer/alpha/toggle_switch.rb
  app/components/primer/alpha/tooltip.rb
  app/components/primer/beta/avatar.rb
  app/components/primer/beta/base_button.rb
  app/components/primer/beta/clipboard_copy.rb
  app/components/primer/beta/close_button.rb
  app/components/primer/beta/counter.rb
  app/components/primer/beta/heading.rb
  app/components/primer/beta/icon_button.rb
  app/components/primer/beta/label.rb
  app/components/primer/beta/markdown.rb
  app/components/primer/beta/relative_time.rb
  app/components/primer/beta/text.rb
  app/components/primer/box.rb
  app/components/primer/conditional_wrapper.rb
  app/components/primer/hellip_button.rb
  app/components/primer/icon_button.rb
  app/components/primer/layout_component.rb
  app/components/primer/local_time.rb
  app/components/primer/octicon_component.rb
  app/components/primer/octicon_symbols_component.rb
  app/components/primer/spinner_component.rb
  app/components/primer/state_component.rb
  app/components/primer/subhead_component.rb
  app/components/primer/tab_container_component.rb
  app/components/primer/time_ago_component.rb
  app/components/primer/timeline_item_component.rb
  app/components/primer/tooltip.rb
  app/components/primer/truncate.rb
  test/components/component_test.rb
  test/components/layout_component_test.rb
  test/components/subhead_component_test.rb
  test/components/timeline_item_component_test.rb
Labels: ruby

#1667 Make multi input a form control
  .changeset/fair-ties-boil.md
  app/components/primer/primer.ts
  app/forms/multi_input_form.rb
  demo/app/controllers/multi_controller.rb
  demo/config/routes.rb
  lib/primer/forms/builder.rb
  lib/primer/forms/check_box.html.erb
  lib/primer/forms/dsl/input.rb
  lib/primer/forms/dsl/multi_input.rb
  lib/primer/forms/dsl/select_list_input.rb
  lib/primer/forms/form_control.html.erb
  lib/primer/forms/multi.html.erb
  lib/primer/forms/primer_multi_input.ts
  lib/primer/forms/radio_button.html.erb
  lib/primer/forms/text_field.html.erb
  previews/primer/forms/forms_preview/multi_input_form.html.erb
  test/lib/primer/forms/checkbox_group_input_test.rb
  test/lib/primer/forms/checkbox_input_test.rb
  test/lib/primer/forms/forms_test.rb
  test/lib/primer/forms/integration_forms_test.rb
  test/lib/primer/forms/multi_input_test.rb
  test/lib/primer/forms/radio_button_input_test.rb
  test/lib/primer/forms/select_list_input_test.rb
  test/lib/primer/forms/text_area_input_test.rb
  test/lib/primer/forms/text_field_input_test.rb
Labels: javascript

#1697 More PVCs use new Slots API
  .changeset/gorgeous-zoos-tap.md
  app/components/primer/alpha/action_list.rb
  app/components/primer/alpha/action_list/divider.rb
  app/components/primer/alpha/action_list/heading.rb
  app/components/primer/alpha/action_list/item.rb
  app/components/primer/alpha/auto_complete.rb
  app/components/primer/alpha/auto_complete/item.rb
  app/components/primer/alpha/banner.rb
  app/components/primer/alpha/dialog.rb
  previews/primer/alpha/action_list_preview.rb
  test/components/alpha/auto_complete_test.rb
  test/components/component_test.rb
Labels: ruby

#1696 Move `Primer::OcticonSymbolComponent` to `Primer::Alpha::OcticonSymbols`
  .changeset/happy-crabs-decide.md
  app/components/primer/alpha/octicon_symbols.html.erb
  app/components/primer/alpha/octicon_symbols.rb
  app/components/primer/beta/octicon.rb
  app/components/primer/octicon_symbols_component.rb
  component_status_migrator.thor
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  lib/primer/deprecations.yml
  lib/tasks/docs.rake
  static/arguments.json
  static/audited_at.json
  static/constants.json
  static/statuses.json
  test/components/alpha/octicon_symbols_test.rb
  test/components/component_test.rb
Labels: ruby

#1698 Move `Primer::SpinnerComponent` to `Primer::Beta::Spinner`
  .changeset/gorgeous-items-breathe.md
  .playwright/screenshots/previews.test.ts-snapshots/primer/beta/spinner_preview/default.png
  .playwright/screenshots/previews.test.ts-snapshots/primer/beta/spinner_preview/focused.png
  app/components/primer/alpha/image_crop.html.erb
  app/components/primer/alpha/toggle_switch.html.erb
  app/components/primer/beta/blankslate.rb
  app/components/primer/beta/spinner.html.erb
  app/components/primer/beta/spinner.rb
  app/components/primer/blankslate_component.rb
  app/components/primer/spinner_component.rb
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  lib/primer/deprecations.yml
  lib/tasks/docs.rake
  previews/primer/beta/spinner_preview.rb
  previews/primer/spinner_component_preview.rb
  static/arguments.json
  static/audited_at.json
  static/constants.json
  static/statuses.json
  test/components/beta/spinner_test.rb
  test/components/component_test.rb
Labels: ruby

#1700 Fix a test that fails in non-UTC TZs
  test/components/primer/beta/relative_time_test.rb
Labels: skip changelog

#1686 Release Tracking
  .changeset/cold-bobcats-occur.md
  .changeset/fair-ties-boil.md
  .changeset/fresh-countries-draw.md
  .changeset/gorgeous-items-breathe.md
  .changeset/gorgeous-zoos-tap.md
  .changeset/happy-crabs-decide.md
  .changeset/lazy-trains-wink.md
  .changeset/long-ears-sniff.md
  .changeset/mean-poets-poke.md
  .changeset/metal-rivers-care.md
  .changeset/new-dancers-train.md
  .changeset/poor-humans-invent.md
  .changeset/rich-waves-judge.md
  .changeset/rude-toes-play.md
  .changeset/small-clouds-fail.md
  .changeset/witty-boats-explain.md
  CHANGELOG.md
  Gemfile.lock
  demo/Gemfile.lock
  lib/primer/view_components/version.rb
  package-lock.json
  package.json
Labels: Release pending

#1586 Addressing a11y feedback on the SegmentedControl
  .changeset/slimy-humans-cheer.md
  app/components/primer/alpha/segmented_control.pcss
  app/components/primer/alpha/segmented_control.rb
Labels: ruby, css

#1703 Beta components use new Slots API
  .changeset/thick-numbers-beam.md
  app/components/primer/alpha/dropdown.html.erb
  app/components/primer/alpha/dropdown/menu.rb
  app/components/primer/beta/auto_complete.rb
  app/components/primer/beta/auto_complete/item.rb
  app/components/primer/beta/avatar_stack.rb
  app/components/primer/beta/blankslate.rb
  app/components/primer/beta/border_box.rb
  app/components/primer/beta/border_box/header.rb
  app/components/primer/beta/breadcrumbs.rb
  app/components/primer/beta/button.rb
  app/components/primer/beta/button_group.rb
  app/components/primer/beta/details.rb
  app/components/primer/beta/flash.rb
  app/components/primer/beta/link.rb
  app/components/primer/beta/octicon.rb
  app/components/primer/beta/popover.rb
  app/components/primer/beta/truncate.rb
  app/components/primer/dropdown_menu_component.rb
  previews/primer/beta/details_preview.rb
  previews/primer/local_time_component_preview.rb
  previews/primer/time_ago_component_preview.rb
  previews/primer/url_helpers.rb
  test/components/beta/auto_complete/item_test.rb
  test/components/beta/auto_complete_test.rb
  test/components/beta/avatar_stack_test.rb
  test/components/beta/blankslate_test.rb
  test/components/beta/border_box/header_test.rb
  test/components/beta/border_box_test.rb
  test/components/beta/button_group_test.rb
  test/components/beta/details_test.rb
  test/components/beta/flash_test.rb
  test/components/beta/link_test.rb
  test/components/beta/popover_test.rb
  test/components/beta/truncate_test.rb
  test/components/breadcrumbs_test.rb
  test/components/component_test.rb
Labels: ruby

#1709 Fix doc examples so server-side components like AutoComplete and ToggleSwitch work as expected
  app/components/primer/alpha/auto_complete.rb
  app/components/primer/alpha/toggle_switch.rb
  app/components/primer/beta/auto_complete.rb
  previews/primer/url_helpers.rb
Labels: ruby, skip changelog

#1699 Updating `ComponentNameMigration` and Rubocop / ERBLint CI steps
  .changeset/soft-wasps-compete.md
  .erb-linters/reporters/github_reporter.rb
  .rubocop.yml
  app/components/primer/alpha/dialog.rb
  lib/primer/deprecations.rb
  lib/rubocop/cop/primer/component_name_migration.rb
  test/lib/deprecation_messages_test.rb
  test/lib/erblint/deprecated_components_counter_test.rb
  test/lib/rubocop/deprecated_components_test.rb
Labels: ruby

#1716 Move `Primer::StateComponent` to `Primer::Beta::State` and deprecate the original
  .changeset/funny-pugs-admire.md
  .playwright/screenshots/previews.test.ts-snapshots/primer/beta/state_preview/default.png
  .playwright/screenshots/previews.test.ts-snapshots/primer/beta/state_preview/focused.png
  app/components/primer/beta/state.pcss
  app/components/primer/beta/state.rb
  app/components/primer/primer.pcss
  app/components/primer/state_component.rb
  docs/content/migration.md
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  lib/primer/deprecations.yml
  lib/tasks/docs.rake
  previews/primer/beta/state_preview.rb
  previews/primer/state_component_preview.rb
  static/arguments.json
  static/audited_at.json
  static/constants.json
  static/statuses.json
  test/components/beta/state_test.rb
  test/components/component_test.rb
  test/css/component_specific_selectors_test.rb
Labels: ruby, css

#1721 fix more previews to use new Slots API
  .changeset/cold-planets-happen.md
  app/components/primer/alpha/underline_nav.rb
  app/components/primer/beta/auto_complete.rb
  previews/primer/alpha/underline_nav_preview.rb
Labels: ruby

#1720 move `Primer::SubheadCompononent` to `Primer::Beta::Subhead`
  .changeset/khaki-crabs-retire.md
  .playwright/screenshots/previews.test.ts-snapshots/primer/beta/subhead_preview/default.png
  .playwright/screenshots/previews.test.ts-snapshots/primer/beta/subhead_preview/focused.png
  app/components/primer/beta/subhead.html.erb
  app/components/primer/beta/subhead.pcss
  app/components/primer/beta/subhead.rb
  app/components/primer/primer.pcss
  app/components/primer/subhead_component.rb
  docs/content/migration.md
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  lib/primer/deprecations.yml
  lib/primer/view_components/linters/subhead_component_migration_counter.rb
  lib/tasks/docs.rake
  previews/primer/beta/subhead_preview.rb
  previews/primer/beta/subhead_preview/actions.html.erb
  previews/primer/subhead_component_preview.rb
  static/arguments.json
  static/audited_at.json
  static/constants.json
  static/statuses.json
  test/components/beta/subhead_test.rb
  test/components/component_test.rb
  test/css/component_selector_use_test.rb
Labels: ruby, css

#1726 Move `Primer::HellipButton` to `Primer::Alpha::HellipButton`
  .changeset/thin-buckets-press.md
  .playwright/screenshots/previews.test.ts-snapshots/primer/alpha/hellip_button_preview/default.png
  .playwright/screenshots/previews.test.ts-snapshots/primer/alpha/hellip_button_preview/focused.png
  app/components/primer/alpha/hellip_button.rb
  app/components/primer/alpha/hidden_text_expander.rb
  app/components/primer/hellip_button.rb
  lib/primer/deprecations.yml
  lib/tasks/docs.rake
  previews/primer/alpha/hellip_button_preview.rb
  previews/primer/hellip_button_preview.rb
  static/arguments.json
  static/audited_at.json
  static/constants.json
  static/statuses.json
  test/components/alpha/hellip_button_test.rb
  test/components/component_test.rb
Labels: ruby

#1727 Move Primer::TimelineItemComponent to Primer::Beta::TimelineItem
  .changeset/unlucky-pugs-attack.md
  .playwright/screenshots/previews.test.ts-snapshots/primer/beta/timeline_item_preview/default.png
  .playwright/screenshots/previews.test.ts-snapshots/primer/beta/timeline_item_preview/focused.png
  app/components/primer/beta/timeline_item.html.erb
  app/components/primer/beta/timeline_item.pcss
  app/components/primer/beta/timeline_item.rb
  app/components/primer/primer.pcss
  app/components/primer/timeline_item_component.rb
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  lib/primer/deprecations.yml
  lib/tasks/docs.rake
  previews/primer/beta/timeline_item_preview.rb
  previews/primer/timeline_item_component_preview.rb
  static/arguments.json
  static/audited_at.json
  static/constants.json
  static/statuses.json
  test/components/beta/timeline_item_test.rb
  test/components/component_test.rb
  test/css/component_selector_use_test.rb
  test/css/component_specific_selectors_test.rb
Labels: ruby, css

#1732 Update markdownlinting packages and configs
  .devcontainer/devcontainer.json
  .github/workflows/lint.yml
  .markdownlint-cli2.cjs
  .markdownlint.json
  package-lock.json
  package.json
Labels: skip changelog

#1729 Correctly deprecate `Primer::TimelineItemComponent::BadgeComponent` in favor of `Primer::Beta::TimelineItem::Badge`
  .changeset/little-ducks-fix.md
  app/components/primer/beta/timeline_item.rb
  app/components/primer/timeline_item_component.rb
  demo/Gemfile.lock
  lib/primer/deprecations.yml
  static/audited_at.json
  static/constants.json
  static/statuses.json
Labels: ruby

#1714 Release Tracking
  .changeset/chatty-walls-thank.md
  .changeset/cold-planets-happen.md
  .changeset/cuddly-scissors-impress.md
  .changeset/famous-clocks-listen.md
  .changeset/fluffy-dodos-rush.md
  .changeset/funny-pugs-admire.md
  .changeset/khaki-crabs-retire.md
  .changeset/little-ducks-fix.md
  .changeset/lovely-boats-hang.md
  .changeset/many-carrots-fry.md
  .changeset/modern-games-destroy.md
  .changeset/purple-eels-deliver.md
  .changeset/soft-wasps-compete.md
  .changeset/thin-buckets-press.md
  .changeset/unlucky-pugs-attack.md
  CHANGELOG.md
  Gemfile.lock
  demo/Gemfile.lock
  lib/primer/view_components/version.rb
  package-lock.json
  package.json
Labels: Release pending
