Repository primer/view_components, pull requests merged in 2022-10, with the labels that each got.

#1417 Introducing Stylelint to lint component *.pcss files
  .github/workflows/lint.yml
  .stylelintrc.json
  .vscode/tasks.json
  app/components/primer/alpha/action_list/action-list.pcss
  app/components/primer/beta/button.pcss
  package-lock.json
  package.json
Labels: skip changelog, css

#1435 Allow NavList items to be selected by the current page
  .changeset/twelve-doors-tease.md
  app/components/primer/alpha/action_list/item.rb
  app/components/primer/alpha/nav_list/item.rb
  app/components/primer/alpha/nav_list/section.rb
  test/components/alpha/nav_list_test.rb
Labels: ruby

#1438 ActionListItem `line-height` bug fix
  .changeset/silly-foxes-sit.md
  app/components/primer/alpha/action_list/action-list.pcss
Labels: css

#1439 Support system arguments for ActionList item anchor tags
  .changeset/ninety-balloons-reflect.md
  app/components/primer/alpha/action_list/item.rb
  static/arguments.json
  test/components/alpha/action_list_test.rb
Labels: ruby

#1441 Removing FlexComponent and FlexItemComponent
  .changeset/silver-needles-sparkle.md
  app/components/primer/flex_component.rb
  app/components/primer/flex_item_component.rb
  app/components/primer/layout_component.html.erb
  app/components/primer/layout_component.rb
  lib/primer/deprecations.rb
  lib/tasks/docs.rake
  static/arguments.json
  static/audited_at.json
  static/constants.json
  static/statuses.json
  test/components/alpha/nav_list_test.rb
  test/components/component_test.rb
  test/components/flex_component_test.rb
  test/components/flex_item_component_test.rb
  test/linters/deprecated_components_counter_test.rb
  test/rubocop/deprecated_components_test.rb
Labels: ruby

#1445 Remove unused instance variable in ActionList
  .changeset/mighty-rules-look.md
  app/components/primer/alpha/action_list.rb
Labels: ruby

#1447 Also run forms tests
  lib/tasks/test.rake
Labels: skip changelog

#1446 Allow NavLists to define sub-items as well as a trailing visual
  .changeset/long-boats-remain.md
  app/components/primer/alpha/nav_list/item.rb
  test/components/alpha/nav_list_test.rb
Labels: ruby

#1451 Adding theme param to render preview with theme
  demo/app/helpers/application_helper.rb
  demo/app/views/layouts/component_preview.html.erb
Labels: skip changelog

#1450 Don't export ToggleSwitchElement
  .changeset/cold-rules-cough.md
  app/components/primer/alpha/toggle_switch.ts
Labels: javascript

#1454 Don't build snapshots on release
  .github/workflows/demo-preview-destroy.yml
  .github/workflows/test.yml
  test/snapshots/primer/alpha/auto_complete/default/light/focus.png
  test/snapshots/primer/alpha/auto_complete/with_clear_button/light/focus.png
  test/snapshots/primer/alpha/auto_complete/with_inline_label/light/focus.png
  test/snapshots/primer/beta/auto_complete/leading_visual/light/focus.png
  test/snapshots/primer/beta/auto_complete/leading_visual_in_results/light/focus.png
  test/snapshots/primer/beta/auto_complete/monospace/light/focus.png
  test/snapshots/primer/beta/auto_complete/small/light/focus.png
  test/snapshots/primer/beta/auto_complete/trailing_visual_in_results/light/focus.png
  test/snapshots/primer/beta/auto_complete/visually_hide_label/light/focus.png
Labels: skip changelog

#1460 Remove workflow that updates status project board
  .github/workflows/statuses.yml
  script/update-statuses-project.rb
Labels: skip changelog

#1459 Updating Lint.yml workflows to use newer Ruby and Node actions
  .github/workflows/lint.yml
Labels: skip changelog

#1443 Renaming benchmark ci run as Test > Performance and improving build times
  .github/workflows/ci.yml
  .github/workflows/test.yml
  lib/tasks/test.rake
  test/performance/bench_classify.rb
  test/performance/bench_octicons.rb
Labels: skip changelog

#1465 Apply browser options to driver in ApplicationSystemTestCase
  test/application_system_test_case.rb
Labels: skip changelog

#1466 Removing deprecated HiddenTextExpander
  .changeset/hungry-shrimps-burn.md
  app/components/primer/hidden_text_expander.rb
  lib/primer/deprecations.rb
  static/audited_at.json
  static/constants.json
  static/statuses.json
  test/components/component_test.rb
Labels: ruby

#1467 Removing Primer::DetailsComponent
  .changeset/violet-houses-visit.md
  app/components/primer/details_component.rb
  lib/primer/deprecations.rb
  static/audited_at.json
  static/constants.json
  static/statuses.json
  test/components/component_test.rb
Labels: ruby

#1468 Removing deprecated Primer::CloseButton
  .changeset/soft-horses-compare.md
  app/components/primer/close_button.rb
  lib/primer/deprecations.rb
  lib/primer/view_components/linters/close_button_component_migration_counter.rb
  static/audited_at.json
  static/constants.json
  static/statuses.json
  test/components/component_test.rb
Labels: ruby

#1469 Removing deprecated Primer::HeadingComponent
  .changeset/calm-worms-hang.md
  app/components/primer/heading_component.rb
  lib/primer/deprecations.rb
  static/audited_at.json
  static/constants.json
  static/statuses.json
  test/components/component_test.rb
Labels: ruby

#1470 Run script with bash
  script/dev
Labels: skip changelog

#1471 Nested dialogs
  .changeset/loud-goats-enjoy.md
  app/components/primer/alpha/modal_dialog.ts
  previews/primer/alpha/dialog_preview.rb
  previews/primer/alpha/dialog_preview/nested_dialog.html.erb
  script/dev
Labels: javascript

#1474 Upgrades to our PostCSS build toolkit
  .browserslistrc
  .stylelintrc.json
  postcss.config.js
Labels: skip changelog

#1475 Adding a pull request template
  .github/pull_request_template.md
Labels: skip changelog

#1478 Update eslint plugin GitHub
  .browserslistrc
  .eslintrc.json
  app/components/primer/alpha/nav_list.ts
  package-lock.json
  package.json
Labels: javascript, skip changelog

#1481 Consolidate docs folders into docs/
  CONTRIBUTING.md
  docs/adr/0246-record-architecture-decisions.md
  docs/adr/0250-developing-and-publishing-clientside-behaviours.md
  docs/adr/0251-use-catalyst-for-client-side-behaviours.md
  docs/adr/0252-build-component-css-with-ruby-code.md
  docs/contributors/README.md
  docs/contributors/adding-components.md
  docs/contributors/releasing.md
  docs/contributors/setup.md
  docs/contributors/styling.md
  docs/contributors/updating-components.md
  lib/tasks/docs.rake
Labels: skip changelog

#1472 Removing view_component/engine
  demo/config/application.rb
Labels: skip changelog

#1482 Deploy production docs and lookbook app only when a release is created
  .github/workflows/demo-production-deploy.yml
  .github/workflows/docs-production-deploy.yml
Labels: skip changelog

#1483 Adding docs hero banner to PVC site
  docs/src/@primer/gatsby-theme-doctocat/components/hero.js
  docs/src/@primer/gatsby-theme-doctocat/primer-components-hero.svg
Labels: skip changelog

#1484 Get attribute from trigger button and not event target
  app/components/primer/alpha/modal_dialog.ts
Labels: javascript, skip changelog

#1486 Remove dead SCSS code from ActionList
  .changeset/shiny-kangaroos-enjoy.md
  app/components/primer/alpha/action_list/action-list.pcss
Labels: css

#1487 Fix our custom Octicon input type in Lookbook
  Gemfile.lock
  demo/Gemfile.lock
  demo/app/views/lookbook/previews/inputs/_octicon.html.erb
  demo/config/initializers/custom_inputs.rb
  demo/package-lock.json
Labels: skip changelog

#1493 Fix missing components.json
  lib/tasks/docs.rake
Labels: skip changelog

#1491 Icon button hide tooltip
  .changeset/unlucky-bags-perform.md
  app/components/primer/beta/icon_button.rb
  previews/primer/beta/icon_button_preview.rb
  static/arguments.json
  test/components/primer/beta/icon_button_test.rb
Labels: ruby

#1501 Adding view components version to lookbook title
  demo/config/application.rb
Labels: skip changelog

#1502 Combine docs and demo deploy workflows
  .github/workflows/demo-preview-destroy.yml
  .github/workflows/docs-preview-deploy.yml
  .github/workflows/preview-deploy.yml
Labels: skip changelog

#1503 Combine labeler and check for change into triage
  .github/workflows/labeler.yml
  .github/workflows/triage.yml
Labels: skip changelog

#1500 Upgrade simplecov to latest version, and adjust testing of coverage in actions
  .github/workflows/ci.yml
  .github/workflows/test.yml
  .gitignore
  .simplecov
  Gemfile.lock
  lib/primer/example_image.rb
  lib/primer/view_components/version.rb
  lib/tasks/coverage.rake
  lib/tasks/test.rake
  primer_view_components.gemspec
  test/test_helper.rb
Labels: skip changelog

#1225 SegmentedControl component
  .changeset/strange-doors-listen.md
  app/components/primer/alpha/segmented_control.html.erb
  app/components/primer/alpha/segmented_control.pcss
  app/components/primer/alpha/segmented_control.rb
  app/components/primer/alpha/segmented_control.ts
  app/components/primer/alpha/segmented_control/item.html.erb
  app/components/primer/alpha/segmented_control/item.rb
  app/components/primer/primer.pcss
  app/components/primer/primer.ts
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  lib/tasks/docs.rake
  previews/primer/alpha/segmented_control_preview.rb
  static/arguments.json
  static/audited_at.json
  static/constants.json
  static/statuses.json
  test/components/component_test.rb
  test/components/primer/alpha/segmented_control_test.rb
Labels: javascript, ruby, accessibility, css

#1527 Migrate Primer::Image to Primer::Alpha::Image
  .changeset/real-jars-hear.md
  app/components/primer/alpha/image.rb
  app/components/primer/beta/blankslate.rb
  app/components/primer/image.rb
  app/lib/primer/view_helper.rb
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  lib/primer/deprecations.rb
  lib/tasks/docs.rake
  static/arguments.json
  static/audited_at.json
  static/constants.json
  static/statuses.json
  test/components/alpha/image_test.rb
  test/components/component_test.rb
Labels: ruby

#1528 [WIP] migrating Primer::ImageCrop to Primer::Alpha::ImageCrop
  .changeset/witty-shirts-exist.md
  app/components/primer/alpha/image_crop.html.erb
  app/components/primer/alpha/image_crop.rb
  app/components/primer/alpha/image_crop.ts
  app/components/primer/image_crop.rb
  app/components/primer/primer.ts
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  lib/primer/deprecations.rb
  lib/tasks/docs.rake
  previews/primer/alpha/image_crop_preview.rb
  previews/primer/image_crop_preview.rb
  static/arguments.json
  static/audited_at.json
  static/constants.json
  static/statuses.json
  test/components/alpha/image_crop_test.rb
  test/components/component_test.rb
Labels: javascript, ruby

#1532 migrate Primer::LinkComponent to Primer::Beta::LinkComponent
  .changeset/happy-yaks-smoke.md
  app/components/primer/alpha/tooltip.rb
  app/components/primer/beta/avatar.rb
  app/components/primer/beta/blankslate.rb
  app/components/primer/beta/breadcrumbs.rb
  app/components/primer/beta/link.rb
  app/components/primer/link_component.rb
  app/components/primer/subhead_component.rb
  component_status_migrator.thor
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  lib/primer/deprecations.rb
  lib/tasks/docs.rake
  previews/primer/alpha/tooltip_preview.rb
  previews/primer/beta/link_preview.rb
  previews/primer/link_component_preview.rb
  static/arguments.json
  static/audited_at.json
  static/constants.json
  static/statuses.json
  test/components/beta/link_test.rb
  test/components/component_test.rb
Labels: ruby

#1535 Disable cops for erblint only
  .erb-lint.yml
Labels: skip changelog

#1533 Banner component
  .changeset/dull-bobcats-carry.md
  app/components/primer/beta/banner.html.erb
  app/components/primer/beta/banner.pcss
  app/components/primer/beta/banner.rb
  app/components/primer/beta/x_banner.ts
  app/components/primer/primer.pcss
  app/components/primer/primer.ts
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  lib/primer/view_components/linters/argument_mappers/flash.rb
  lib/primer/view_components/linters/migrate_deprecated_flash_arguments.rb
  lib/tasks/docs.rake
  previews/primer/beta/banner_preview.rb
  previews/primer/beta/banner_preview/with_action_button.html.erb
  previews/primer/beta/banner_preview/with_action_content.html.erb
  static/arguments.json
  static/audited_at.json
  static/constants.json
  static/statuses.json
  test/components/beta/banner_test.rb
  test/components/component_test.rb
  test/lib/erblint/argument_mappers/flash_test.rb
  test/lib/erblint/migrate_deprecated_flash_arguments_test.rb
  test/system/beta/banner_test.rb
  test/system/test_case.rb
Labels: javascript, ruby, css

#1539 Bug Fix: Fixing bad CSS in action-list.css and writing test to check for error
  .changeset/little-bees-doubt.md
  .stylelintrc.json
  app/components/primer/alpha/action_list/action-list.pcss
  app/components/primer/beta/button.pcss
  test/components/component_css_test.rb
Labels: css

#1545 Changing actions workflows to use ruby/setup-ruby
  .github/workflows/demo-production-deploy.yml
  .github/workflows/docs-production-deploy.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Labels: skip changelog

#1540 Write test to make sure asset naming matches component
  .changeset/pink-windows-clean.md
  app/components/primer/alpha/action_list.pcss
  app/components/primer/alpha/action_list/action-list-selection.pcss
  app/components/primer/primer.pcss
  test/components/asset_naming_test.rb
Labels: css

#1538 Export component CSS selectors as json file for testing
  .changeset/perfect-fans-stare.md
  .gitignore
  app/components/primer/primer.pcss
  package.json
  script/build-assets
  script/export-css-selectors
Labels: css

#1548 Banner legacy classes
  .changeset/weak-moose-itch.md
  app/components/primer/beta/banner.rb
  test/components/beta/banner_test.rb
Labels: ruby

#1549 Expanding out primer/css imports into separate calls
  demo/app/assets/stylesheets/application.css
  demo/config/initializers/assets.rb
  demo/package.json
  docs/src/@primer/gatsby-theme-doctocat/components/head.js
Labels: skip changelog

#1550 Removing deprecated ImageCrop component
  .changeset/moody-olives-hammer.md
  app/components/primer/image_crop.rb
  lib/primer/deprecations.rb
  static/audited_at.json
  static/constants.json
  static/statuses.json
  test/components/component_test.rb
Labels: ruby
