Repository primer/view_components, pull requests merged in 2023-06, with the labels that each got.

#2033 Add `@primer/primitives` dependency to docs
  .changeset/young-peaches-hear.md
  demo/app/assets/stylesheets/application.css
  demo/package-lock.json
  demo/package.json
  docs/package-lock.json
  docs/package.json
  package-lock.json
  package.json
Labels: patch release

#2029 Legacy redirects
  .github/workflows/docs-production-deploy.yml
  docs/gatsby-config.js
  docs/package-lock.json
  docs/package.json
  lib/tasks/docs.rake
Labels: skip changelog

#2057 README: Update link to https://primer.style/view_components/
  README.md
Labels: skip changelog

#2060 ActionMenu: Move `aria-checked` to button
  .changeset/gorgeous-paws-lay.md
  app/components/primer/alpha/action_list.pcss
  app/components/primer/alpha/action_list/item.rb
  app/components/primer/alpha/action_menu/action_menu_element.ts
  app/components/primer/alpha/action_menu/list.rb
  test/system/alpha/action_menu_test.rb
Labels: javascript, ruby, css, minor release

#2055 tweak popover css
  .changeset/angry-files-leave.md
  .github/workflows/preview-deploy.yml
  app/components/primer/alpha/overlay.pcss
Labels: css, patch release

#2061 Link to 'Rails' tab when linking to new docsite
  lib/tasks/docs.rake
Labels: skip changelog

#2063 Disable autoprefixer in docs:build instead of actions config
  .github/workflows/preview-deploy.yml
  lib/tasks/docs.rake
Labels: skip changelog

#2059 Fix keyboard functionality with deferred loading in ActionMenu
  .changeset/moody-pens-cry.md
  app/components/primer/alpha/action_menu/action_menu_element.ts
  app/components/primer/primer.ts
  previews/primer/alpha/action_menu_preview.rb
  previews/primer/alpha/action_menu_preview/two_menus.html.erb
  test/system/alpha/action_menu_test.rb
Labels: javascript, patch release

#2070 Fix disabled button behavior
  .changeset/tall-ducks-brake.md
  app/components/primer/alpha/button_marketing.rb
  app/components/primer/alpha/hellip_button.rb
  app/components/primer/beta/base_button.rb
  app/components/primer/beta/button.rb
  app/components/primer/beta/close_button.rb
  app/components/primer/beta/icon_button.rb
  previews/primer/alpha/button_marketing_preview.rb
  previews/primer/alpha/hellip_button_preview.rb
  previews/primer/beta/base_button_preview.rb
  previews/primer/beta/close_button_preview.rb
  test/components/alpha/button_marketing_test.rb
  test/components/alpha/hellip_button_test.rb
  test/components/beta/close_button_test.rb
  test/components/primer/beta/icon_button_test.rb
Labels: ruby, minor release

#2071 ActionMenu: don't swallow events attached via addEventListener
  .changeset/mighty-pandas-pump.md
  app/components/primer/alpha/action_menu/action_menu_element.ts
  previews/primer/alpha/action_menu_preview.rb
  previews/primer/alpha/action_menu_preview/with_actions.html.erb
Labels: javascript, patch release

#2067 Bump `erblint-github` and make sure it is actually running.
  .erb-lint.yml
  .erb-linters/erblint-github.rb
  Gemfile.lock
  app/components/primer/alpha/octicon_symbols.html.erb
  lib/primer/view_components/linters/deprecated_components_counter.rb
  primer_view_components.gemspec
Labels: ruby, skip changelog

#2074 Allow Beta::Details to be disabled
  .changeset/violet-keys-share.md
  app/components/primer/beta/details.html.erb
  app/components/primer/beta/details.rb
  demo/Gemfile.lock
  previews/primer/beta/details_preview.rb
  test/components/beta/details_test.rb
Labels: ruby, minor release

#2077 Don't use aria-disabled for buttons
  .changeset/forty-hairs-grin.md
  app/components/primer/beta/base_button.rb
  previews/primer/beta/base_button_preview.rb
  test/components/alpha/button_marketing_test.rb
  test/components/alpha/hellip_button_test.rb
  test/components/beta/close_button_test.rb
  test/components/beta/details_test.rb
  test/components/primer/beta/icon_button_test.rb
Labels: ruby, patch release

#2075 NavList: Add aria-current to active nav item
  .changeset/flat-bulldogs-juggle.md
  app/components/primer/alpha/nav_list.ts
  app/components/primer/alpha/nav_list/item.rb
  previews/primer/alpha/nav_list_preview.rb
  test/components/alpha/nav_list_test.rb
  test/system/alpha/nav_list_test.rb
Labels: javascript, ruby, patch release

#2078 Toggle switch debounce
  .changeset/sixty-ears-play.md
  app/components/primer/alpha/toggle_switch.ts
  package-lock.json
  package.json
Labels: javascript, patch release

#2079 Another round of a11y fixes for NavList
  .changeset/chilly-cameras-boil.md
  app/components/primer/alpha/action_list.pcss
  app/components/primer/alpha/nav_list.rb
  app/components/primer/alpha/nav_list/heading.rb
  previews/primer/alpha/nav_list_preview.rb
  test/components/alpha/nav_list_test.rb
  test/components/component_test.rb
  test/css/component_specific_selectors_test.rb
Labels: ruby, css, minor release

#2084 Update tooltip docs to add note about `disabled`
  app/components/primer/alpha/tooltip.rb
Labels: ruby, skip changelog

#2083 Use `@primer/primitive` v8 color CSS vars with fallbacks
  .changeset/cuddly-hats-attack.md
  .stylelintrc.json
  app/components/primer/alpha/action_list.pcss
  app/components/primer/alpha/auto_complete.pcss
  app/components/primer/alpha/banner.pcss
  app/components/primer/alpha/button_marketing.pcss
  app/components/primer/alpha/dialog.pcss
  app/components/primer/alpha/dropdown.pcss
  app/components/primer/alpha/layout.pcss
  app/components/primer/alpha/menu.pcss
  app/components/primer/alpha/segmented_control.pcss
  app/components/primer/alpha/tab_nav.pcss
  app/components/primer/alpha/text_field.pcss
  app/components/primer/alpha/toggle_switch.pcss
  app/components/primer/alpha/underline_nav.pcss
  app/components/primer/beta/avatar.pcss
  app/components/primer/beta/avatar_stack.pcss
  app/components/primer/beta/blankslate.pcss
  app/components/primer/beta/border_box.pcss
  app/components/primer/beta/breadcrumbs.pcss
  app/components/primer/beta/button.pcss
  app/components/primer/beta/counter.pcss
  app/components/primer/beta/flash.pcss
  app/components/primer/beta/label.pcss
  app/components/primer/beta/link.pcss
  app/components/primer/beta/popover.pcss
  app/components/primer/beta/progress_bar.pcss
  app/components/primer/beta/state.pcss
  app/components/primer/beta/subhead.pcss
  app/components/primer/beta/timeline_item.pcss
  demo/package-lock.json
  demo/package.json
  docs/package-lock.json
  docs/package.json
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  lib/postcss_mixins/activeIndicatorLine.pcss
  lib/postcss_mixins/focusBoxShadowInset.pcss
  lib/postcss_mixins/focusOutline.pcss
  lib/postcss_mixins/focusOutlineOnEmphasis.pcss
  lib/postcss_mixins/targetBoxShadow.pcss
  package-lock.json
  package.json
  test/css/css_var_fallback_test.rb
Labels: css, patch release

#2086 Add lint rule against .tooltipped and introduce accessibility.yml config
  .changeset/cuddly-laws-peel.md
  .erb-lint.yml
  lib/primer/view_components/linters/accessibility.yml
  lib/primer/view_components/linters/argument_mappers/base.rb
  lib/primer/view_components/linters/base_linter.rb
  lib/primer/view_components/linters/helpers/deprecated_components_helpers.rb
  lib/primer/view_components/linters/helpers/rule_helpers.rb
  lib/primer/view_components/linters/tooltipped_migration.rb
  test/lib/erblint/linter_config_works_test.rb
  test/lib/erblint/tooltipped_migration_test.rb
Labels: minor release

#2089 Change 'skip changelog' label to 'skip changeset'
  .changeset/spicy-suns-behave.md
  .github/dependabot.yml
  .github/workflows/triage.yml
Labels: skip changeset, patch release

#2088 Separating anchored position and Overlay class
  .changeset/popular-impalas-sin.md
  app/components/primer/alpha/overlay.html.erb
  app/components/primer/alpha/overlay.pcss
  app/components/primer/alpha/overlay.rb
  app/components/primer/anchored_position.ts
  previews/primer/alpha/overlay_preview.rb
Labels: javascript, ruby, css, minor release

#2108 Fix new docsite links so they include component status
  lib/tasks/docs.rake
Labels: skip changeset

#2113 Revert v8 color var fallbacks
  .changeset/rare-cats-refuse.md
  .stylelintrc.json
  app/components/primer/alpha/action_list.pcss
  app/components/primer/alpha/auto_complete.pcss
  app/components/primer/alpha/banner.pcss
  app/components/primer/alpha/button_marketing.pcss
  app/components/primer/alpha/dialog.pcss
  app/components/primer/alpha/dropdown.pcss
  app/components/primer/alpha/layout.pcss
  app/components/primer/alpha/menu.pcss
  app/components/primer/alpha/segmented_control.pcss
  app/components/primer/alpha/tab_nav.pcss
  app/components/primer/alpha/text_field.pcss
  app/components/primer/alpha/toggle_switch.pcss
  app/components/primer/alpha/underline_nav.pcss
  app/components/primer/beta/avatar.pcss
  app/components/primer/beta/avatar_stack.pcss
  app/components/primer/beta/blankslate.pcss
  app/components/primer/beta/border_box.pcss
  app/components/primer/beta/breadcrumbs.pcss
  app/components/primer/beta/button.pcss
  app/components/primer/beta/counter.pcss
  app/components/primer/beta/flash.pcss
  app/components/primer/beta/label.pcss
  app/components/primer/beta/link.pcss
  app/components/primer/beta/popover.pcss
  app/components/primer/beta/progress_bar.pcss
  app/components/primer/beta/state.pcss
  app/components/primer/beta/subhead.pcss
  app/components/primer/beta/timeline_item.pcss
  demo/package-lock.json
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  lib/postcss_mixins/activeIndicatorLine.pcss
  lib/postcss_mixins/focusBoxShadowInset.pcss
  lib/postcss_mixins/focusOutline.pcss
  lib/postcss_mixins/focusOutlineOnEmphasis.pcss
  lib/postcss_mixins/targetBoxShadow.pcss
  package-lock.json
  package.json
  test/css/css_var_fallback_test.rb
Labels: css, patch release

#2118 Upgrading playwright
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/breadcrumbs/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/breadcrumbs/focused.png
  package-lock.json
  package.json
Labels: skip changeset

#2119 Upgrading cuprite and capybara
  Gemfile.lock
  primer_view_components.gemspec
  test/system/alpha/tooltip_test.rb
Labels: skip changeset

#2116 Add Primer Primitive version selection to Lookbook
  .gitignore
  demo/app/assets/stylesheets/application.css
  demo/app/assets/stylesheets/primitives_v8.css
  demo/app/views/layouts/component_preview.html.erb
  demo/config/application.rb
  demo/package-lock.json
Labels: skip changeset

#2124 FileNesting web component files
  .vscode/settings.json
Labels: skip changeset
