Repository primer/view_components, pull requests merged in 2023-12, with the labels that each got.

#2413 Fix HTML escaping in system arguments docs
  lib/primer/yard/lookbook_pages_backend.rb
Labels: skip changeset

#2414 Prevent default on escape key press when dismissing tooltip
  .changeset/bright-glasses-taste.md
  app/components/primer/alpha/tool_tip.ts
  test/system/alpha/tooltip_test.rb
Labels: javascript, patch release

#2415 Upgrading to @oddbird/popover-polyfill 0.3.6
  package-lock.json
  package.json
Labels: skip changeset

#2426 Asset compilation failures should break the build
  .changeset/kind-years-wink.md
  app/components/primer/alpha/tool_tip.ts
  script/build-assets
Labels: javascript, patch release

#2364 refactor Dialog to use <dialog> internally
  .changeset/wise-coats-buy.md
  app/components/primer/alpha/action_menu/action_menu_element.ts
  app/components/primer/alpha/dialog.html.erb
  app/components/primer/alpha/dialog.pcss
  app/components/primer/alpha/dialog.rb
  app/components/primer/alpha/modal_dialog.ts
  app/components/primer/alpha/overlay.pcss
  app/components/primer/dialog_helper.ts
  app/components/primer/primer.ts
  demo/package-lock.json
  demo/package.json
  package-lock.json
  package.json
  previews/primer/alpha/tooltip_preview/tooltip_with_dialog_moving_focus_to_input.html.erb
  test/components/primer/alpha/dialog_test.rb
  test/system/alpha/action_menu_test.rb
  test/system/alpha/dialog_test.rb
  test/system/alpha/tooltip_test.rb
Labels: javascript, ruby, css, minor release

#2432 Allow users to select form labels
  .changeset/fuzzy-files-relax.md
  app/components/primer/alpha/text_field.pcss
Labels: css, patch release

#2450 Fix labeler
  .github/labeler.yml
Labels: skip changeset

#2434 Add missing `box-shadow` to text field
  .changeset/wicked-bats-report.md
  app/components/primer/alpha/text_field.pcss
Labels: patch release

#2452 Fix tooltip behavior
  .changeset/breezy-jobs-report.md
  app/components/primer/alpha/tool_tip.ts
Labels: patch release

#2445 Always convert CSS classes to system arguments in linters
  .changeset/dirty-shrimps-roll.md
  lib/primer/classify/utilities.rb
  test/lib/classify/utilities_test.rb
Labels: minor release

#2447 Support font_size and border_radius in classify/utilities
  .changeset/four-shoes-think.md
  lib/primer/classify/utilities.rb
  test/lib/classify/utilities_test.rb
Labels: minor release

#2451 Improve clarity of system_arguments docs, specifically for the `width:` attribute
  app/components/primer/base_component.rb
Labels: skip changeset

#2456 Add outlines for high contrast mode
  .changeset/fair-kings-retire.md
  app/components/primer/alpha/overlay.pcss
  app/components/primer/alpha/tool_tip.ts
Labels: patch release

#2411 ensure scroll position does not change when opening actionmenu
  .changeset/tall-emus-jump.md
  app/components/primer/alpha/action_menu/action_menu_element.ts
  previews/primer/alpha/action_menu_preview.rb
  previews/primer/alpha/action_menu_preview/in_scroll_container.html.erb
Labels: patch release

#2457 Fix dialogs rendered inside menu items
  .changeset/breezy-weeks-explode.md
  app/components/primer/alpha/action_menu/action_menu_element.ts
Labels: patch release

#2428 Make dialog region focusable via keyboard
  .changeset/great-forks-work.md
  app/components/primer/alpha/dialog.html.erb
  app/components/primer/alpha/dialog.rb
  app/components/primer/primer.ts
  app/components/primer/scrollable_region.ts
  test/system/alpha/dialog_test.rb
Labels: patch release

#2468 Revert "refactor Dialog to use <dialog> internally"
  .changeset/wise-coats-buy.md
  app/components/primer/alpha/action_menu/action_menu_element.ts
  app/components/primer/alpha/dialog.html.erb
  app/components/primer/alpha/dialog.pcss
  app/components/primer/alpha/dialog.rb
  app/components/primer/alpha/modal_dialog.ts
  app/components/primer/alpha/overlay.pcss
  app/components/primer/dialog_helper.ts
  app/components/primer/primer.ts
  demo/package-lock.json
  demo/package.json
  package-lock.json
  package.json
  previews/primer/alpha/tooltip_preview/tooltip_with_dialog_moving_focus_to_input.html.erb
  test/components/primer/alpha/dialog_test.rb
  test/system/alpha/action_menu_test.rb
  test/system/alpha/dialog_test.rb
  test/system/alpha/tooltip_test.rb
Labels: skip changeset
