Repository primer/view_components, pull requests merged in 2023-02, with the labels that each got.

#1788 Document `TextField`'s `auto_check_src` argument
  .changeset/loud-students-switch.md
  app/components/primer/alpha/text_field.rb
  previews/primer/alpha/text_field_preview.rb
Labels: ruby

#1792 Removing the deprecated Primer::TimeAgoComponent
  .changeset/strong-kangaroos-speak.md
  app/components/primer/beta/relative_time.ts
  app/components/primer/primer.ts
  app/components/primer/time_ago_component.rb
  app/lib/primer/view_helper.rb
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  lib/primer/deprecations.yml
  lib/primer/yard/component_manifest.rb
  previews/primer/time_ago_component_preview.rb
  static/arguments.json
  static/audited_at.json
  static/constants.json
  static/statuses.json
  test/components/component_test.rb
  test/components/time_ago_component_test.rb
  test/lib/primer/view_helper_test.rb
  test/system/time_ago_component_test.rb
Labels: javascript, ruby

#1809 Restore old ActionView functionality to unbreak forms
  lib/primer/forms/acts_as_component.rb
Labels: skip changelog

#1785 Release Tracking
  .changeset/breezy-wombats-act.md
  .changeset/kind-ears-approve.md
  .changeset/loud-students-switch.md
  .changeset/shiny-actors-share.md
  .changeset/slow-sheep-boil.md
  .changeset/strong-kangaroos-speak.md
  .changeset/swift-shirts-press.md
  .changeset/tidy-months-relax.md
  CHANGELOG.md
  Gemfile.lock
  demo/Gemfile.lock
  lib/primer/view_components/version.rb
  package-lock.json
  package.json
Labels: Release pending

#1813 Rewrite selector test
  .github/workflows/test.yml
  .gitignore
  app/lib/primer/css/layout.css.json
  app/lib/primer/css/utilities.css.json
  script/export-css-selectors
  test/css/component_selector_use_test.rb
Labels: skip changelog

#1818 Fix issue in TabPanels causing extra content to render twice
  .changeset/flat-cups-press.md
  app/components/primer/alpha/tab_panels.rb
  test/components/alpha/tab_panels_test.rb
  test/test_helpers/component_test_helpers.rb
Labels: ruby

#1820 Fixing a missed slot migration
  app/components/primer/alpha/dialog.rb
Labels: ruby, skip changelog

#1816 Refactor the component manifest; rename YARD -> Yard
  lib/primer/yard.rb
  lib/primer/yard/backend.rb
  lib/primer/yard/component_manifest.rb
  lib/primer/yard/component_ref.rb
  lib/primer/yard/docs_helper.rb
  lib/primer/yard/legacy_gatsby_backend.rb
  lib/primer/yard/registry.rb
  lib/primer/yard/renders_many_handler.rb
  lib/primer/yard/renders_one_handler.rb
  lib/tasks/docs.rake
  test/lib/yard/docs_helper_test.rb
Labels: skip changelog

#1817 Forms framework docs
  .github/workflows/static-files.yml
  .gitignore
  demo/config/application.rb
  demo/config/initializers/kuby.rb
  demo/kuby.rb
  docs/src/@primer/gatsby-theme-doctocat/components/example.js
  lib/primer/yard/component_manifest.rb
  lib/primer/yard/lookbook_docs_helper.rb
  lib/primer/yard/lookbook_pages_backend.rb
  lib/tasks/docs.rake
  previews/pages/forms/01_introduction.md.erb
  previews/pages/forms/02_getting_started.md.erb
  previews/pages/forms/03_caption_templates.md.erb
  previews/pages/forms/04_after_content.md.erb
  previews/pages/forms/05_groups_layouts.md.erb
  previews/pages/forms/06_miscellaneous_inputs.md.erb
  previews/pages/forms/07_toggle_switch_forms.md.erb
  previews/pages/forms/08_validations.md.erb
  previews/pages/forms/09_compound_forms.md.erb
  previews/pages/forms/inputs/.gitkeep
  previews/primer/forms/forms_preview.rb
Labels: skip changelog

#1821 Standalone form control
  .changeset/polite-turkeys-rush.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/form_control/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/form_control/focused.png
  app/components/primer/alpha/form_control.html.erb
  app/components/primer/alpha/form_control.rb
  previews/primer/alpha/form_control_preview.rb
  previews/primer/alpha/form_control_preview/playground.html.erb
  test/components/alpha/form_control_test.rb
  test/components/component_test.rb
Labels: ruby

#1826 Fix production Docker builds
  .github/workflows/demo-production-deploy.yml
Labels: skip changelog

#1824 ToggleSwitch and SegmentedControl visual updates + Primitives (PCSS) version bump
  .changeset/honest-ants-end.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/toggle_switch/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/toggle_switch/focused.png
  app/components/primer/alpha/segmented_control.pcss
  app/components/primer/alpha/toggle_switch.pcss
  demo/package-lock.json
  demo/package.json
  docs/package-lock.json
  docs/package.json
  package-lock.json
  package.json
Labels: css

#1832 support ViewComponent v3.0.0.rc2
  .changeset/olive-queens-itch.md
  Gemfile.lock
  app/components/primer/component.rb
  test/components/beta/close_button_test.rb
  test/components/beta/link_test.rb
  test/css/component_specific_selectors_test.rb
  test/css/test_helper.rb
Labels: ruby

#1831 Use OIDC and Azure federated credentials (instead of client secrets) for prod deploys
  .github/workflows/demo-production-deploy.yml
  demo/Gemfile.lock
  demo/gemfiles/kuby.gemfile
  demo/gemfiles/kuby.gemfile.lock
  demo/kuby.rb
Labels: skip changelog

#1835 Fix condition for including polymorphic slots module
  .changeset/shaggy-apes-listen.md
  app/components/primer/component.rb
Labels: ruby

#1836 Use OIDC for preview deploys
  .github/workflows/preview-deploy.yml
Labels: skip changelog

#1844 Remove extra space between flash icon and message
  .changeset/eighty-cars-guess.md
  app/components/primer/beta/flash.html.erb
Labels: ruby

#1840 Fix issue causing NavList parents to be selected
  .changeset/rare-ghosts-train.md
  app/components/primer/alpha/nav_list.rb
  app/components/primer/alpha/nav_list.ts
  app/components/primer/alpha/nav_list/item.rb
  test/components/alpha/nav_list_test.rb
Labels: javascript, ruby

#1845 Use system arguments instead of utility classes for NavList's "show more" item
  .changeset/tasty-rules-end.md
  .rubocop.yml
  app/components/primer/alpha/action_list/item.rb
  app/components/primer/alpha/nav_list/section.rb
  demo/config/environments/test.rb
  test/lib/classify_test.rb
Labels: ruby

#1401 Overlay component
  .changeset/young-doors-happen.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/overlay/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/overlay/focused.png
  app/components/primer/alpha/overlay.html.erb
  app/components/primer/alpha/overlay.pcss
  app/components/primer/alpha/overlay.rb
  app/components/primer/alpha/overlay/body.rb
  app/components/primer/alpha/overlay/footer.rb
  app/components/primer/alpha/overlay/header.html.erb
  app/components/primer/alpha/overlay/header.rb
  app/components/primer/anchored_position.ts
  app/components/primer/primer.pcss
  app/components/primer/primer.ts
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  lib/primer/yard/component_manifest.rb
  package-lock.json
  package.json
  previews/primer/alpha/overlay_preview.rb
  previews/primer/alpha/overlay_preview/middle_of_page.html.erb
  test/components/component_test.rb
  test/components/primer/alpha/overlay_test.rb
  test/css/component_selector_use_test.rb
Labels: javascript, ruby, css

#1828 Action list a11y
  .changeset/lucky-jeans-refuse.md
  app/components/primer/alpha/action_list.html.erb
  app/components/primer/alpha/action_list.rb
  app/components/primer/alpha/action_list/divider.rb
  app/components/primer/alpha/action_list/heading.html.erb
  app/components/primer/alpha/action_list/heading.rb
  app/components/primer/alpha/action_list/item.rb
  app/components/primer/alpha/nav_list.html.erb
  app/components/primer/alpha/nav_list.rb
  app/components/primer/alpha/nav_list.ts
  app/components/primer/alpha/nav_list/group.rb
  app/components/primer/alpha/nav_list/item.html.erb
  app/components/primer/alpha/nav_list/item.rb
  app/components/primer/alpha/nav_list/section.html.erb
  app/components/primer/component.rb
  demo/Gemfile.lock
  lib/primer/yard/component_manifest.rb
  lib/tasks/docs.rake
  previews/primer/alpha/action_list_preview.rb
  previews/primer/alpha/action_list_preview/heading.html.erb
  previews/primer/alpha/nav_list_preview.rb
  previews/primer/alpha/nav_list_preview/trailing_action.html.erb
  static/audited_at.json
  static/constants.json
  static/statuses.json
  test/components/alpha/nav_list_test.rb
  test/components/component_test.rb
  test/css/component_specific_selectors_test.rb
Labels: javascript, ruby

#1848 Create an action that will label the PR based on changeset sem version
  .github/workflows/triage.yml
Labels: skip changelog

#1730 Move `Primer::Navigation::TabComponent` to `Primer::Alpha::Navigation::Tab`
  .changeset/nervous-ghosts-play.md
  app/components/primer/alpha/navigation/tab.html.erb
  app/components/primer/alpha/navigation/tab.rb
  app/components/primer/alpha/tab_nav.rb
  app/components/primer/alpha/tab_panels.rb
  app/components/primer/alpha/underline_nav.rb
  app/components/primer/alpha/underline_panels.rb
  app/components/primer/navigation/tab_component.rb
  lib/primer/deprecations.yml
  lib/primer/yard/component_manifest.rb
  static/arguments.json
  static/audited_at.json
  static/constants.json
  static/statuses.json
  test/components/component_test.rb
  test/components/navigation/tab_test.rb
Labels: ruby, patch release

#1847 remove animation from overlay
  .changeset/sixty-seas-applaud.md
  app/components/primer/alpha/overlay.rb
Labels: ruby, skip changelog, patch release
