Repository primer/view_components, pull requests merged in 2023-03, with the labels that each got.

#1864 Fix underline of `UnderlineNav` being cut off
  .changeset/afraid-walls-carry.md
  app/components/primer/alpha/underline_nav.pcss
Labels: css, patch release

#1865 Add icon button to overlay show
  .changeset/fast-turtles-pull.md
  .changeset/fresh-nails-rescue.md
  app/components/primer/alpha/overlay.rb
  previews/primer/alpha/overlay_preview.rb
  test/components/primer/alpha/overlay_test.rb
Labels: ruby, patch release

#1866 Adding an extra preview to tab_nav
  .devcontainer/Dockerfile
  previews/primer/alpha/tab_nav_preview.rb
  previews/primer/alpha/tab_nav_preview/with_extra.html.erb
  previews/primer/alpha/tab_panels_preview.rb
  previews/primer/alpha/tab_panels_preview/with_extra.html.erb
Labels: skip changelog

#1867 Fixing TabNav double render of extra content
  .changeset/late-lions-prove.md
  .gitignore
  app/components/primer/alpha/tab_nav.rb
  test/components/alpha/tab_nav_test.rb
Labels: ruby, patch release

#1868 upgrade @oddbird/popover-polyfill
  package-lock.json
  package.json
Labels: skip changelog

#1869 Make Overlay header optional, ensure labelledby/label are always present
  .changeset/chilly-olives-smash.md
  app/components/primer/alpha/overlay.rb
  app/components/primer/alpha/overlay/header.html.erb
  previews/primer/alpha/overlay_preview.rb
  test/components/primer/alpha/overlay_test.rb
Labels: ruby, patch release

#1871 Deny tag argument for ActionList headings
  .changeset/seven-tables-applaud.md
  app/components/primer/alpha/action_list/heading.rb
  test/components/alpha/action_list_test.rb
Labels: ruby, patch release

#1873 Remove ability to show trailing action buttons in ActionList and NavList on hover
  .changeset/poor-crabs-rhyme.md
  app/components/primer/alpha/action_list/item.rb
  app/components/primer/alpha/nav_list.rb
  previews/primer/alpha/action_list_preview.rb
  previews/primer/alpha/nav_list_preview/trailing_action.html.erb
  test/components/alpha/action_list_test.rb
Labels: ruby, patch release

#1875 Allow ActionList dividers to be added manually
  .changeset/selfish-glasses-count.md
  app/components/primer/alpha/action_list.html.erb
  app/components/primer/alpha/action_list.rb
  app/components/primer/alpha/action_list/divider.rb
  previews/primer/alpha/action_list_preview.rb
  test/components/alpha/action_list_test.rb
Labels: ruby, patch release

#1880 Allow consumers to set ActionList item content's tag
  .changeset/chilled-mugs-play.md
  app/components/primer/alpha/action_list/item.rb
  test/components/alpha/action_list_test.rb
Labels: ruby, patch release

#1878 Attach behavior to TextField's clear button
  .changeset/flat-starfishes-teach.md
  demo/public/favicon.ico
  lib/primer/forms/dsl/text_field_input.rb
  lib/primer/forms/primer_text_field.ts
  lib/primer/forms/text_field.html.erb
  test/system/alpha/text_field_test.rb
Labels: patch release

#1877 Deprecate `Primer::Truncate` in favor of `Primer::Beta::Truncate`
  .changeset/chilled-phones-pump.md
  app/components/primer/truncate.rb
  docs/content/guides/primer_local_time.md
  docs/content/guides/primer_time_ago.md
  docs/content/guides/primer_truncate.md
  docs/content/migration.md
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  lib/primer/deprecations.yml
  static/arguments.json
  static/statuses.json
Labels: ruby, patch release

#1883 Regenerate lockfiles
  Gemfile.lock
  package-lock.json
Labels: skip changelog

#1887 Action list allow content label
  .changeset/gorgeous-zoos-exercise.md
  app/components/primer/alpha/action_list/divider.rb
  app/components/primer/alpha/action_list/item.html.erb
  app/components/primer/alpha/action_list/item.rb
Labels: ruby, patch release

#1889 Bug fix: ActionList `danger` variant hover/active contrast
  .changeset/rotten-fireants-laugh.md
  app/components/primer/alpha/action_list.pcss
Labels: css, patch release

#1891 Associate title with dialog
  .changeset/poor-lizards-clean.md
  app/components/primer/alpha/dialog.rb
  app/components/primer/alpha/dialog/header.html.erb
  test/components/primer/alpha/dialog_test.rb
Labels: ruby, patch release

#1895 Modify merge_aria to combine plural attributes; introduce merge_data
  .changeset/eight-rockets-brush.md
  app/components/primer/component.rb
  test/components/component_test.rb
Labels: ruby, patch release

#1892 Deprecate `Primer::LayoutComponent` in favor of `Primer::Alpha::Layout`
  .changeset/lucky-radios-begin.md
  app/components/primer/layout_component.rb
  docs/content/guides/primer_layout_component.md
  docs/content/migration.md
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  lib/primer/deprecations.yml
  previews/primer/layout_component_preview.rb
  static/arguments.json
  static/statuses.json
Labels: ruby, patch release

#1829 Add responsive values for `border` and `border-radius` system argument
  .changeset/moody-glasses-invite.md
  lib/primer/classify/utilities.yml
  lib/tasks/custom_utilities.yml
  test/lib/classify_test.rb
Labels: patch release

#1897 Fix width of text fields and multi inputs
  .changeset/tough-bats-refuse.md
  app/forms/select_form.rb
  lib/primer/forms/form_control.html.erb
  lib/primer/forms/form_control.rb
  lib/primer/forms/multi.html.erb
  lib/primer/forms/text_field.html.erb
  test/lib/primer/forms/forms_test.rb
Labels: patch release

#1903 Migrate usage of old Slots API
  .changeset/four-mayflies-whisper.md
  app/components/primer/icon_button.rb
  previews/primer/alpha/dialog_preview/body_has_scrollbar_overflow.html.erb
  previews/primer/alpha/dialog_preview/custom_header.html.erb
  previews/primer/alpha/dialog_preview/nested_dialog.html.erb
  previews/primer/alpha/dialog_preview/test.html.erb
  previews/primer/alpha/dialog_preview/with_footer.html.erb
  previews/primer/alpha/dialog_preview/with_form.html.erb
  previews/primer/alpha/dialog_preview/with_text_input.html.erb
Labels: ruby, patch release

#1899 Update component status migrator to migrate from alpha or beta
  component_status_migrator.thor
Labels: skip changelog

#1907 Suggest ViewComponents on reserved class use
  .changeset/tall-phones-battle.md
  lib/primer/view_components/linters/disallow_component_css_counter.rb
  script/export-css-selectors
  static/classes.json
  test/lib/erblint/disallow_component_css_counter_test.rb
Labels: patch release
