Repository primer/view_components, pull requests merged in 2023-08, with the labels that each got.

#2185 Avoid building assets twice in CI for the CSS selector test
  .github/workflows/test.yml
Labels: skip changeset

#2171 Better gem caching for preview deploys
  .github/workflows/preview-deploy.yml
Labels: skip changeset

#2169 Fix action list item color contrast issue (hover state, danger style)
  .changeset/spicy-experts-exercise.md
  app/components/primer/alpha/action_list.pcss
Labels: css, patch release

#2183 Fix action list item playground description control
  previews/primer/alpha/action_list_preview.rb
Labels: skip changeset

#2170 Add support for capitalize to text-transform
  .changeset/six-students-repeat.md
  app/components/primer/base_component.rb
  lib/primer/classify/utilities.yml
  lib/tasks/custom_utilities.yml
  test/lib/classify_test.rb
Labels: ruby, patch release

#2187 Expose action list builder methods
  .changeset/curvy-toys-obey.md
  app/components/primer/alpha/action_list.rb
  app/components/primer/alpha/action_menu/list.rb
  app/components/primer/alpha/nav_list.rb
  app/components/primer/alpha/nav_list/group.rb
  static/info_arch.json
Labels: ruby, minor release

#2188 Allow disabling submit buttons
  .changeset/eighty-carrots-protect.md
  lib/primer/forms/button.rb
  test/lib/primer/forms_test.rb
Labels: minor release

#2186 On dismiss, allow banners to be hidden instead of removed from the DOM
  .changeset/twelve-rocks-design.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/banner/dismissible/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/banner/dismissible/focused.png
  app/components/primer/alpha/banner.html.erb
  app/components/primer/alpha/banner.rb
  app/components/primer/alpha/x_banner.ts
  previews/primer/alpha/banner_preview.rb
  previews/primer/alpha/banner_preview/with_action_button.html.erb
  previews/primer/alpha/banner_preview/with_action_content.html.erb
  test/components/alpha/banner_test.rb
  test/system/alpha/banner_test.rb
Labels: javascript, ruby, minor release

#2161 Release Tracking
  .changeset/curly-waves-travel.md
  .changeset/curvy-toys-obey.md
  .changeset/eighty-carrots-protect.md
  .changeset/gold-dingos-carry.md
  .changeset/itchy-pants-hug.md
  .changeset/quiet-mirrors-cover.md
  .changeset/shiny-parents-retire.md
  .changeset/silver-walls-worry.md
  .changeset/six-students-repeat.md
  .changeset/spicy-experts-exercise.md
  .changeset/twelve-rocks-design.md
  CHANGELOG.md
  Gemfile.lock
  demo/Gemfile.lock
  lib/primer/view_components/version.rb
  package-lock.json
  package.json
Labels: Release pending

#2189 Dump accessibility docs
  app/components/primer/alpha/action_bar.rb
  lib/primer/static/generate_info_arch.rb
  static/info_arch.json
Labels: ruby, skip changeset

#2190 Button tooltips should not have the label type.
  .changeset/tasty-waves-rhyme.md
  app/components/primer/beta/button.rb
  previews/primer/alpha/tooltip_preview.rb
  previews/primer/alpha/tooltip_preview/with_multiple_on_a_page.html.erb
  test/system/alpha/tooltip_test.rb
Labels: ruby, patch release

#2194 Use the Primer GitHub App for auth instead of the GPR_AUTH_TOKEN_SHARED
  .github/workflows/release.yml
  .github/workflows/static-files.yml
Labels: skip changeset

#2201 add aria-invalid when fields are invalid
  .changeset/thick-snakes-sin.md
  lib/primer/forms/dsl/input.rb
  test/components/alpha/text_field_test.rb
  test/lib/primer/forms/form_control_test.rb
  test/lib/primer/forms/form_helper_test.rb
  test/lib/primer/forms_test.rb
Labels: patch release

#2202 Label BorderBox lists with their header
  .changeset/lemon-bulldogs-accept.md
  app/components/primer/beta/border_box.html.erb
  app/components/primer/beta/border_box.rb
  app/components/primer/beta/border_box/header.rb
  test/components/beta/border_box_test.rb
Labels: ruby, patch release

#2203 Fix guide URLs (in lib/primer/deprecations.yml)
  .changeset/chilly-poems-sparkle.md
  lib/primer/deprecations.yml
Labels: patch release

#2200 Add rubocop linter for `Truncate`
  .changeset/light-rockets-do.md
  .erb-lint.yml
  lib/primer/view_components/linters.rb
  lib/primer/view_components/linters/migrations/truncate_component.rb
  test/lib/rubocop/truncate_component_test.rb
Labels: minor release

#2211 Updating tooltip migration link to correct url
  .changeset/lazy-cups-rush.md
  lib/primer/view_components/linters/tooltipped_migration.rb
Labels: patch release

#2210 Fix accessibility bug of missing accessible name on Dialog
  .changeset/rich-donkeys-beam.md
  app/components/primer/alpha/dialog.rb
  test/components/primer/alpha/dialog_test.rb
  test/system/alpha/dialog_test.rb
Labels: ruby, minor release

#2214 Use federated Azure login via OIDC for preview env destroy job
  .github/workflows/demo-preview-destroy.yml
Labels: skip changeset

#2218 Add missing id-token permission in preview destroy CI config
  .github/workflows/demo-preview-destroy.yml
Labels: skip changeset

#2213 Support Rails edge's custom deprecators
  .changeset/eighty-cheetahs-float.md
  app/components/primer/beta/button.rb
  app/components/primer/component.rb
  app/lib/primer/fetch_or_fallback_helper.rb
  lib/primer/view_components.rb
  test/lib/fetch_or_fallback_helper_test.rb
Labels: ruby, patch release

#2212 allow dialogs within deferred menus
  .changeset/smart-scissors-type.md
  app/components/primer/alpha/action_menu/action_menu_element.ts
  demo/app/views/action_menu/deferred.html.erb
  test/system/alpha/action_menu_test.rb
Labels: javascript, patch release

#2215 Support with_leading_visual_svg in Primer::Beta::Button
  .changeset/plenty-experts-sort.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/leading_visual/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/leading_visual_svg/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/leading_visual_svg/focused.png
  app/components/primer/alpha/action_list.pcss
  app/components/primer/beta/button.pcss
  app/components/primer/beta/button.rb
  previews/primer/beta/button_preview.rb
  previews/primer/beta/button_preview/leading_visual.html.erb
  previews/primer/beta/button_preview/leading_visual_svg.html.erb
  static/info_arch.json
  static/previews.json
  test/components/primer/beta/button_test.rb
Labels: ruby, css, minor release

#2221 Remove unused docs/static npm scripts since docsite is static
  .devcontainer/devcontainer.json
  demo/gemfiles/kuby.gemfile.lock
  docs/static/primer_view_components.css
  docs/static/primer_view_components.css.map
  docs/static/primer_view_components.js
  docs/static/primer_view_components.js.map
  package.json
Labels: skip changeset

#2206 Give buttons more inspiring names
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/leading_visual/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/leading_visual/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/trailing_counter/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/trailing_counter/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/trailing_visual/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/trailing_visual/focused.png
  previews/primer/beta/button_preview/leading_visual.html.erb
  previews/primer/beta/button_preview/trailing_counter.html.erb
  previews/primer/beta/button_preview/trailing_visual.html.erb
Labels: skip changeset

#2222 Replace dismiss button in Flash with IconButton
  .changeset/sweet-bananas-wave.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/flash/options_dismissible/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/flash/options_dismissible/focused.png
  app/components/primer/beta/flash.html.erb
  app/components/primer/beta/flash.pcss
Labels: ruby, css, minor release

#2205 Add `IconButton` linter
  .changeset/cool-items-stare.md
  .erb-lint.yml
  lib/primer/view_components/linters/migrations/iconbutton_component.rb
  test/lib/rubocop/iconbutton_component_test.rb
Labels: minor release

#2226 Load the yardoc config in the demo application config file
  demo/config/application.rb
Labels: skip changeset

#2223 Update ActionBar::Item to accept an argument for the passed in IconButton
  .changeset/sour-parrots-fetch.md
  app/components/primer/alpha/action_bar.rb
  app/components/primer/alpha/action_bar/item.rb
Labels: ruby, minor release

#2227 [Bug] Don't fill in the spinner circle svg path
  .changeset/clever-balloons-tell.md
  app/components/primer/beta/spinner.html.erb
Labels: ruby, patch release
