Repository primer/view_components, pull requests merged in 2023-11, with the labels that each got.

#2337 Adapts Blankslate to render proportionally in narrow areas
  .changeset/new-dolphins-love.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/blankslate/default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/blankslate/default/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/blankslate/description/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/blankslate/description/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/blankslate/full/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/blankslate/full/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/blankslate/loading/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/blankslate/loading/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/blankslate/option_border/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/blankslate/option_border/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/blankslate/primary_action/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/blankslate/primary_action/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/blankslate/secondary_action/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/blankslate/secondary_action/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/blankslate/with_icon/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/blankslate/with_icon/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/blankslate/with_image/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/blankslate/with_image/focused.png
  app/components/primer/beta/blankslate.html.erb
  app/components/primer/beta/blankslate.pcss
Labels: ruby, css, patch release

#2356 Fix Rubocop issues and upgrade to latest versions
  .rubocop.yml
  Gemfile
  Gemfile.lock
  app/components/primer/alpha/action_list.rb
  app/components/primer/alpha/action_list/item.rb
  app/components/primer/alpha/action_menu/list.rb
  app/components/primer/alpha/nav_list.rb
  app/components/primer/alpha/nav_list/divider.rb
  app/components/primer/alpha/nav_list/group.rb
  app/components/primer/alpha/nav_list/heading.rb
  app/components/primer/alpha/nav_list/item.rb
  app/components/primer/beta/auto_complete/item.rb
  app/components/primer/beta/counter.rb
  app/lib/primer/fetch_or_fallback_helper.rb
  app/lib/primer/octicon/cache.rb
  component_status_migrator.thor
  lib/primer/classify.rb
  lib/primer/forms/acts_as_component.rb
  lib/primer/forms/base.rb
  lib/primer/forms/dsl/input.rb
  lib/primer/static/generate_info_arch.rb
  lib/primer/static/generate_previews.rb
  lib/primer/view_components/linters/base_linter.rb
  lib/primer/view_components/linters/deprecated_components_counter.rb
  lib/primer/view_components/linters/disallow_action_list.rb
  lib/primer/view_components/linters/severity_schema.rb
  lib/primer/view_components/version.rb
  lib/primer/yard/lookbook_pages_backend.rb
  lib/rubocop/cop/primer/base_cop.rb
  lib/rubocop/cop/primer/deprecated_arguments.rb
  lib/rubocop/cop/primer/deprecated_components.rb
  lib/rubocop/cop/primer/deprecated_label_schemes.rb
  lib/rubocop/cop/primer/deprecated_label_variants.rb
  lib/tasks/docs.rake
  lib/tasks/utilities.rake
  test/components/alpha/tab_nav_test.rb
  test/components/alpha/tab_panels_test.rb
  test/components/component_test.rb
  test/css/component_selector_use_test.rb
  test/css/component_specific_selectors_test.rb
  test/lib/rubocop/deprecated_components_test.rb
  test/lib/rubocop/deprecated_label_schemes_test.rb
  test/lib/rubocop/deprecated_label_variants_test.rb
  test/lib/rubocop/primer_octicon_test.rb
  test/lib/rubocop/system_arguments_instead_of_class_test.rb
  test/lib/rubocop/test_selector_test.rb
  test/performance/bench_deny.rb
  test/test_helpers/cuprite_setup.rb
  test/test_helpers/retry.rb
Labels: ruby, skip changeset

#2357 Fix typo in Primer::Alpha::Dialog::Header param description.
  app/components/primer/alpha/dialog/header.rb
Labels: skip changeset

#2355 Add previews for OcticonSymbols
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/octicon_symbols/default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/octicon_symbols/default/focused.png
  app/components/primer/alpha/octicon_symbols.html.erb
  demo/app/views/lookbook/previews/inputs/_medium_octicon.html.erb
  demo/config/initializers/custom_inputs.rb
  previews/primer/alpha/octicon_symbols_preview.rb
  previews/primer/alpha/octicon_symbols_preview/default.html.erb
  previews/primer/alpha/octicon_symbols_preview/playground.html.erb
Labels: ruby, skip changeset

#2360 Remove redundant `aria-disabled` on list item
  .changeset/hip-pens-attend.md
  app/components/primer/alpha/action_menu/list.rb
  test/components/alpha/action_menu_test.rb
Labels: ruby, patch release

#2361 Upgrade erblint-github to v0.5.1
  Gemfile
  Gemfile.lock
  demo/app/views/action_menu/deferred.html.erb
  demo/app/views/action_menu/form_action.html.erb
  demo/app/views/auto_complete_test/index.html.erb
  demo/app/views/layouts/component_preview.html.erb
  demo/app/views/layouts/mailer.html.erb
  script/erblint
Labels: skip changeset

#2296 Removing the button wrapper when using a tooltip with a button
  .changeset/rude-chefs-leave.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_list/item_trailing_action/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/input_group_leading_button/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/input_group_leading_button/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/input_group_trailing_button/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/input_group_trailing_button/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/nav_list/trailing_action/focused.png
  app/components/primer/alpha/segmented_control.pcss
  app/components/primer/beta/button.html.erb
  app/components/primer/beta/button.pcss
  app/components/primer/beta/button_group.html.erb
  app/components/primer/beta/button_group.pcss
  app/components/primer/beta/flash.html.erb
  app/components/primer/beta/icon_button.html.erb
  app/components/primer/beta/icon_button.rb
  static/classes.json
  test/components/beta/button_group_test.rb
  test/components/primer/alpha/segmented_control_test.rb
  test/components/primer/beta/button_test.rb
  test/components/primer/beta/icon_button_test.rb
  test/css/component_specific_selectors_test.rb
  test/system/beta/clipboard_copy_button_test.rb
Labels: ruby, css, minor release

#2366 Add missing 64px Avatar size
  .changeset/soft-singers-travel.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/avatar/size_64/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/avatar/size_64/focused.png
  app/components/primer/beta/avatar.rb
  previews/primer/beta/avatar_preview.rb
Labels: ruby, minor release

#2365 Remove touch target gaps between ActionBar items
  .changeset/popular-timers-shop.md
  app/components/primer/alpha/action_bar.pcss
  test/components/alpha/action_bar_test.rb
  test/components/primer/alpha/action_bar_test.rb
Labels: css, minor release

#2362 Update dependabot interval to weekly
  .github/dependabot.yml
Labels: skip changeset

#2377 Add inline success message support to TextField, allow validation messages to contain html fragments.
  .changeset/thin-ants-exercise.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/banner/dismissible/default.png
  app/components/primer/alpha/text_field.pcss
  app/forms/immediate_validation_form.rb
  demo/app/controllers/auto_check_controller.rb
  demo/app/views/auto_check/_error_message.html.erb
  demo/app/views/auto_check/_success_message.html.erb
  demo/app/views/auto_check/_warning_message.html.erb
  demo/config/routes.rb
  lib/primer/forms/dsl/input.rb
  lib/primer/forms/dsl/text_field_input.rb
  lib/primer/forms/primer_text_field.ts
  lib/primer/forms/validation_message.html.erb
  previews/primer/alpha/text_field_preview.rb
  static/classes.json
  static/previews.json
  test/css/component_specific_selectors_test.rb
  test/system/alpha/text_field_test.rb
Labels: css, minor release

#2384 Fix loading primer/form_helper (in dotcom)
  .changeset/thirty-news-live.md
  lib/primer/view_components/engine.rb
Labels: patch release

#2367 ActionMenu form input
  .changeset/empty-meals-lick.md
  app/forms/action_menu_form.rb
  demo/app/controllers/application_controller.rb
  lib/primer/forms/action_menu.html.erb
  lib/primer/forms/action_menu.rb
  lib/primer/forms/dsl/action_menu_input.rb
  lib/primer/forms/dsl/input_methods.rb
  previews/primer/forms_preview.rb
  previews/primer/forms_preview/action_menu_form.html.erb
  test/lib/primer/forms/integration_forms_test.rb
Labels: minor release

#2379 Updates 'inactive' state for buttons
  .changeset/lovely-suits-drop.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/inactive/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/inactive/focused.png
  app/components/primer/beta/base_button.rb
  app/components/primer/beta/button.pcss
  demo/package-lock.json
  demo/package.json
  package-lock.json
  package.json
  static/classes.json
Labels: ruby, css, patch release

#2340 Add group support to ActionMenu
  .changeset/heavy-wasps-agree.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_menu/with_groups/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_menu/with_groups/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_menu/with_groups/dark_dimmed.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_menu/with_groups/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_menu/with_groups/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_menu/with_groups/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_menu/with_groups/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_menu/with_groups/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_menu/with_groups/light_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_menu/with_items_and_groups/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_menu/with_items_and_groups/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_menu/with_items_and_groups/dark_dimmed.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_menu/with_items_and_groups/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_menu/with_items_and_groups/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_menu/with_items_and_groups/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_menu/with_items_and_groups/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_menu/with_items_and_groups/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_menu/with_items_and_groups/light_high_contrast.png
  app/components/primer/alpha/action_list.rb
  app/components/primer/alpha/action_menu.rb
  app/components/primer/alpha/action_menu/group.rb
  app/components/primer/alpha/action_menu/heading.rb
  app/components/primer/alpha/action_menu/list.html.erb
  app/components/primer/alpha/action_menu/list.rb
  app/components/primer/alpha/action_menu/list_wrapper.rb
  app/components/primer/component.rb
  app/lib/primer/experimental_render_helpers.rb
  app/lib/primer/experimental_slot_helpers.rb
  previews/primer/alpha/action_menu_preview.rb
  static/arguments.json
  static/audited_at.json
  static/constants.json
  static/info_arch.json
  static/previews.json
  static/statuses.json
  test/components/alpha/action_menu_test.rb
  test/components/component_test.rb
  test/system/alpha/action_menu_test.rb
Labels: ruby, minor release

#2393 Don't allow previously hidden items to be checkable; add ActionMenu js API
  .changeset/strange-rings-confess.md
  app/components/primer/alpha/action_list/item.rb
  app/components/primer/alpha/action_menu.rb
  app/components/primer/alpha/action_menu/action_menu_element.ts
  app/components/primer/alpha/action_menu/list.rb
  package-lock.json
  package.json
  previews/primer/alpha/action_menu_preview.rb
  test/system/alpha/action_menu_test.rb
Labels: javascript, ruby, minor release

#2378 update autocomplete to use popover
  .changeset/early-hornets-bake.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/with_auto_complete/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/with_auto_complete/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/with_auto_complete/dark_dimmed.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/with_auto_complete/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/with_auto_complete/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/with_auto_complete/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/with_auto_complete/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/with_auto_complete/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/with_auto_complete/light_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/auto_complete/full_width/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/auto_complete/full_width/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/auto_complete/large/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/auto_complete/large/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/auto_complete/leading_visual/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/auto_complete/leading_visual/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/auto_complete/medium/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/auto_complete/medium/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/auto_complete/small/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/auto_complete/small/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/auto_complete/trailing_action/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/auto_complete/trailing_action/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/auto_complete/visually_hide_label/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/auto_complete/visually_hide_label/focused.png
  app/components/primer/alpha/action_list.pcss
  app/components/primer/alpha/overlay.pcss
  app/components/primer/beta/auto_complete.rb
  app/components/primer/beta/auto_complete/auto_complete.html.erb
  app/components/primer/beta/auto_complete/item.rb
  package-lock.json
  package.json
  previews/primer/alpha/dialog_preview.rb
  previews/primer/alpha/dialog_preview/with_auto_complete.html.erb
  test/components/beta/auto_complete/item_test.rb
  test/components/beta/auto_complete_test.rb
  test/system/beta/auto_complete_component_test.rb
Labels: ruby, css, minor release

#2405 Revert "Bump lookbook from 2.1.1 to 2.2.0 in /demo"
  demo/Gemfile
  demo/Gemfile.lock
Labels: skip changeset

#2406 Allow NavList to paginate multiple groups
  .changeset/rotten-trees-occur.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/nav_list/show_more_item/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/nav_list/show_more_item/focused.png
  app/components/primer/beta/nav_list.ts
  app/components/primer/beta/nav_list/group.html.erb
  app/components/primer/beta/nav_list/group.rb
  app/components/primer/beta/nav_list_group_element.ts
  app/components/primer/primer.ts
  demo/app/controllers/nav_list_items_controller.rb
  previews/primer/beta/nav_list_preview.rb
  test/components/beta/nav_list_test.rb
  test/system/beta/nav_list_test.rb
Labels: javascript, ruby, patch release
