Repository primer/view_components, pull requests merged in 2023-10, with the labels that each got.

#2276 Adding an optional items_arguments to ActionBar::Item
  .changeset/cuddly-stingrays-camp.md
  app/components/primer/alpha/action_bar.rb
  app/components/primer/alpha/action_bar/item.rb
  test/components/primer/alpha/action_bar_test.rb
Labels: ruby, minor release

#2259 Add overflow menu (`ActionMenu`) to focus zone in `ActionBar`
  .changeset/weak-mails-teach.md
  app/components/primer/alpha/action_bar_element.ts
  app/components/primer/focus_group.ts
  test/system/alpha/action_bar_test.rb
Labels: javascript, minor release

#2278 Add trailing_visual_label to SegmentedControlItem
  .changeset/twelve-forks-drive.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/banner/dismissible/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/trailing_label_width_large/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/trailing_label_width_large/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/trailing_label_width_medium/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/trailing_label_width_medium/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/trailing_label_width_small/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/trailing_label_width_small/focused.png
  app/components/primer/alpha/segmented_control.pcss
  app/components/primer/alpha/segmented_control/item.html.erb
  app/components/primer/alpha/segmented_control/item.rb
  previews/primer/alpha/segmented_control_preview.rb
  test/components/primer/alpha/segmented_control_test.rb
Labels: ruby, css, minor release

#2283 Adds 'inactive' state to buttons
  .changeset/mean-bottles-unite.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/inactive/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/inactive/focused.png
  app/components/primer/beta/base_button.rb
  app/components/primer/beta/button.pcss
  previews/primer/beta/button_preview.rb
  previews/primer/beta/icon_button_preview.rb
Labels: ruby, css, minor release

#2285 remove release notification
  .github/workflows/changesets.yml
  .github/workflows/release.yml
  .github/workflows/release_notification.yml
  package-lock.json
  package.json
Labels: skip changeset

#2281 Fix tooltips opening when focus is removed while displaying
  .changeset/ten-onions-talk.md
  app/components/primer/alpha/tool_tip.ts
  previews/primer/alpha/tooltip_preview.rb
  previews/primer/alpha/tooltip_preview/tooltip_with_dialog_moving_focus_to_input.html.erb
  test/system/alpha/tooltip_test.rb
Labels: javascript, patch release

#2288 Fix issue where dialog is unable to be closed
  .changeset/eleven-steaks-press.md
  app/components/primer/alpha/modal_dialog.ts
  test/system/alpha/dialog_test.rb
Labels: javascript, patch release

#2286 `SegmentedControl` alignment fixes
  .changeset/chilly-elephants-roll.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/default/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/full_width_large/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/full_width_medium/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/full_width_small/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/icon_only_large/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/icon_only_medium/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/icon_only_medium/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/icon_only_small/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/icon_only_small/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/icons_and_text_large/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/icons_and_text_large/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/icons_and_text_medium/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/icons_and_text_small/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/trailing_label_width_large/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/trailing_label_width_large/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/trailing_label_width_medium/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/trailing_label_width_small/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/trailing_label_width_small/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/with_label_and_caption/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/with_link_as_tag/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/with_subhead_actions/focused.png
  app/components/primer/alpha/segmented_control.pcss
  app/components/primer/alpha/segmented_control.rb
  static/classes.json
Labels: ruby, css, patch release

#2290 Respect autofocus attributes inside of a dialog when opening a dialog
  .changeset/purple-fans-pump.md
  app/components/primer/alpha/modal_dialog.ts
  previews/primer/alpha/dialog_preview.rb
  previews/primer/alpha/dialog_preview/autofocus_element.html.erb
  previews/primer/alpha/tooltip_preview.rb
  test/system/alpha/dialog_test.rb
Labels: javascript, patch release

#2291 Allow ActionMenu items to submit multiple values on form submission; fix keyboard handling for submit items
  .changeset/pink-wolves-fix.md
  Gemfile
  Gemfile.lock
  app/components/primer/alpha/action_list/form_wrapper.html.erb
  app/components/primer/alpha/action_list/form_wrapper.rb
  app/components/primer/alpha/action_menu.rb
  app/components/primer/alpha/action_menu/action_menu_element.ts
  demo/app/controllers/action_menu_controller.rb
  demo/app/views/action_menu/form_action.html.erb
  lib/primer/static/generate_info_arch.rb
  previews/primer/alpha/action_menu_preview.rb
  previews/primer/alpha/action_menu_preview/single_select_form_items.html.erb
  previews/primer/alpha/action_menu_preview/with_actions.html.erb
  test/system/alpha/action_menu_test.rb
Labels: javascript, ruby, minor release

#2293 Fix multi-select behavior when ActionMenus are embedded in dialogs
  .changeset/large-actors-reply.md
  app/components/primer/alpha/action_menu/action_menu_element.ts
  test/system/alpha/action_menu_test.rb
Labels: javascript, minor release

#2292 Fix action bar issue where keys don't loop around to end
  .changeset/poor-rats-jam.md
  app/components/primer/alpha/action_bar_element.ts
  test/system/alpha/action_bar_test.rb
Labels: javascript, patch release

#2284 Update `Tooltip` design + fix v8 color tokens
  .changeset/clever-rockets-tan.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_bar/default/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/banner/with_action_content/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/icon_only_large/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/icon_only_medium/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/icon_only_small/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/input_group_leading_button/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button_group/all_tags/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button_group/icon_buttons/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/flash/options_dismissible/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/icon_button/danger/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/icon_button/default/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/icon_button/invisible/focused.png
  app/components/primer/alpha/tool_tip.ts
Labels: javascript, minor release

#2319 Fix axe checks for RadioButton and CheckBox previews
  lib/primer/accessibility.rb
  previews/primer/alpha/check_box_preview.rb
  previews/primer/alpha/radio_button_preview.rb
Labels: skip changeset

#2320 Adds label to text input in Dialog example
  previews/primer/alpha/dialog_preview/with_text_input.html.erb
Labels: skip changeset

#2324 Revert Tooltip caret removal
  .changeset/red-moles-tie.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_bar/default/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/banner/with_action_content/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/icon_only_large/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/icon_only_medium/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/icon_only_small/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/input_group_leading_button/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button_group/all_tags/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button_group/icon_buttons/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/flash/options_dismissible/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/icon_button/danger/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/icon_button/default/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/icon_button/invisible/focused.png
  app/components/primer/alpha/tool_tip.ts
Labels: javascript, patch release

#2326 Prevent scrolling when activating ActionMenu items via space
  .changeset/dry-cameras-attend.md
  app/components/primer/alpha/action_bar_element.ts
  app/components/primer/alpha/action_menu/action_menu_element.ts
Labels: javascript, patch release

#2329 Render @accessibility tag text for docs
  lib/primer/static/generate_info_arch.rb
Labels: skip changeset

#2331 Action menu prevent scrolling on link click
  .changeset/hot-dots-look.md
  app/components/primer/alpha/action_menu/action_menu_element.ts
Labels: javascript, patch release

#2323 upgrade popover-polyfill to latest
  .changeset/loud-starfishes-hope.md
  app/components/primer/alpha/overlay.pcss
  app/components/primer/primer.pcss
  app/components/primer/primer.ts
  package-lock.json
  package.json
Labels: javascript, css, patch release

#2335 Add a ClipboardCopyButton component
  .changeset/orange-seahorses-fix.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button_group/with_clipboard_copy_button/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button_group/with_clipboard_copy_button/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/clipboard_copy_button/default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/clipboard_copy_button/default/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/clipboard_copy_button/with_tooltip/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/clipboard_copy_button/with_tooltip/focused.png
  app/components/primer/beta/base_button.rb
  app/components/primer/beta/button.html.erb
  app/components/primer/beta/button.rb
  app/components/primer/beta/button_group.rb
  app/components/primer/beta/clipboard_copy_button.rb
  previews/primer/beta/button_group_preview.rb
  previews/primer/beta/clipboard_copy_button_preview.rb
  test/components/beta/button_group_test.rb
  test/components/component_test.rb
  test/system/alpha/action_menu_test.rb
  test/system/beta/button_group_test.rb
  test/system/beta/clipboard_copy_button_test.rb
  test/test_helper.rb
  test/test_helpers/clipboard_test_helpers.rb
Labels: ruby, minor release

#2336 Add Rails 7.1 support
  .changeset/short-buses-think.md
  .github/workflows/test.yml
  Gemfile
  Gemfile.lock
  demo/Gemfile
  demo/Gemfile.lock
  demo/config/application.rb
  lib/primer/forms/base_component.rb
  lib/primer/forms/primer_base_component_wrapper.rb
  lib/primer/view_components/engine.rb
Labels: minor release

#2330 Allow several font sizes for Subhead headings
  .changeset/shiny-buses-matter.md
  app/components/primer/beta/subhead.pcss
  app/components/primer/beta/subhead.rb
  previews/primer/beta/subhead_preview.rb
  test/components/beta/subhead_test.rb
Labels: ruby, css, minor release
