Repository primer/view_components, pull requests merged in 2023-04, with the labels that each got.

#1900 add icon button to dialog
  .changeset/gorgeous-keys-heal.md
  app/components/primer/alpha/dialog.rb
  previews/primer/alpha/dialog_preview.rb
  test/components/primer/alpha/dialog_test.rb
Labels: ruby, patch release

#1932 fix use of removed slots api
  .changeset/rude-keys-invite.md
  app/components/primer/beta/border_box.rb
Labels: ruby, patch release

#1908 Data for our new docsite (i.e. for our new information architecture)
  app/components/primer/alpha/action_list.rb
  app/components/primer/alpha/action_list/item.rb
  lib/primer/static.rb
  lib/primer/static/generate_arguments.rb
  lib/primer/static/generate_audited_at.rb
  lib/primer/static/generate_constants.rb
  lib/primer/static/generate_info_arch.rb
  lib/primer/static/generate_previews.rb
  lib/primer/static/generate_statuses.rb
  lib/primer/view_components.rb
  lib/primer/yard.rb
  lib/primer/yard/component_ref.rb
  lib/primer/yard/docs_helper.rb
  lib/primer/yard/info_arch_docs_helper.rb
  lib/primer/yard/legacy_gatsby_backend.rb
  lib/primer/yard/registry.rb
  lib/tasks/docs.rake
  lib/tasks/static.rake
  previews/primer/beta/auto_complete_item_preview.rb
  static/arguments.json
  static/info_arch.json
  static/previews.json
  test/lib/primer/view_components_test.rb
Labels: ruby, skip changelog

#1830 ActionMenu upstream from Experimental
  .changeset/eighty-fans-fix.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_menu/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_menu/focused.png
  app/components/primer/alpha/action_list.pcss
  app/components/primer/alpha/action_list.rb
  app/components/primer/alpha/action_list/heading.html.erb
  app/components/primer/alpha/action_list/heading.rb
  app/components/primer/alpha/action_list/item.html.erb
  app/components/primer/alpha/action_list/item.rb
  app/components/primer/alpha/action_menu.html.erb
  app/components/primer/alpha/action_menu.rb
  app/components/primer/alpha/action_menu/action_menu_element.ts
  app/components/primer/alpha/action_menu/list.rb
  app/components/primer/alpha/nav_list/item.rb
  app/components/primer/alpha/overlay.pcss
  app/components/primer/alpha/overlay.rb
  app/components/primer/beta/button.pcss
  app/components/primer/focus_group.ts
  app/components/primer/primer.ts
  demo/app/controllers/action_menu_controller.rb
  demo/app/views/action_menu/deferred.html.erb
  demo/app/views/action_menu/deferred_preload.html.erb
  demo/app/views/nav_list_items/index.html.erb
  demo/config/routes.rb
  demo/kuby.rb
  package-lock.json
  package.json
  previews/primer/alpha/action_list_preview.rb
  previews/primer/alpha/action_menu_preview.rb
  previews/primer/alpha/action_menu_preview/align_end.html.erb
  previews/primer/alpha/action_menu_preview/opens_dialog.html.erb
  static/arguments.json
  static/audited_at.json
  static/classes.json
  static/constants.json
  static/info_arch.json
  static/previews.json
  static/statuses.json
  test/components/alpha/action_list_test.rb
  test/components/alpha/action_menu_test.rb
  test/components/component_test.rb
  test/components/primer/alpha/overlay_test.rb
  test/css/component_selector_use_test.rb
  test/css/component_specific_selectors_test.rb
  test/system/alpha/action_menu_test.rb
  tsconfig.json
Labels: javascript, ruby, css, patch release

#1938 Fix and expose ActionMenu docs
  app/components/primer/alpha/action_menu.rb
  demo/Gemfile
  demo/Gemfile.lock
  demo/config/environments/test.rb
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  lib/primer/yard/component_manifest.rb
  lib/tasks/docs.rake
Labels: ruby, skip changelog

#1933 Display Buttons inline
  .changeset/swift-dolphins-tease.md
  app/components/primer/beta/button.pcss
Labels: css, patch release

#1901 Add width parameter to autocomplete.
  .changeset/lazy-tomatoes-explode.md
  app/components/primer/alpha/dialog.pcss
  app/components/primer/beta/auto_complete.rb
  app/components/primer/beta/auto_complete/auto_complete.html.erb
  previews/primer/beta/auto_complete_preview.rb
  static/constants.json
Labels: ruby, css, patch release

#1942 Fix ActionMenu divider example
  app/components/primer/alpha/action_menu.rb
Labels: ruby, skip changelog

#1946 Address a11y issues with ActionList, NavList, and ActionMenu
  .changeset/chatty-owls-shave.md
  .gitignore
  app/components/primer/alpha/action_list.rb
  app/components/primer/alpha/action_list/item.rb
  app/components/primer/alpha/action_menu/action_menu_element.ts
  app/components/primer/alpha/action_menu/list.rb
  app/components/primer/alpha/dropdown/menu.rb
  app/components/primer/alpha/modal_dialog.ts
  demo/app/controllers/action_menu_controller.rb
  demo/app/views/action_menu/landing.html.erb
  demo/config/routes.rb
  previews/primer/alpha/action_menu_preview.rb
  test/accessibility_test.rb
  test/components/alpha/action_list_test.rb
  test/components/alpha/action_menu_test.rb
  test/components/alpha/dropdown/menu_test.rb
  test/system/alpha/action_menu_test.rb
  test/system/test_case.rb
Labels: javascript, ruby, patch release

#1949 Use `min-width` for ActionMenu
  .changeset/clean-moons-unite.md
  app/components/primer/alpha/overlay.pcss
Labels: css, patch release

#1951 Fix ActionMenu's internal label
  .changeset/quick-boxes-search.md
  app/components/primer/alpha/action_menu/action_menu_element.ts
  previews/primer/alpha/action_menu_preview.rb
  test/system/alpha/action_menu_test.rb
Labels: javascript, patch release

#1950 Prevent double rendering of ActionMenu content labels
  app/components/primer/alpha/action_menu/list.rb
  previews/primer/alpha/action_menu_preview.rb
  previews/primer/alpha/action_menu_preview/content_labels.html.erb
  test/components/alpha/action_menu_test.rb
  test/css/component_selector_use_test.rb
Labels: ruby, skip changelog

#1952 Fix with_caret ActionMenu docs
  app/components/primer/alpha/action_menu.rb
Labels: ruby, skip changelog

#1953 Fix opening a dialog from an ActionMenu item
  .changeset/moody-zoos-bow.md
  app/components/primer/alpha/modal_dialog.ts
  test/system/alpha/action_menu_test.rb
Labels: javascript, patch release

#1947 Upgrading to latest erblint
  Gemfile.lock
  primer_view_components.gemspec
Labels: skip changelog

#1958 Fixing deprecated blankslate docs
  lib/primer/yard/component_manifest.rb
Labels: skip changelog

#1955 prop drill Overlay size on ActionMenu
  .changeset/chilly-grapes-appear.md
  app/components/primer/alpha/action_menu.rb
  previews/primer/alpha/action_menu_preview.rb
Labels: ruby, patch release

#1957 add actionmenu example for submitting forms
  previews/primer/alpha/action_menu_preview.rb
  previews/primer/alpha/action_menu_preview/submitting_forms.html.erb
Labels: skip changelog

#1964 Upgrade Primitives and rename tokens to pre-v8 release
  .changeset/twelve-badgers-beg.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/auto_complete_item/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/auto_complete_item/focused.png
  app/components/primer/alpha/action_list.pcss
  app/components/primer/alpha/auto_complete.pcss
  app/components/primer/alpha/banner.pcss
  app/components/primer/alpha/dialog.pcss
  app/components/primer/alpha/dropdown.pcss
  app/components/primer/alpha/layout.pcss
  app/components/primer/alpha/menu.pcss
  app/components/primer/alpha/segmented_control.pcss
  app/components/primer/alpha/tab_nav.pcss
  app/components/primer/alpha/text_field.pcss
  app/components/primer/alpha/toggle_switch.pcss
  app/components/primer/alpha/underline_nav.pcss
  app/components/primer/beta/auto_complete.rb
  app/components/primer/beta/auto_complete/item.html.erb
  app/components/primer/beta/auto_complete/item.rb
  app/components/primer/beta/avatar.pcss
  app/components/primer/beta/avatar_stack.pcss
  app/components/primer/beta/blankslate.pcss
  app/components/primer/beta/border_box.pcss
  app/components/primer/beta/button.pcss
  app/components/primer/beta/counter.pcss
  app/components/primer/beta/flash.pcss
  app/components/primer/beta/label.pcss
  app/components/primer/beta/popover.pcss
  app/components/primer/beta/state.pcss
  app/components/primer/beta/subhead.pcss
  app/components/primer/beta/timeline_item.pcss
  app/components/primer/beta/truncate.pcss
  demo/app/assets/stylesheets/application.css
  demo/package-lock.json
  demo/package.json
  lib/postcss_mixins/activeIndicatorLine.pcss
  package-lock.json
  package.json
  postcss.config.js
  static/classes.json
  test/components/beta/auto_complete/item_test.rb
  test/components/beta/auto_complete_test.rb
  test/system/beta/auto_complete_component_test.rb
Labels: ruby, css, patch release

#1962 Action menu form input
  .changeset/fuzzy-beans-smoke.md
  app/components/primer/alpha/action_list.html.erb
  app/components/primer/alpha/action_list.rb
  app/components/primer/alpha/action_list/form_wrapper.html.erb
  app/components/primer/alpha/action_list/form_wrapper.rb
  app/components/primer/alpha/action_list/item.html.erb
  app/components/primer/alpha/action_list/item.rb
  app/components/primer/alpha/action_menu.rb
  app/components/primer/alpha/action_menu/action_menu_element.ts
  app/components/primer/alpha/action_menu/list.rb
  demo/app/controllers/action_menu_controller.rb
  demo/app/views/action_menu/form_action.html.erb
  demo/config/routes.rb
  previews/primer/alpha/action_menu_preview.rb
  previews/primer/alpha/action_menu_preview/multiple_select_form.html.erb
  previews/primer/alpha/action_menu_preview/single_select_form.html.erb
  test/components/alpha/action_list_test.rb
  test/components/component_test.rb
  test/system/alpha/action_menu_test.rb
Labels: javascript, ruby, patch release

#1965 Bug fixes: Button and TextField
  .changeset/plenty-emus-sip.md
  app/components/primer/alpha/text_field.pcss
  app/components/primer/beta/button.pcss
  lib/primer/forms/text_field.rb
  previews/primer/beta/button_preview.rb
  previews/primer/beta/button_preview/trailing_counter.html.erb
  static/classes.json
Labels: css, patch release
