Repository primer/view_components, pull requests merged in 2023-07, with the labels that each got.

#2125 Updating yardoc build config for the custom @snapshot tag
  lib/primer/yard.rb
  lib/tasks/docs.rake
Labels: skip changeset

#2111 refactor Primer::Alpha::Tooltip to use popover
  .changeset/beige-cougars-pretend.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/banner/with_action_content/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/icon_only_large/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/icon_only_medium/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/icon_only_small/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button_group/all_tags/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button_group/icon_buttons/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/icon_button/danger/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/icon_button/default/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/icon_button/invisible/focused.png
  app/components/primer/alpha/tool_tip.ts
  app/components/primer/alpha/tooltip.rb
  previews/primer/alpha/tooltip_preview.rb
  previews/primer/alpha/tooltip_preview/tooltip_inside_primer_overlay.html.erb
  test/playwright/snapshots.test.ts
Labels: javascript, ruby, minor release

#2133 guard against tooltips closed before removal from openTooltips
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/banner/with_action_content/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/icon_only_large/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/icon_only_medium/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/icon_only_small/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button_group/all_tags/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button_group/icon_buttons/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/icon_button/danger/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/icon_button/default/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/icon_button/invisible/focused.png
  app/components/primer/alpha/tool_tip.ts
Labels: javascript, skip changeset

#1941 Primer::Alpha::ActionBar component
  .changeset/thirty-kangaroos-punch.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_bar/default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_bar/default/focused.png
  app/components/primer/alpha/action_bar.html.erb
  app/components/primer/alpha/action_bar.pcss
  app/components/primer/alpha/action_bar.rb
  app/components/primer/alpha/action_bar/divider.rb
  app/components/primer/alpha/action_bar/item.rb
  app/components/primer/alpha/action_bar_element.ts
  app/components/primer/primer.pcss
  app/components/primer/primer.ts
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  previews/primer/alpha/action_bar_preview.rb
  previews/primer/alpha/action_bar_preview/inline.html.erb
  static/classes.json
  test/components/component_test.rb
  test/components/primer/alpha/action_bar_test.rb
  test/system/alpha/action_bar_test.rb
Labels: javascript, ruby, css, minor release

#2107 Start documentation for PVC accessibility linting rules
  docs/content/guides/accessibility/tooltipped_migration.md
  lib/primer/view_components/linters/tooltipped_migration.rb
  test/lib/erblint/tooltipped_migration_test.rb
Labels: skip changeset, minor release

#2034 Partially address a11y issues in Link component.
  .changeset/silver-bananas-serve.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/blankslate/secondary_action/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/breadcrumbs/default/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/breadcrumbs/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/link/color_scheme_primary/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/link/color_scheme_primary_muted/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/link/color_scheme_secondary/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/link/color_scheme_secondary_muted/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/link/default/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/link/focused.png
  app/components/primer/beta/link.pcss
  app/components/primer/beta/link.rb
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  package-lock.json
  previews/primer/beta/link_preview.rb
  test/components/beta/link_test.rb
Labels: ruby, css, minor release

#2141 Raising the FERRUM system test timeout time
  .github/workflows/test.yml
Labels: skip changeset

#2143 Update index.md documentation with correct install path
  docs/content/index.md
Labels: skip changeset

#2142 Mark NavList and ActionList as a11y audited
  app/components/primer/alpha/action_list.rb
  app/components/primer/alpha/nav_list.rb
Labels: ruby, skip changeset

#2144 Fix `ToggleSwitch` preview
  previews/primer/alpha/toggle_switch_preview.rb
Labels: skip changeset

#2145 Add `disabled` param to button preview
  previews/primer/beta/button_preview.rb
  previews/primer/beta/button_preview/all_schemes.html.erb
Labels: skip changeset

#2147 Suppress delete command output to file
  .github/workflows/demo-preview-destroy.yml
Labels: skip changeset

#2148 add details_menu_migration linter
  .changeset/dry-dryers-thank.md
  lib/primer/view_components/linters/accessibility.yml
  lib/primer/view_components/linters/argument_mappers/label.rb
  lib/primer/view_components/linters/details_menu_migration.rb
  lib/primer/view_components/linters/label_component_migration_counter.rb
  test/lib/erblint/details_menu_migration_test.rb
  test/lib/erblint/linter_config_works_test.rb
Labels: minor release

#2153 Update color fallback for `UnderlineNav` counter
  .changeset/quick-moles-smile.md
  app/components/primer/alpha/underline_nav.pcss
Labels: css, patch release

#2154 Add color declaration for Dialog `title`
  .changeset/swift-ads-sit.md
  app/components/primer/alpha/dialog.pcss
Labels: css, patch release

#2156 Add correct fallbacks to `State` label
  .changeset/brave-shirts-hug.md
  app/components/primer/beta/counter.pcss
  app/components/primer/beta/state.pcss
Labels: css, patch release

#2159 Move System Arguments page to Lookbook
  .gitignore
  Gemfile
  Gemfile.lock
  lib/primer/yard/lookbook_pages_backend.rb
Labels: skip changeset

#2158 Fix bug in ActionMenu button where return doesn't trigger menu
  .changeset/gold-dingos-carry.md
  app/components/primer/alpha/action_menu/action_menu_element.ts
  test/system/alpha/action_menu_test.rb
Labels: javascript, patch release

#2160 Fix Dialog backdrop color fallback
  .changeset/shiny-parents-retire.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/default/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/default/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/default/light_high_contrast.png
  app/components/primer/alpha/dialog.pcss
Labels: css, patch release

#2162 Use new system args docs url
  lib/tasks/docs.rake
Labels: skip changeset

#2163 Add fallbacks for primary Button
  .changeset/silver-walls-worry.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_menu/single_select_with_internal_label/dark_dimmed.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_menu/single_select_with_internal_label/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_menu/wide/dark_dimmed.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_menu/wide/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/menu/default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/menu/default/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/radio_button/disabled/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/radio_button/disabled/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select/disabled/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select/disabled/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_area/disabled/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_area/disabled/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_area/with_validation_message/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_area/with_validation_message/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/disabled/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/disabled/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/with_validation_message/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/with_validation_message/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_nav/with_icons_and_counters/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_nav/with_icons_and_counters/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/all_schemes/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/all_schemes/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/progress_bar/default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/progress_bar/default/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/progress_bar/size_default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/progress_bar/size_default/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/progress_bar/size_large/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/progress_bar/size_large/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/progress_bar/size_small/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/progress_bar/size_small/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/subhead/actions/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/subhead/actions/focused.png
  app/components/primer/beta/button.pcss
  playwright.config.ts
Labels: css, patch release

#2168 guard all popover calls
  .changeset/quiet-mirrors-cover.md
  app/components/primer/alpha/action_menu/action_menu_element.ts
  app/components/primer/alpha/tool_tip.ts
Labels: javascript, patch release

#2165 Action menu avatar item
  .changeset/itchy-pants-hug.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/nav_list/default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/nav_list/default/focused.png
  app/components/primer/alpha/action_list.rb
  app/components/primer/alpha/action_list/item.rb
  app/components/primer/alpha/action_menu.rb
  app/components/primer/alpha/action_menu/list.rb
  app/components/primer/alpha/nav_list.rb
  app/components/primer/beta/avatar.rb
  previews/primer/alpha/action_list_preview.rb
  previews/primer/alpha/action_menu_preview.rb
  previews/primer/alpha/nav_list_preview.rb
  test/components/alpha/action_list_test.rb
  test/components/alpha/action_menu_test.rb
  test/components/alpha/nav_list_test.rb
Labels: ruby, minor release

#2164 Allow form buttons to be disabled on click via data-disable-with
  .changeset/curly-waves-travel.md
  app/forms/submit_button_form.rb
  lib/primer/forms/button.rb
  lib/primer/forms/dsl/input.rb
  test/lib/primer/forms_test.rb
Labels: patch release
