Repository primer/view_components, pull requests merged in 2023-09, with the labels that each got.

#2204 Support old open format for popover
  .changeset/odd-pumas-live.md
  app/components/primer/alpha/tool_tip.ts
Labels: javascript, patch release

#2236 Anchored elements with non visible anchors should be centered
  .changeset/rude-owls-prove.md
  app/components/primer/alpha/overlay.pcss
  app/components/primer/anchored_position.ts
  previews/primer/alpha/overlay_preview.rb
  previews/primer/alpha/overlay_preview/in_an_action_menu.html.erb
Labels: javascript, css, patch release

#2237 Fixing bug in the ActionBar more menu items not including button type
  .changeset/eleven-pillows-explain.md
  app/components/primer/alpha/action_bar.rb
  test/components/alpha/action_bar_test.rb
Labels: ruby, patch release

#2239 Make release instructions more clear
  .github/release_template.md
Labels: skip changeset

#2242 Remove overlay anchored position background
  .changeset/many-mice-smash.md
  app/components/primer/alpha/overlay.pcss
Labels: css, patch release

#2240 In tests, move forms inline to cut down on verbosity
  .changeset/olive-students-begin.md
  app/helpers/primer/form_helper.rb
  lib/primer/forms.rb
  lib/primer/forms/utils.rb
  test/lib/primer/forms/checkbox_group_input_test.rb
  test/lib/primer/forms/checkbox_input_test.rb
  test/lib/primer/forms/form_control_test.rb
  test/lib/primer/forms/multi_input_test.rb
  test/lib/primer/forms/radio_button_group_input_test.rb
  test/lib/primer/forms/radio_button_input_test.rb
  test/lib/primer/forms/select_list_input_test.rb
  test/lib/primer/forms/text_area_input_test.rb
  test/lib/primer/forms/text_field_input_test.rb
Labels: minor release

#2244 Fix race condition causing dotcom axe check failures for icon button tooltips
  .changeset/tame-trainers-remain.md
  app/components/primer/alpha/tooltip.rb
  app/components/primer/beta/icon_button.html.erb
  app/components/primer/beta/icon_button.rb
  test/components/primer/beta/icon_button_test.rb
Labels: ruby, patch release

#2241 Enable validation messages on radio button and check box groups
  .changeset/plenty-hotels-drum.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/radio_button_group/invalid/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/radio_button_group/invalid/focused.png
  app/components/primer/alpha/check_box_group.rb
  app/components/primer/alpha/radio_button_group.rb
  lib/primer/forms/check_box_group.html.erb
  lib/primer/forms/dsl/check_box_group_input.rb
  lib/primer/forms/dsl/check_box_input.rb
  lib/primer/forms/dsl/radio_button_input.rb
  lib/primer/forms/form_control.html.erb
  lib/primer/forms/radio_button_group.html.erb
  lib/primer/forms/validation_message.html.erb
  lib/primer/forms/validation_message.rb
  previews/primer/alpha/check_box_group_preview.rb
  previews/primer/alpha/radio_button_group_preview.rb
  test/lib/primer/forms/checkbox_group_input_test.rb
  test/lib/primer/forms/models/survey.rb
  test/lib/primer/forms/models/trip.rb
  test/lib/primer/forms/radio_button_group_input_test.rb
Labels: ruby, minor release

#2245 Exclude hidden menu items from focus group
  .changeset/silent-ravens-hide.md
  app/components/primer/alpha/action_menu/action_menu_element.ts
  app/components/primer/focus_group.ts
Labels: javascript, patch release

#2247 Moving Primer::Alpha::NavList to Primer::Beta::NavList
  .changeset/quick-bottles-jam.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/nav_list/default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/nav_list/default/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/nav_list/show_more_item/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/nav_list/show_more_item/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/nav_list/trailing_action/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/nav_list/trailing_action/focused.png
  app/components/primer/alpha/nav_list.rb
  app/components/primer/alpha/nav_list/divider.rb
  app/components/primer/alpha/nav_list/group.rb
  app/components/primer/alpha/nav_list/heading.rb
  app/components/primer/alpha/nav_list/item.rb
  app/components/primer/beta/nav_list.html.erb
  app/components/primer/beta/nav_list.rb
  app/components/primer/beta/nav_list.ts
  app/components/primer/beta/nav_list/divider.rb
  app/components/primer/beta/nav_list/group.html.erb
  app/components/primer/beta/nav_list/group.rb
  app/components/primer/beta/nav_list/heading.rb
  app/components/primer/beta/nav_list/item.html.erb
  app/components/primer/beta/nav_list/item.rb
  app/components/primer/primer.ts
  demo/app/views/nav_list_items/index.html.erb
  lib/primer/deprecations.yml
  lib/primer/yard/component_manifest.rb
  previews/primer/alpha/overlay_preview.rb
  previews/primer/alpha/radio_button_preview.rb
  previews/primer/beta/button_preview.rb
  previews/primer/beta/nav_list_preview.rb
  previews/primer/beta/nav_list_preview/trailing_action.html.erb
  static/arguments.json
  static/audited_at.json
  static/constants.json
  static/info_arch.json
  static/previews.json
  static/statuses.json
  test/components/beta/nav_list_test.rb
  test/components/component_test.rb
  test/system/beta/nav_list_test.rb
Labels: javascript, ruby, minor release

#2248 upgrade popover-polyfill to latest
  .changeset/tiny-crews-kneel.md
  app/components/primer/alpha/overlay.pcss
  package-lock.json
  package.json
Labels: css, patch release

#2249 Fix underline behavior in Link component
  .changeset/olive-melons-smell.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/link/default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/link/default/focused.png
  app/components/primer/beta/link.pcss
  app/components/primer/beta/link.rb
  static/classes.json
  test/components/beta/link_test.rb
Labels: ruby, css, patch release

#2251 Add a variant to dialog headers
  .changeset/stupid-otters-shake.md
  app/components/primer/alpha/dialog.rb
  app/components/primer/alpha/dialog/header.rb
  previews/primer/alpha/dialog_preview.rb
  previews/primer/alpha/dialog_preview/with_header.html.erb
  test/components/primer/alpha/dialog_test.rb
Labels: ruby, minor release

#2255 Add previews for input group
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/input_group_leading_action_menu/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/input_group_leading_action_menu/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/input_group_leading_button/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/input_group_leading_button/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/input_group_trailing_button/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/input_group_trailing_button/focused.png
  previews/primer/alpha/text_field_preview.rb
  previews/primer/alpha/text_field_preview/input_group_leading_action_menu.html.erb
  previews/primer/alpha/text_field_preview/input_group_leading_button.html.erb
  previews/primer/alpha/text_field_preview/input_group_trailing_button.html.erb
Labels: skip changeset

#2254 ensure overlay does not add aria-label if it has no role
  .changeset/olive-readers-rule.md
  app/components/primer/alpha/overlay.rb
  test/components/primer/alpha/overlay_test.rb
Labels: ruby, patch release

#2257 Lookbook embeds
  Gemfile
  Gemfile.lock
  demo/Gemfile
  demo/Gemfile.lock
  demo/config/application.rb
Labels: skip changeset

#2256 Fix `disabled` styles for radio labels
  .changeset/dull-rules-double.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/radio_button/disabled/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/radio_button/disabled/focused.png
  app/components/primer/alpha/text_field.pcss
Labels: css, patch release

#2250 Improve contrast for icons in `invisible` button on hover in dark mode
  .changeset/green-buttons-happen.md
  .github/workflows/test.yml
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/icon_only_large/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/icon_only_small/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/icons_and_text_large/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/with_link_as_tag/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/invisible_all_visuals/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/leading_visual/focused.png
  Gemfile
  Gemfile.lock
  app/components/primer/beta/button.pcss
  demo/package-lock.json
  demo/package.json
  package-lock.json
  package.json
  test/css/css_var_fallback_test.rb
Labels: css, patch release

#2260 Several ActionMenu a11y fixes
  .changeset/sour-colts-prove.md
  app/components/primer/alpha/action_menu/action_menu_element.ts
  app/components/primer/alpha/action_menu/list.rb
  package-lock.json
  package.json
  previews/primer/alpha/action_menu_preview.rb
  previews/primer/alpha/action_menu_preview/with_actions.html.erb
  test/components/alpha/action_menu_test.rb
  test/system/alpha/action_menu_test.rb
Labels: javascript, ruby, patch release
