Repository primer/view_components, pull requests merged in 2023-01, with the labels that each got.

#1748 Use published version of kuby-core
  demo/Gemfile.lock
  demo/gemfiles/kuby.gemfile
  demo/gemfiles/kuby.gemfile.lock
Labels: skip changelog

#1752 Remove preview from lookbook path
  lib/tasks/docs.rake
Labels: skip changelog

#1754 Use a mouseup mousedown event to guard accidental clicks dismissing dialog
  .changeset/witty-mails-attend.md
  app/components/primer/alpha/modal_dialog.ts
  previews/primer/alpha/dialog_preview.rb
  previews/primer/alpha/dialog_preview/with_text_input.html.erb
Labels: javascript

#1728 Change `ActionList::Item` tag to `button`
  .changeset/hungry-points-kneel.md
  app/components/primer/alpha/action_list/item.rb
Labels: ruby

#1753 upgrade button component in dialog
  .changeset/eight-ghosts-marry.md
  .playwright/screenshots/previews.test.ts-snapshots/primer/alpha/dialog/default.png
  .playwright/screenshots/previews.test.ts-snapshots/primer/alpha/dialog/focused.png
  app/components/primer/alpha/dialog.rb
Labels: ruby, skip changelog

#1750 Adding :auto to size options to Dialog component
  .changeset/selfish-countries-vanish.md
  app/components/primer/alpha/dialog.rb
Labels: ruby

#1756 Fix media query typo in Button
  .changeset/tasty-hats-pump.md
  app/components/primer/beta/button.pcss
Labels: css

#1755 Release Tracking
  .changeset/early-news-guess.md
  .changeset/eight-ghosts-marry.md
  .changeset/flat-frogs-lie.md
  .changeset/hungry-points-kneel.md
  .changeset/selfish-countries-vanish.md
  .changeset/tasty-hats-pump.md
  .changeset/witty-mails-attend.md
  CHANGELOG.md
  Gemfile.lock
  demo/Gemfile.lock
  lib/primer/view_components/version.rb
  package-lock.json
  package.json
Labels: Release pending

#1759 docs: add security.md
  .github/security.md
Labels: skip changelog

#1760 Toggle switch error messages
  .changeset/swift-jokes-sparkle.md
  .eslintrc.json
  .playwright/screenshots/previews.test.ts-snapshots/primer/alpha/toggle_switch/default.png
  .playwright/screenshots/previews.test.ts-snapshots/primer/alpha/toggle_switch/focused.png
  app/components/primer/alpha/text_field.pcss
  app/components/primer/alpha/toggle_switch.html.erb
  app/components/primer/alpha/toggle_switch.pcss
  app/components/primer/alpha/toggle_switch.ts
  app/components/primer/primer.ts
  app/forms/example_toggle_switch_form.rb
  demo/app/controllers/toggle_switch_controller.rb
  lib/primer/forms/toggle_switch.html.erb
  lib/primer/forms/toggle_switch.rb
  lib/primer/forms/toggle_switch_input.ts
  previews/primer/forms/forms_preview/example_toggle_switch_form.html.erb
  test/css/component_specific_selectors_test.rb
  test/lib/primer/forms/integration_forms_test.rb
Labels: javascript, ruby, css

#1763 Generate IDs for HTML in a standard way
  .changeset/brown-tigers-suffer.md
  app/components/primer/alpha/action_list.rb
  app/components/primer/alpha/action_list/item.rb
  app/components/primer/alpha/dialog.rb
  app/components/primer/alpha/tool_tip.ts
  app/components/primer/alpha/tooltip.rb
  app/components/primer/beta/icon_button.rb
  app/components/primer/component.rb
  app/components/primer/icon_button.rb
  lib/primer/forms/dsl/input.rb
Labels: javascript, ruby

#1764 Use a bash script to check for changesets
  .github/workflows/triage.yml
  script/check-for-changeset
Labels: skip changelog

#1766 Upgrade axe-core
  package-lock.json
  package.json
Labels: skip changelog

#1771 Removing deprecated Primer::BoxComponent and box_component.rb file
  .changeset/curvy-items-fix.md
  app/components/primer/box_component.rb
  lib/primer/deprecations.yml
  static/audited_at.json
  static/constants.json
  static/statuses.json
  test/components/component_test.rb
Labels: ruby

#1772 Removing deprecated Primer::ClipboardCopy component and clipboard_copy.rb file
  .changeset/beige-penguins-think.md
  app/components/primer/clipboard_copy.rb
  lib/primer/deprecations.yml
  static/audited_at.json
  static/constants.json
  static/statuses.json
  test/components/component_test.rb
Labels: ruby

#1779 Start correct processes in script/dev
  script/dev
Labels: skip changelog

#1780 Bug fix: Overlay components cause page shift if scrollbar is present
  .changeset/seven-dots-breathe.md
  app/components/primer/alpha/modal_dialog.ts
  previews/primer/alpha/dialog_preview.rb
  previews/primer/alpha/dialog_preview/body_has_scrollbar_overflow.html.erb
Labels: javascript

#1777 Lookbook form assets
  demo/app/views/lookbook/panels/_assets.html.erb
  demo/config/application.rb
  lib/primer/view_components.rb
  test/lib/primer/view_components_test.rb
Labels: skip changelog

#1783 Remove `DropdownMenuComponent`
  .changeset/large-pandas-divide.md
  Gemfile
  Gemfile.lock
  app/components/primer/dropdown_menu_component.html.erb
  app/components/primer/dropdown_menu_component.rb
  docs/content/guides/primer_dropdown_menu_component.md
  docs/content/migration.md
  docs/contributors/deprecations.md
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  lib/primer/deprecations.yml
  lib/tasks/docs.rake
  static/audited_at.json
  static/constants.json
  static/statuses.json
  test/components/component_test.rb
  test/components/dropdown_menu_component_test.rb
Labels: ruby

#1778 Refactor doc tasks
  Rakefile
  lib/primer/yard/backend.rb
  lib/primer/yard/component_manifest.rb
  lib/primer/yard/docs_helper.rb
  lib/primer/yard/legacy_gatsby_backend.rb
  lib/primer/yard/registry.rb
  lib/primer/yard/renders_many_handler.rb
  lib/primer/yard/renders_one_handler.rb
  lib/tasks/docs.rake
  lib/yard/docs_helper.rb
  lib/yard/renders_many_handler.rb
  lib/yard/renders_one_handler.rb
  test/accessibility_test.rb
  test/lib/test_helper.rb
  test/lib/yard/docs_helper_test.rb
Labels: skip changelog

#1769 Release Tracking
  .changeset/beige-penguins-think.md
  .changeset/curvy-items-fix.md
  .changeset/fluffy-rivers-search.md
  .changeset/large-pandas-divide.md
  .changeset/lemon-years-peel.md
  .changeset/seven-dots-breathe.md
  .changeset/shiny-drinks-bow.md
  .changeset/silver-numbers-sniff.md
  .changeset/strong-radios-promise.md
  .playwright/screenshots/previews.test.ts-snapshots/primer/alpha/nav_list/default.png
  .playwright/screenshots/previews.test.ts-snapshots/primer/alpha/nav_list/focused.png
  CHANGELOG.md
  Gemfile.lock
  demo/Gemfile.lock
  lib/primer/view_components/version.rb
  package-lock.json
  package.json
Labels: Release pending

#1784 Remove unused deprecated component wrappers
  .changeset/shiny-actors-share.md
  app/components/primer/dropdown.rb
  app/components/primer/dropdown/menu.rb
  app/components/primer/hellip_button.rb
  app/components/primer/label_component.rb
  app/components/primer/link_component.rb
  app/components/primer/markdown.rb
  app/components/primer/menu_component.rb
  app/components/primer/octicon_component.rb
  app/components/primer/octicon_symbols_component.rb
  app/components/primer/popover_component.rb
  app/components/primer/spinner_component.rb
  app/components/primer/state_component.rb
  app/components/primer/subhead_component.rb
  app/components/primer/tab_container_component.rb
  app/components/primer/timeline_item_component.rb
  docs/contributors/deprecations.md
  lib/primer/deprecations.yml
  static/audited_at.json
  static/constants.json
  static/statuses.json
  test/components/component_test.rb
Labels: ruby

#1786 Use lookbook 1.5.1
  Gemfile.lock
Labels: skip changelog

#1776 Adding aria labeled by and described by check to SegmentedControl component
  .changeset/swift-shirts-press.md
  app/components/primer/alpha/segmented_control.rb
  app/components/primer/alpha/segmented_control/item.rb
  app/components/primer/base_component.rb
  app/components/primer/component.rb
  previews/primer/alpha/segmented_control_preview.rb
  previews/primer/alpha/segmented_control_preview/with_label_and_caption.html.erb
  previews/primer/alpha/segmented_control_preview/with_subhead_actions.html.erb
  test/components/alpha/hellip_button_test.rb
  test/components/alpha/hidden_text_expander_test.rb
  test/components/component_test.rb
  test/components/icon_button_test.rb
  test/components/primer/alpha/segmented_control_test.rb
Labels: ruby

#1791 Removing the deprecated Primer::LocalTime component
  .changeset/breezy-wombats-act.md
  app/components/primer/local_time.rb
  app/components/primer/local_time.ts
  app/components/primer/primer.ts
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  lib/primer/deprecations.yml
  lib/primer/yard/component_manifest.rb
  previews/primer/local_time_component_preview.rb
  static/arguments.json
  static/audited_at.json
  static/constants.json
  static/statuses.json
  test/components/component_test.rb
  test/components/local_time_test.rb
  test/system/local_time_component_test.rb
Labels: javascript, ruby
