Repository primer/view_components, pull requests merged in 2023-05, with the labels that each got.

#1943 Lots of a11y fixes for NavList, round 2
  .changeset/neat-donuts-bow.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_list/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_list/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/nav_list/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/nav_list/focused.png
  app/components/primer/alpha/action_list.html.erb
  app/components/primer/alpha/action_list.pcss
  app/components/primer/alpha/action_list.rb
  app/components/primer/alpha/action_list/divider.rb
  app/components/primer/alpha/action_list/heading.html.erb
  app/components/primer/alpha/action_list/heading.rb
  app/components/primer/alpha/dialog.rb
  app/components/primer/alpha/nav_list.html.erb
  app/components/primer/alpha/nav_list.rb
  app/components/primer/alpha/nav_list.ts
  app/components/primer/alpha/nav_list/divider.rb
  app/components/primer/alpha/nav_list/group.html.erb
  app/components/primer/alpha/nav_list/group.rb
  app/components/primer/alpha/nav_list/item.rb
  app/components/primer/component.rb
  app/lib/primer/attributes_helper.rb
  previews/primer/alpha/nav_list_preview.rb
  previews/primer/alpha/nav_list_preview/trailing_action.html.erb
  static/classes.json
  test/components/alpha/action_list_test.rb
  test/components/alpha/nav_list_test.rb
  test/components/component_test.rb
  test/css/component_specific_selectors_test.rb
  test/lib/primer/attributes_helper_test.rb
  test/system/alpha/nav_list_test.rb
Labels: javascript, ruby, css, patch release

#1985 Upgrade to Lookbook v2.0
  .dockerignore
  demo/.dockerignore
  demo/Gemfile
  demo/Gemfile.lock
  demo/app/controllers/home_controller.rb
  demo/config/application.rb
  demo/config/routes.rb
Labels: skip changelog

#1987 Bug: Autocomplete results padding
  .changeset/strange-suns-study.md
  app/components/primer/beta/auto_complete.rb
  static/classes.json
Labels: ruby, patch release

#1967 Toggle switch a11y
  .changeset/eight-bears-grow.md
  app/components/primer/alpha/toggle_switch.html.erb
  app/components/primer/alpha/toggle_switch.pcss
  app/components/primer/alpha/toggle_switch.rb
  app/components/primer/alpha/toggle_switch.ts
  lib/primer/forms/dsl/input.rb
  lib/primer/forms/dsl/text_field_input.rb
  lib/primer/forms/dsl/toggle_switch_input.rb
  lib/primer/forms/form_control.html.erb
  lib/primer/forms/primer_base_component_wrapper.html.erb
  lib/primer/forms/primer_base_component_wrapper.rb
  lib/primer/forms/toggle_switch.html.erb
  lib/primer/forms/toggle_switch.rb
  lib/primer/forms/toggle_switch_input.ts
  test/accessibility_test.rb
  test/lib/primer/forms/form_control_test.rb
  test/lib/primer/forms/forms_test.rb
  test/lib/primer/forms/integration_forms_test.rb
  test/system/alpha/toggle_switch_test.rb
  test/system/test_case.rb
Labels: javascript, ruby, css, patch release

#1996 Aria disabled dialog
  .changeset/late-melons-guess.md
  app/components/primer/alpha/modal_dialog.ts
Labels: javascript, patch release

#1998 use correct psuedo selector for popover
  .changeset/late-items-invite.md
  app/components/primer/alpha/overlay.pcss
Labels: css, patch release

#1994 fix popover close button
  .changeset/real-cows-do.md
  app/components/primer/alpha/overlay.rb
  app/components/primer/alpha/overlay/header.html.erb
  app/components/primer/alpha/overlay/header.rb
Labels: ruby, patch release

#1990 Using custom properties fallback plugin to fallback primitives
  .changeset/shy-cows-drive.md
  docs/package-lock.json
  docs/package.json
  package-lock.json
  package.json
  postcss.config.js
  static/classes.json
Labels: patch release

#2003 bump @primer/behaviors to 1.3.4
  .changeset/purple-drinks-suffer.md
  package-lock.json
  package.json
Labels: patch release

#2002 Fix popover open selector for focus group
  .changeset/ten-avocados-watch.md
  app/components/primer/focus_group.ts
Labels: javascript, patch release

#2004 prevent default when showing dialog
  .changeset/wet-seahorses-attack.md
  app/components/primer/alpha/modal_dialog.ts
Labels: javascript, patch release

#2009 Fix select doc example
  .changeset/forty-tomatoes-rule.md
  lib/primer/yard/lookbook_pages_backend.rb
Labels: patch release

#2011 Make ActionList leading visual icons the same color as the item text
  .changeset/funny-tomatoes-sparkle.md
  app/components/primer/alpha/action_list/item.rb
Labels: ruby, patch release

#2010 Fix danger example in ActionMenu docs
  app/components/primer/alpha/action_menu.rb
Labels: ruby, skip changelog

#2014 Remove unused task helpers
  lib/tasks/helpers/ast_processor.rb
  lib/tasks/helpers/ast_traverser.rb
  lib/tasks/primer_view_components.rake
Labels: skip changelog

#2015 Exclude rake tasks from published gem
  primer_view_components.gemspec
Labels: skip changelog

#2016 Export additional attributes in info arch data
  lib/primer/static/generate_info_arch.rb
  lib/primer/yard/component_manifest.rb
  lib/primer/yard/registry.rb
  static/info_arch.json
Labels: skip changelog

#2006 Fix popover open selector for anchored position
  .changeset/famous-moles-flash.md
  app/components/primer/alpha/action_menu/action_menu_element.ts
  app/components/primer/focus_group.ts
  package-lock.json
  package.json
Labels: javascript, patch release

#2023 Bump popover-polyfill to latest version
  .changeset/tiny-lions-leave.md
  package-lock.json
  package.json
  test/accessibility_test.rb
Labels: patch release

#2019 Improve preview data dump
  Gemfile
  Gemfile.lock
  demo/config/environments/production.rb
  lib/primer/accessibility.rb
  lib/primer/static/generate_previews.rb
  lib/primer/yard/lookbook_pages_backend.rb
  package-lock.json
  package.json
  previews/pages/forms/03_caption_templates.md.erb
  previews/pages/forms/04_after_content.md.erb
  previews/pages/forms/06_miscellaneous_inputs.md.erb
  previews/pages/forms/07_toggle_switch_forms.md.erb
  previews/primer/forms/forms_preview.rb
  previews/primer/forms_preview.rb
  previews/primer/forms_preview/after_content_form.html.erb
  previews/primer/forms_preview/array_check_box_group_form.html.erb
  previews/primer/forms_preview/caption_template_form.html.erb
  previews/primer/forms_preview/check_box_group_form.html.erb
  previews/primer/forms_preview/check_box_with_nested_form.html.erb
  previews/primer/forms_preview/composed_form.html.erb
  previews/primer/forms_preview/example_toggle_switch_form.html.erb
  previews/primer/forms_preview/horizontal_form.html.erb
  previews/primer/forms_preview/immediate_validation_form.html.erb
  previews/primer/forms_preview/invalid_form.html.erb
  previews/primer/forms_preview/multi_input_form.html.erb
  previews/primer/forms_preview/multi_text_field_form.html.erb
  previews/primer/forms_preview/name_with_question_mark_form.html.erb
  previews/primer/forms_preview/radio_button_group_form.html.erb
  previews/primer/forms_preview/radio_button_with_nested_form.html.erb
  previews/primer/forms_preview/select_form.html.erb
  previews/primer/forms_preview/single_text_field_form.html.erb
  previews/primer/forms_preview/submit_button_form.html.erb
  previews/primer/forms_preview/text_field_and_checkbox_form.html.erb
  static/previews.json
  test/accessibility_test.rb
  test/lib/primer/accessibility_test.rb
  test/lib/primer/forms_test.rb
  test/playwright/snapshots.test.ts
  test/system/test_case.rb
Labels: skip changelog

#2024 Setup accessibility-alt-text-bot.yml workflow
  .github/workflows/accessibility-alt-text-bot.yml
Labels: skip changelog

#2027 enable focussing first element on space activation
  .changeset/popular-apes-juggle.md
  app/components/primer/alpha/action_menu/action_menu_element.ts
Labels: javascript, patch release

#2026 Update accessibility-alt-text-bot.yml
  .github/workflows/accessibility-alt-text-bot.yml
Labels: skip changelog

#2013 Update `ButtonGroup` to use `Beta::Button`
  .changeset/forty-jokes-punch.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button_group/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button_group/focused.png
  app/components/primer/beta/button_group.pcss
  app/components/primer/beta/button_group.rb
  app/components/primer/primer.pcss
  previews/primer/beta/button_group_preview.rb
  previews/primer/beta/button_group_preview/action_menus.html.erb
  static/classes.json
  test/components/beta/button_group_test.rb
  test/css/component_selector_use_test.rb
  test/css/component_specific_selectors_test.rb
Labels: ruby, css, patch release

#2030 ci: release notification
  .github/workflows/release_notification.yml
Labels: skip changelog

#2028 Use ruby 3.2 in CI
  .github/workflows/demo-production-deploy.yml
  .github/workflows/docs-production-deploy.yml
  .github/workflows/lint.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/static-files.yml
  .github/workflows/test.yml
  test/performance/bench_classify.rb
  test/performance/bench_octicons.rb
Labels: skip changelog

#2025 Preserve aria-label when icon button show_tooltip is false
  .changeset/tidy-plums-pay.md
  app/components/primer/beta/icon_button.rb
  test/components/primer/beta/icon_button_test.rb
Labels: ruby, patch release

#2036 Sort classes.json to prevent annoying diffs
  script/export-css-selectors
  static/classes.json
Labels: skip changelog

#2008 Update color vars for `Button` with counter
  .changeset/calm-moles-design.md
  app/components/primer/beta/button.pcss
  demo/package-lock.json
  demo/package.json
  docs/package-lock.json
  docs/package.json
  package-lock.json
  package.json
  previews/primer/beta/button_preview.rb
  previews/primer/beta/button_preview/trailing_counter.html.erb
  test/css/component_specific_selectors_test.rb
Labels: css, patch release

#2037 Bump alt-text-bot: get alt text reminders on discussion comments
  .github/workflows/accessibility-alt-text-bot.yml
Labels: skip changelog

#2031 Update pull_request_template.md
  .github/pull_request_template.md
Labels: skip changelog

#2032 Bug fix: Text field validation wrap styles
  .changeset/friendly-buses-thank.md
  app/components/primer/alpha/form_control.html.erb
  app/components/primer/alpha/text_field.pcss
  lib/primer/forms/form_control.html.erb
Labels: ruby, css, patch release
