Repository primer/view_components, pull requests merged in 2024-05, with the labels that each got.

#2822 fix: Fix NVDA menu item counts that are broken by `<form>`
  .changeset/gorgeous-turtles-agree.md
  app/components/primer/alpha/action_menu/list.rb
Labels: patch release

#2828 Set `role=none` in different place for ActionMenu form items
  .changeset/rotten-socks-appear.md
  app/components/primer/alpha/action_list/form_wrapper.rb
  app/components/primer/alpha/action_menu/list.rb
  test/components/alpha/action_menu_test.rb
Labels: patch release

#2830 Create release_tracking workflow for tracking releases
  .github/workflows/release_tracking.yml
Labels: skip changeset

#2837 Update dependencies
  .changeset/olive-wasps-call.md
  Gemfile
  Gemfile.lock
  demo/Gemfile.lock
Labels: patch release

#2839 Revert tab container upgrade
  .changeset/warm-wombats-notice.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_panels/default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_panels/default/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_panels/with_actions/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_panels/with_actions/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_panels/with_icons_and_counters/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_panels/with_icons_and_counters/focused.png
  app/components/primer/alpha/tab_nav.pcss
  app/components/primer/alpha/tab_panels.html.erb
  app/components/primer/alpha/tab_panels.rb
  app/components/primer/alpha/underline_nav.pcss
  app/components/primer/alpha/underline_panels.html.erb
  app/components/primer/alpha/underline_panels.pcss
  app/components/primer/alpha/underline_panels.rb
  app/components/primer/primer.pcss
  package-lock.json
  package.json
  test/components/alpha/tab_panels_test.rb
  test/components/alpha/underline_panels_test.rb
  test/css/component_specific_selectors_test.rb
  test/system/alpha/tab_panels_test.rb
  test/system/alpha/underline_panels_test.rb
Labels: patch release

#2840 More dependency updates
  .changeset/fifty-moons-knock.md
  Gemfile
  Gemfile.lock
  demo/Gemfile
  demo/Gemfile.lock
Labels: patch release

#2842 Update lookbook example to use href when tag is anchor
  previews/primer/beta/label_preview.rb
Labels: skip changeset

#2844 Moda support
  demo/app/controllers/health_controller.rb
  demo/config/routes.rb
Labels: skip changeset

#2843 Add live region to announce "Copied!" on ClipboardCopy component
  .changeset/afraid-shoes-taste.md
  app/components/primer/beta/clipboard_copy.html.erb
  app/components/primer/beta/clipboard_copy.rb
  app/components/primer/beta/clipboard_copy.ts
  app/components/primer/beta/clipboard_copy_button.rb
  test/components/beta/clipboard_copy_test.rb
  test/system/beta/clipboard_copy_button_test.rb
Labels: minor release

#2846 Clean up Lookbook-related alerts
  .changeset/heavy-radios-confess.md
  app/components/primer/alpha/toggle_switch.rb
  app/components/primer/alpha/toggle_switch.ts
  app/lib/primer/attributes_helper.rb
  demo/app/controllers/application_controller.rb
  demo/app/controllers/auto_check_controller.rb
  demo/app/controllers/toggle_switch_controller.rb
  demo/app/views/lookbook/panels/_assets.html.erb
  demo/config/environments/test.rb
  lib/primer/forms/toggle_switch.html.erb
  previews/primer/alpha/toggle_switch_preview.rb
  previews/primer/forms_preview/example_toggle_switch_form.html.erb
  test/components/alpha/toggle_switch_test.rb
  test/lib/primer/forms/integration_forms_test.rb
  test/lib/primer/forms/toggle_switch_form_test.rb
Labels: patch release

#2857 Upgrade Lookbook for perf improvements
  demo/Gemfile
  demo/Gemfile.lock
Labels: skip changeset

#2868 Remove non-existing argument in Banner preview
  .changeset/ten-wombats-beg.md
  previews/primer/alpha/banner_preview.rb
Labels: patch release

#2871 Remove the branches check from the primer-release-workflow
  .github/workflows/release_tracking.yml
Labels: skip changeset
