Repository primer/view_components, pull requests merged in 2024-10, with the labels that each got.

#3127 include app/lib/ in package-json
  package.json
Labels: skip changeset

#3126 Introduce the Stack and StackItem components
  .changeset/shy-schools-grow.md
  app/components/primer/alpha/stack.html.erb
  app/components/primer/alpha/stack.pcss
  app/components/primer/alpha/stack.rb
  app/components/primer/alpha/stack_item.html.erb
  app/components/primer/alpha/stack_item.pcss
  app/components/primer/alpha/stack_item.rb
  app/components/primer/primer.pcss
  app/components/primer/responsive_arg.rb
  previews/primer/alpha/stack_item_preview.rb
  previews/primer/alpha/stack_item_preview/default.html.erb
  previews/primer/alpha/stack_item_preview/playground.html.erb
  previews/primer/alpha/stack_preview.rb
  previews/primer/alpha/stack_preview/playground.html.erb
  test/components/alpha/stack_item_test.rb
  test/components/alpha/stack_test.rb
  test/components/component_test.rb
Labels: minor release

#3138 Update release template to remind conductors to deploy lookbook
  .github/release_template.md
Labels: skip changeset

#3140 Remove importmap-rails dependency
  demo/Gemfile
  demo/Gemfile.lock
Labels: skip changeset

#3076 Add "action" to the list of data attributes that accept multiple values
  .changeset/lemon-kiwis-learn.md
  app/lib/primer/attributes_helper.rb
Labels: patch release

#3144 reduce cost of style calc+layout in --dialog-scrollgutter
  .changeset/wicked-bananas-tie.md
  app/components/primer/alpha/dialog.pcss
Labels: patch release

#3147 Fix gitignore for Primer forms move
  .gitignore
  app/lib/primer/forms.rb
  app/lib/primer/forms/primer_multi_input.d.ts
  app/lib/primer/forms/primer_text_field.d.ts
  app/lib/primer/forms/primer_text_field.js
  app/lib/primer/forms/toggle_switch_input.d.ts
  package.json
Labels: skip changeset

#3149 Allow form groups to accept system arguments
  .changeset/hip-deers-rhyme.md
  app/lib/primer/forms/base_component.rb
  app/lib/primer/forms/group.html.erb
  app/lib/primer/forms/group.rb
  test/lib/primer/forms/group_input_test.rb
  test/lib/primer/forms_test.rb
Labels: minor release

#3143 Reduce ActionMenu test flakes
  test/system/alpha/action_menu_test.rb
Labels: skip changeset

#3141 Allow setting custom values on submit buttons
  .changeset/cuddly-games-prove.md
  app/lib/primer/forms/button.rb
  app/lib/primer/forms/dsl/input.rb
  test/lib/primer/forms/submit_button_input_test.rb
Labels: patch release

#3151 Move azure ids to secrets
  .github/workflows/demo-preview-cleanup.yml
  .github/workflows/demo-preview-destroy.yml
  .github/workflows/demo-production-deploy.yml
  .github/workflows/preview-deploy.yml
  demo/kuby.rb
Labels: skip changeset

#3154 Upgrade stylelint to latest version
  .github/workflows/lint.yml
  .stylelintrc.json
  app/components/primer/alpha/action_list.pcss
  app/components/primer/alpha/button_marketing.pcss
  app/components/primer/alpha/dialog.pcss
  app/components/primer/alpha/dropdown.pcss
  app/components/primer/alpha/layout.pcss
  app/components/primer/alpha/menu.pcss
  app/components/primer/alpha/segmented_control.pcss
  app/components/primer/alpha/text_field.pcss
  app/components/primer/alpha/underline_nav.pcss
  app/components/primer/beta/avatar_stack.pcss
  app/components/primer/beta/blankslate.pcss
  app/components/primer/beta/popover.pcss
  app/components/primer/beta/timeline_item.pcss
  package-lock.json
  package.json
Labels: skip changeset

#3152 Fix bug where checkboxes were broken with prefers-reduced-motion
  .changeset/tough-actors-wait.md
  app/components/primer/alpha/text_field.pcss
Labels: patch release

#3157 Fix tsconfig output dir
  tsconfig.json
Labels: skip changeset

#3160 Bump primer/css
  .changeset/healthy-phones-love.md
  package-lock.json
  package.json
Labels: minor release

#3159 Increase the default space between form elements
  .changeset/tricky-foxes-train.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/check_box_group/with_caption/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/check_box_group/with_caption/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/radio_button_group/default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/radio_button_group/default/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/radio_button_group/invalid/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/radio_button_group/invalid/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/radio_button_group/with_caption/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/radio_button_group/with_caption/focused.png
  app/components/primer/alpha/text_field.pcss
Labels: patch release

#3158 Delete Primer::Alpha::ImageCrop
  .changeset/afraid-teachers-battle.md
  app/components/primer/alpha/image_crop.html.erb
  app/components/primer/alpha/image_crop.rb
  app/components/primer/alpha/image_crop.ts
  app/components/primer/primer.ts
  lib/primer/yard/component_manifest.rb
  previews/primer/alpha/image_crop_preview.rb
  static/arguments.json
  static/audited_at.json
  static/constants.json
  static/info_arch.json
  static/previews.json
  static/statuses.json
  test/components/alpha/image_crop_test.rb
  test/components/component_test.rb
Labels: minor release

#3139 Update details_menu_migration linter config
  .changeset/new-nails-walk.md
  lib/primer/view_components/linters/details_menu_migration.rb
  test/lib/erblint/details_menu_migration_test.rb
Labels: patch release

#3167 Upgrade to view_component v3.19 to fix CI
  Gemfile.lock
  demo/Gemfile.lock
Labels: skip changeset

#3168 [SelectPanel] Fix issue causing no error banner to appear when there are no matches
  .changeset/quiet-fans-repeat.md
  app/components/primer/alpha/select_panel_element.ts
  previews/primer/alpha/select_panel_preview.rb
  previews/primer/alpha/select_panel_preview/remote_fetch_filter_failure.html.erb
  test/system/alpha/select_panel_test.rb
Labels: patch release
