Repository primer/view_components, pull requests merged in 2024-08, with the labels that each got.

#2984 Action list description test selector
  .changeset/loud-shoes-enjoy.md
  app/components/primer/alpha/action_list/item.html.erb
  app/components/primer/alpha/action_list/item.rb
  previews/primer/alpha/action_list_preview.rb
  test/components/alpha/action_list_test.rb
Labels: minor release

#2986 [Alpha][SelectPanel] Fix single select remote loading bug
  .changeset/dull-knives-leave.md
  app/components/primer/alpha/select_panel_element.ts
  demo/app/controllers/select_panel_items_controller.rb
  previews/primer/alpha/select_panel_preview.rb
  previews/primer/alpha/select_panel_preview/playground.html.erb
  test/system/alpha/select_panel_test.rb
Labels: patch release

#2987 [Alpha][SelectPanel] Ensure focus is set on SelectPanel item when arrowing down from input
  .changeset/fast-items-tell.md
  app/components/primer/alpha/select_panel_element.ts
Labels: patch release

#2996 [Alpha][SelectPanel] Remove tabindex="-1" from `li` elements labelled as `role="none"`
  .changeset/spotty-kings-whisper.md
  app/components/primer/alpha/select_panel_element.ts
Labels: patch release

#2995 Allow ActionList item content to be supplied by positional arg
  .changeset/brown-fireants-reflect.md
  app/components/primer/alpha/action_list/item.rb
  test/components/alpha/action_list_test.rb
Labels: patch release

#2994 [Alpha][SelectPanel] Add aria-labelledby on the dialog in the SelectPanel
  .changeset/tasty-icons-knock.md
  app/components/primer/alpha/select_panel.rb
  test/components/alpha/select_panel_test.rb
Labels: patch release

#2989 Add `aria-haspopup` and `aria-expanded` to invoker
  .changeset/tall-ladybugs-divide.md
  app/components/primer/alpha/select_panel.rb
  app/components/primer/alpha/select_panel_element.ts
Labels: patch release

#2978 Ensure pressing 'Enter' in SelectPanel filter input causes navigation if first item is link
  .changeset/perfect-dogs-tell.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/list_of_links/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/list_of_links/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/list_of_links/dark_dimmed.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/list_of_links/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/list_of_links/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/list_of_links/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/list_of_links/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/list_of_links/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/list_of_links/light_high_contrast.png
  app/components/primer/alpha/select_panel_element.ts
  previews/primer/alpha/select_panel_preview.rb
  previews/primer/alpha/select_panel_preview/list_of_links.html.erb
  static/info_arch.json
  static/previews.json
  test/system/alpha/select_panel_test.rb
Labels: patch release

#2997 Prevent an empty list of custom regexes in the DetailsMenuMigration linter from reporting false positives
  .changeset/metal-shirts-sparkle.md
  lib/primer/view_components/linters/details_menu_migration.rb
  test/lib/erblint/details_menu_migration_test.rb
Labels: patch release

#2999 Clarify tooltip lint message
  lib/primer/view_components/linters/tooltipped_migration.rb
Labels: skip changeset

#3007 Fix a few issues with the SelectPanel docs
  app/components/primer/alpha/select_panel.rb
  package.json
Labels: skip changeset

#3012 All requests from `ToggleSwitch` are being made with a Turbo Accept header
  .changeset/quick-falcons-cheat.md
  app/components/primer/alpha/toggle_switch.rb
  test/components/alpha/toggle_switch_test.rb
  test/system/alpha/toggle_switch_test.rb
Labels: patch release

#3011 Hide "loading" screen reader-only text after visual spinner leaves
  .changeset/khaki-waves-lie.md
  app/components/primer/alpha/select_panel_element.ts
  app/components/primer/beta/spinner.html.erb
  lib/primer/forms/primer_text_field.ts
Labels: patch release

#3014 Modernize the dev experience
  .github/workflows/test.yml
  .gitignore
  Gemfile
  Gemfile.lock
  Procfile
  demo/Gemfile
  demo/Gemfile.lock
  demo/app/assets/builds/.keep
  demo/app/assets/config/manifest.js
  demo/app/assets/stylesheets/application.css
  demo/app/assets/stylesheets/application.postcss.css
  demo/app/assets/stylesheets/component_preview.css
  demo/app/javascript/entrypoints/application.ts
  demo/app/views/layouts/application.html.erb
  demo/app/views/layouts/component_preview.html.erb
  demo/bin/vite
  demo/config/vite.json
  demo/package-lock.json
  demo/package.json
  demo/vite.config.mts
  lib/tasks/test.rake
  package-lock.json
  package.json
  playwright.config.ts
  postcss.config.js
  script/dev
Labels: skip changeset

#3009 [SelectPanel] Include value in activation events
  .changeset/chatty-jokes-walk.md
  app/components/primer/alpha/select_panel_element.ts
  app/components/primer/shared_events.ts
  test/system/alpha/select_panel_test.rb
Labels: minor release

#2983 actionmenu: ensure focus falls back to invoking element when dialogs are closed
  .changeset/brave-bugs-tap.md
  app/components/primer/alpha/action_menu/action_menu_element.ts
  test/system/alpha/action_menu_test.rb
Labels: patch release

#3021 When hiding a `Spinner`, also hide its screen reader text
  .changeset/neat-pumpkins-appear.md
  app/components/primer/beta/spinner.html.erb
  app/components/primer/beta/spinner.rb
  app/lib/primer/attributes_helper.rb
  lib/primer/forms/primer_text_field.ts
  test/components/alpha/text_field_test.rb
  test/system/alpha/text_field_test.rb
Labels: patch release

#3025 Introduce demo cleanup action
  .github/workflows/demo-preview-cleanup.rb
  .github/workflows/demo-preview-cleanup.yml
Labels: skip changeset

#3026 Fire an event when banners are dismissed
  .changeset/chatty-beds-double.md
  app/components/primer/alpha/banner.rb
  app/components/primer/alpha/x_banner.ts
  test/system/alpha/banner_test.rb
Labels: minor release

#3022 Add a linter for migrating from SelectMenu -> SelectPanel
  .changeset/two-lemons-leave.md
  lib/primer/view_components/linters/base_linter.rb
  lib/primer/view_components/linters/blankslate_component_migration_counter.rb
  lib/primer/view_components/linters/select_menu_migration_counter.rb
  test/lib/erblint/select_menu_migration_counter_test.rb
  test/lib/erblint/support/basic_linter_shared_tests.rb
Labels: minor release

#3038 [SelectPanel] Add checks for existence of filter input
  .changeset/quiet-phones-scream.md
  app/components/primer/alpha/select_panel_element.ts
  previews/primer/alpha/select_panel_preview.rb
  previews/primer/alpha/select_panel_preview/eventually_local_fetch.html.erb
  test/system/alpha/select_panel_test.rb
Labels: patch release

#2982 Add support for trailing and leading visual icons in Primer::Beta::Link
  .changeset/odd-dots-laugh.md
  app/components/primer/base_component.rb
  app/components/primer/beta/link.html.erb
  app/components/primer/beta/link.rb
  app/components/primer/component.rb
  app/components/primer/conditional_wrapper.rb
  previews/primer/beta/link_preview.rb
  test/components/beta/link_test.rb
Labels: minor release

#3040 Revert "Add support for trailing and leading visual icons in Primer::Beta::Link (#2982)"
  .changeset/odd-dots-laugh.md
  .changeset/quiet-kids-sort.md
  app/components/primer/base_component.rb
  app/components/primer/beta/link.html.erb
  app/components/primer/beta/link.rb
  app/components/primer/component.rb
  app/components/primer/conditional_wrapper.rb
  previews/primer/beta/link_preview.rb
  test/components/beta/link_test.rb
Labels: patch release
