Repository primer/view_components, pull requests merged in 2024-02, with the labels that each got.

#2554 Ensure popovers that open dialogs do not close when the dialog opens
  .changeset/cool-meals-appear.md
  app/components/primer/dialog_helper.ts
  previews/primer/alpha/dialog_preview.rb
  previews/primer/alpha/dialog_preview/dialog_inside_overlay.html.erb
  test/system/alpha/dialog_test.rb
Labels: patch release

#2553 ensure direct clicks to the dialog can only close the dialog
  .changeset/strange-windows-occur.md
  app/components/primer/dialog_helper.ts
  test/system/alpha/dialog_test.rb
Labels: patch release

#2548 add note to nested dialog example
  previews/primer/alpha/dialog_preview/nested_dialog.html.erb
Labels: skip changeset

#2558 Bump to ruby 2.7.0
  primer_view_components.gemspec
Labels: skip changeset

#2556 Fix layering issues with dialog popover hack
  .changeset/lucky-apricots-move.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/dialog_inside_overlay/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/dialog_inside_overlay/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/dialog_inside_overlay/dark_dimmed.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/dialog_inside_overlay/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/dialog_inside_overlay/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/dialog_inside_overlay/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/dialog_inside_overlay/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/dialog_inside_overlay/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/dialog_inside_overlay/light_high_contrast.png
  app/components/primer/alpha/action_menu/action_menu_element.ts
  app/components/primer/dialog_helper.ts
  previews/primer/alpha/dialog_preview.rb
  previews/primer/alpha/dialog_preview/dialog_inside_overlay.html.erb
  test/system/alpha/action_menu_test.rb
  test/system/alpha/dialog_test.rb
Labels: patch release

#2575 Lint for `stopPropagation` calls in JavaScript
  .eslintrc.json
  app/components/primer/alpha/action_menu/action_menu_element.ts
  app/components/primer/alpha/modal_dialog.ts
  app/components/primer/alpha/toggle_switch.ts
  app/components/primer/alpha/tool_tip.ts
  app/components/primer/beta/clipboard_copy.ts
  app/components/primer/beta/nav_list.ts
  app/components/primer/dialog_helper.ts
  app/components/primer/focus_group.ts
Labels: skip changeset

#2577 Adds accessibility section to Banner regarding focus management
  .changeset/dry-apes-pretend.md
  app/components/primer/alpha/banner.rb
Labels: patch release

#2557 early return for index out of bounds in actionbar
  .changeset/sharp-walls-attend.md
  app/components/primer/alpha/action_bar_element.ts
Labels: patch release

#2585 Bug: Remove dismissable Banner stealing focus
  .changeset/silly-cherries-compare.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/banner/dismissible/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/banner/dismissible/focused.png
  app/components/primer/alpha/banner.html.erb
Labels: patch release

#2604 Update tsconfig.json target to `es2020`
  .changeset/stupid-pears-flow.md
  tsconfig.json
Labels: minor release

#2608 Fix codespaces (again)
  Gemfile.lock
  demo/.ruby-version
  script/dev
  script/setup
Labels: skip changeset

#2600 Remove rack dependency line from Gemfile
  Gemfile
  Gemfile.lock
Labels: skip changeset

#2602 Removing minitest dependency line from Gemfile
  Gemfile
  Gemfile.lock
Labels: skip changeset

#2607 Add ability to attach action menus to button group buttons
  .changeset/itchy-scissors-fly.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button_group/with_menu_button/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button_group/with_menu_button/focused.png
  app/components/primer/beta/button_group.rb
  previews/primer/beta/button_group_preview.rb
  previews/primer/beta/button_group_preview/action_menus.html.erb
  previews/primer/beta/button_group_preview/with_menu_button.html.erb
  test/components/beta/button_group_test.rb
  test/system/beta/button_group_test.rb
Labels: minor release

#2611 Update README docs with instructions to preview docs site locally
  .changeset/quiet-readers-join.md
  docs/contributors/README.md
Labels: patch release

#2626 Bump view_component to v3.11.0
  .changeset/lovely-vans-join.md
  Gemfile.lock
  demo/Gemfile
  demo/Gemfile.lock
Labels: minor release

#2628 Primitives v8 bug fix: `invisible` button hover state in high contrast themes
  .changeset/cyan-hotels-double.md
  app/components/primer/beta/button.pcss
  demo/package-lock.json
Labels: patch release

#2640 Mark `Flash` as deprecated
  .changeset/mighty-poems-know.md
  app/components/primer/beta/flash.rb
  lib/primer/deprecations.yml
  test/components/beta/flash_test.rb
Labels: minor release

#2629 Fix autofocus behavior for radio button and check box groups
  .changeset/dry-radios-breathe.md
  lib/primer/forms/check_box_group.html.erb
  lib/primer/forms/check_box_group.rb
  lib/primer/forms/dsl/check_box_group_input.rb
  lib/primer/forms/dsl/radio_button_group_input.rb
  lib/primer/forms/radio_button_group.html.erb
  lib/primer/forms/radio_button_group.rb
  test/lib/primer/forms/checkbox_group_input_test.rb
  test/lib/primer/forms/radio_button_group_input_test.rb
Labels: patch release

#2622 Change NavList's 'show more' example to be more representative of what we do in prod
  demo/app/controllers/nav_list_items_controller.rb
  demo/app/views/nav_list_items/index.html.erb
Labels: skip changeset

#2627 Multi select form inputs
  .changeset/beige-flowers-push.md
  app/components/primer/alpha/text_field.pcss
  app/forms/select_form.rb
  demo/app/controllers/form_handler_controller.rb
  demo/app/views/form_handler/form_action.html.erb
  demo/config/routes.rb
  lib/primer/forms/dsl/select_input.rb
  lib/primer/forms/select.rb
  previews/primer/forms_preview/select_form.html.erb
  test/lib/primer/forms_test.rb
Labels: minor release

#2643 Swap bg-gradient with bg-color for Banner/Flash
  .changeset/yellow-rings-approve.md
  app/components/primer/alpha/banner.pcss
  app/components/primer/beta/flash.pcss
Labels: patch release

#2610 Add tooltip to `navList` if the text is truncated
  .changeset/lucky-phones-burn.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_list/long_label_with_tooltip/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_list/long_label_with_tooltip/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_list/long_label_with_tooltip/dark_dimmed.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_list/long_label_with_tooltip/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_list/long_label_with_tooltip/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_list/long_label_with_tooltip/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_list/long_label_with_tooltip/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_list/long_label_with_tooltip/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_list/long_label_with_tooltip/light_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/nav_list/long_label_with_tooltip/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/nav_list/long_label_with_tooltip/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/nav_list/long_label_with_tooltip/dark_dimmed.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/nav_list/long_label_with_tooltip/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/nav_list/long_label_with_tooltip/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/nav_list/long_label_with_tooltip/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/nav_list/long_label_with_tooltip/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/nav_list/long_label_with_tooltip/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/nav_list/long_label_with_tooltip/light_high_contrast.png
  app/components/primer/alpha/action_list.html.erb
  app/components/primer/alpha/action_list.pcss
  app/components/primer/alpha/action_list.ts
  app/components/primer/alpha/action_list/item.rb
  app/components/primer/beta/nav_list.html.erb
  app/components/primer/beta/nav_list.ts
  app/components/primer/beta/nav_list_group_element.ts
  app/components/primer/primer.ts
  previews/primer/alpha/action_list_preview.rb
  previews/primer/beta/nav_list_preview.rb
  test/components/alpha/action_list_test.rb
  test/css/component_specific_selectors_test.rb
  test/system/alpha/action_list_test.rb
Labels: minor release

#2642 Unify breadcrumbs
  .changeset/khaki-ties-sort.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/breadcrumbs/default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/breadcrumbs/default/focused.png
  app/components/primer/beta/breadcrumbs.pcss
Labels: patch release
