Repository primer/view_components, pull requests merged in 2024-01, with the labels that each got.

#2478 Bug fix in ActionBar: When collapsed the menu and tooltips aren't visible in Firefox
  .changeset/smart-insects-cheat.md
  app/components/primer/alpha/action_bar_element.ts
Labels: patch release

#2491 Fixing the utilities build not matching properly for `font_size`
  .changeset/tall-bugs-laugh.md
  lib/primer/classify/utilities.rb
  lib/primer/classify/utilities.yml
Labels: patch release

#2497 generate image previews for position left/right dialog
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/left_side/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/left_side/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/left_side/dark_dimmed.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/left_side/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/left_side/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/left_side/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/left_side/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/left_side/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/left_side/light_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/right_side/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/right_side/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/right_side/dark_dimmed.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/right_side/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/right_side/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/right_side/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/right_side/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/right_side/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/right_side/light_high_contrast.png
  previews/primer/alpha/dialog_preview.rb
Labels: skip changeset

#2495 Allow setting `test_selector` on select list options
  .changeset/healthy-needles-tease.md
  lib/primer/forms/dsl/select_input.rb
  test/lib/primer/forms/select_list_input_test.rb
Labels: patch release

#2498 Add descriptive text for `Tooltip` example
  previews/primer/alpha/tooltip_preview.rb
Labels: skip changeset

#2477 Propose removing the validate classname check that forces system arguments instead of utility classes
  .changeset/wild-shirts-heal.md
  lib/primer/classify.rb
  test/lib/classify_test.rb
Labels: minor release

#2512 Fix codespaces by locking solargraph version and using Ruby 3
  .devcontainer/Dockerfile
Labels: skip changeset

#2496 Refactor Dialog to use `<dialog>` internally
  .changeset/wise-coats-buy.md
  app/components/primer/alpha/action_menu/action_menu_element.ts
  app/components/primer/alpha/dialog.html.erb
  app/components/primer/alpha/dialog.pcss
  app/components/primer/alpha/dialog.rb
  app/components/primer/alpha/overlay.pcss
  app/components/primer/dialog_helper.ts
  app/components/primer/primer.ts
  previews/primer/alpha/tooltip_preview/tooltip_with_dialog_moving_focus_to_input.html.erb
  test/components/primer/alpha/dialog_test.rb
  test/system/alpha/action_menu_test.rb
  test/system/alpha/dialog_test.rb
  test/system/alpha/tooltip_test.rb
Labels: minor release

#2513 Adjust migration guide URLs
  lib/primer/deprecations.yml
  lib/primer/view_components/linters/tooltipped_migration.rb
Labels: skip changeset

#2515 Fixup animations in dialog
  app/components/primer/alpha/dialog.pcss
Labels: skip changeset

#2511 Only attach validation IDs to form elements that support validation
  .changeset/wet-fishes-fold.md
  lib/primer/forms/dsl/button_input.rb
  lib/primer/forms/dsl/check_box_input.rb
  lib/primer/forms/dsl/hidden_input.rb
  lib/primer/forms/dsl/input.rb
  lib/primer/forms/dsl/radio_button_input.rb
  lib/primer/forms/dsl/submit_button_input.rb
  lib/primer/forms/form_control.html.erb
  test/lib/primer/forms_test.rb
Labels: patch release

#2530 Bump popover-polyfill to v0.3.8
  .changeset/rotten-shirts-march.md
  package-lock.json
  package.json
Labels: patch release

#2514 Break up button text when it is too long
  .changeset/quick-bulldogs-hammer.md
  app/components/primer/alpha/segmented_control.pcss
  app/components/primer/beta/button.pcss
  previews/primer/alpha/dialog_preview/with_form.html.erb
  previews/primer/alpha/text_field_preview/input_group_leading_action_menu.html.erb
Labels: patch release

#2529 Add `href` to some previews that use a link
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/link_as_button/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/trailing_visual/focused.png
  previews/primer/beta/button_preview.rb
  previews/primer/beta/button_preview/trailing_visual.html.erb
Labels: skip changeset

#2532 Update button.pcss
  .changeset/weak-walls-sip.md
  app/components/primer/beta/button.pcss
Labels: patch release

#2533 ensure dialog is position: fixed
  app/components/primer/alpha/dialog.pcss
  previews/primer/alpha/dialog_preview.rb
  previews/primer/alpha/dialog_preview/nested_dialog.html.erb
Labels: skip changeset

#2535 Revert "Update button.pcss"
  .changeset/weak-walls-sip.md
  app/components/primer/beta/button.pcss
Labels: skip changeset

#2537 Revert "Break up button text when it is too long"
  .changeset/quick-bulldogs-hammer.md
  app/components/primer/alpha/segmented_control.pcss
  app/components/primer/beta/button.pcss
  previews/primer/alpha/dialog_preview/with_form.html.erb
  previews/primer/alpha/text_field_preview/input_group_leading_action_menu.html.erb
Labels: skip changeset

#2538 Prevent ActionMenu's show_button slot from rendering its content more than once
  .changeset/late-windows-approve.md
  app/components/primer/alpha/action_menu.rb
  test/components/alpha/action_menu_test.rb
  test/test_helpers/component_test_helpers.rb
Labels: patch release

#2541 Allow `Banner` to be rendered as a section
  .changeset/nine-turtles-love.md
  app/components/primer/alpha/banner.rb
  test/components/alpha/banner_test.rb
Labels: patch release

#2549 Fix dialog click outside early return
  .changeset/small-flowers-refuse.md
  app/components/primer/dialog_helper.ts
  test/css/component_specific_selectors_test.rb
  test/system/alpha/dialog_test.rb
Labels: patch release

#2527 Remove animations on actionlist checkmark
  .changeset/happy-ducks-lay.md
  app/components/primer/alpha/action_list.pcss
Labels: patch release

#2551 Remove large size options from SegmentedControl
  .changeset/red-parrots-tap.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/full_width_large/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/full_width_large/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/icon_only_large/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/icon_only_large/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/icons_and_text_large/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/icons_and_text_large/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/trailing_label_width_large/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/trailing_label_width_large/focused.png
  app/components/primer/alpha/segmented_control.pcss
  app/components/primer/alpha/segmented_control.rb
  previews/primer/alpha/segmented_control_preview.rb
  static/classes.json
  static/constants.json
Labels: minor release

#2552 Fix codespaces prebuilds (again)
  .devcontainer/Dockerfile
  .github/workflows/test.yml
  Gemfile.lock
  app/components/primer/alpha/segmented_control.pcss
  demo/Gemfile.lock
Labels: skip changeset
