Repository primer/view_components, pull requests merged in 2024-09, with the labels that each got.

#3055 Remove OpenStruct from primer_octicon cop
  .changeset/olive-hats-applaud.md
  lib/rubocop/cop/primer/primer_octicon.rb
Labels: patch release

#3060 Upgrade Vite; stop updating bundle in CI
  .github/workflows/test.yml
  Gemfile.lock
  demo/Gemfile.lock
  demo/package-lock.json
  demo/package.json
  package-lock.json
  package.json
Labels: skip changeset

#3058 `Label` padding updates to match PRC
  .changeset/old-starfishes-sell.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/trailing_label_width_medium/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/trailing_label_width_medium/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/trailing_label_width_small/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/segmented_control/trailing_label_width_small/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/label/color_scheme_accent/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/label/color_scheme_accent/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/label/color_scheme_attention/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/label/color_scheme_attention/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/label/color_scheme_danger/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/label/color_scheme_danger/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/label/color_scheme_done/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/label/color_scheme_done/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/label/color_scheme_primary/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/label/color_scheme_primary/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/label/color_scheme_secondary/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/label/color_scheme_secondary/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/label/color_scheme_severe/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/label/color_scheme_severe/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/label/color_scheme_sponsors/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/label/color_scheme_sponsors/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/label/color_scheme_success/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/label/color_scheme_success/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/label/default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/label/default/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/label/size_default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/label/size_default/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/label/size_large/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/label/size_large/focused.png
  app/components/primer/beta/label.pcss
Labels: patch release

#3057 Don't select the item if it's an href
  .changeset/three-points-cross.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/list_of_links/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/list_of_links/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/list_of_links/dark_dimmed.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/list_of_links/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/list_of_links/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/list_of_links/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/list_of_links/light_high_contrast.png
  app/components/primer/alpha/select_panel_element.ts
  previews/primer/alpha/select_panel_preview/list_of_links.html.erb
Labels: patch release

#3054 [SelectPanel] Disallow passing `role:` argument
  .changeset/chilly-berries-retire.md
  app/components/primer/alpha/select_panel.rb
  app/components/primer/component.rb
  test/components/alpha/select_panel_test.rb
Labels: patch release

#3053 [SelectPanel] Raise an error when remote fetch + hidden filter combo
  .changeset/many-zoos-scream.md
  app/components/primer/alpha/select_panel.rb
  previews/primer/alpha/select_panel_preview.rb
  previews/primer/alpha/select_panel_preview/local_fetch.html.erb
  test/components/alpha/select_panel_test.rb
Labels: patch release

#3077 [SelectPanel] Fix tab index issue in multi-select mode
  .changeset/curly-phones-burn.md
  app/components/primer/alpha/select_panel_element.ts
  test/system/alpha/select_panel_test.rb
Labels: patch release

#3072 [Forms] Fix position of caption for checkbox and radio groups
  .changeset/curvy-apes-judge.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/check_box_group/with_caption/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/check_box_group/with_caption/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/radio_button_group/invalid/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/radio_button_group/invalid/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/radio_button_group/with_caption/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/radio_button_group/with_caption/focused.png
  app/forms/check_box_group_form.rb
  app/forms/radio_button_group_form.rb
  lib/primer/forms/check_box_group.html.erb
  lib/primer/forms/check_box_group.rb
  lib/primer/forms/radio_button_group.html.erb
  lib/primer/forms/radio_button_group.rb
  test/lib/primer/forms/radio_button_group_input_test.rb
Labels: minor release

#3071 Use checkboxes for multi-select
  .changeset/many-readers-own.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/default/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/default/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/default/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/default/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/default/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/default/light_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/eventually_local_fetch/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/eventually_local_fetch/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/eventually_local_fetch/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/eventually_local_fetch/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/eventually_local_fetch/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/eventually_local_fetch/light_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/footer_buttons/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/footer_buttons/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/footer_buttons/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/footer_buttons/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/footer_buttons/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/footer_buttons/light_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/local_fetch/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/local_fetch/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/local_fetch/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/local_fetch/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/local_fetch/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/local_fetch/light_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/multiselect/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/multiselect/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/multiselect/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/multiselect/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/multiselect/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/multiselect/light_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/multiselect_form/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/multiselect_form/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/multiselect_form/dark_dimmed.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/multiselect_form/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/multiselect_form/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/multiselect_form/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/multiselect_form/light_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch/dark_dimmed.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch/light_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_filter_failure/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_filter_failure/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_filter_failure/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_filter_failure/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_filter_failure/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_filter_failure/light_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/with_avatar_items/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/with_avatar_items/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/with_avatar_items/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/with_avatar_items/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/with_avatar_items/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/with_avatar_items/light_high_contrast.png
  app/components/primer/alpha/select_panel.rb
  test/css/component_selector_use_test.rb
Labels: minor release

#3083 [SelectPanel] Add banner variant arg to component
  .changeset/three-readers-switch.md
  app/components/primer/alpha/select_panel.html.erb
  app/components/primer/alpha/select_panel.rb
  previews/primer/alpha/select_panel_preview.rb
  previews/primer/alpha/select_panel_preview/remote_fetch_filter_failure.html.erb
  test/system/alpha/select_panel_test.rb
Labels: minor release

#3090 Fix typo in documentation
  app/components/primer/base_component.rb
Labels: skip changeset

#3074 Add loading content parameter
  .changeset/chatty-apples-hope.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/custom_loading_description/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/custom_loading_description/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/custom_loading_description/dark_dimmed.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/custom_loading_description/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/custom_loading_description/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/custom_loading_description/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/custom_loading_description/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/custom_loading_description/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/custom_loading_description/light_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/custom_loading_label/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/custom_loading_label/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/custom_loading_label/dark_dimmed.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/custom_loading_label/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/custom_loading_label/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/custom_loading_label/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/custom_loading_label/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/custom_loading_label/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/custom_loading_label/light_high_contrast.png
  app/components/primer/alpha/select_panel.html.erb
  app/components/primer/alpha/select_panel.rb
  previews/primer/alpha/select_panel_preview.rb
  previews/primer/alpha/select_panel_preview/custom_loading_description.html.erb
  previews/primer/alpha/select_panel_preview/custom_loading_label.html.erb
  static/arguments.json
  static/info_arch.json
  static/previews.json
  test/components/alpha/select_panel_test.rb
Labels: minor release

#3095 Clear input when SelectPanel closed
  .changeset/sweet-donkeys-allow.md
  app/components/primer/alpha/select_panel_element.ts
  test/system/alpha/select_panel_test.rb
Labels: patch release

#3100 Upgrade to the latest versions of rubocop-rails-accessibility and erblint-github
  .erb-lint.yml
  .github/workflows/lint.yml
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/dialog_inside_overlay/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/dialog_inside_overlay/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/dialog_inside_overlay/dark_dimmed.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/dialog_inside_overlay/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/dialog_inside_overlay/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/dialog_inside_overlay/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/dialog_inside_overlay/light_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_nav/default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_nav/default/focused.png
  Gemfile
  Gemfile.lock
  lib/primer/forms/select.html.erb
  previews/primer/alpha/action_bar_preview/inline.html.erb
  previews/primer/alpha/dialog_preview/autofocus_element.html.erb
  previews/primer/alpha/dialog_preview/custom_header.html.erb
  previews/primer/alpha/dialog_preview/dialog_inside_overlay.html.erb
  previews/primer/alpha/dialog_preview/nested_dialog.html.erb
  previews/primer/alpha/dialog_preview/with_footer.html.erb
  previews/primer/alpha/dialog_preview/with_form.html.erb
  previews/primer/alpha/dialog_preview/with_text_input.html.erb
  previews/primer/alpha/overlay_preview/in_a_sticky_container.html.erb
  previews/primer/alpha/overlay_preview/overlay_with_header_filter.html.erb
  previews/primer/alpha/select_panel_preview/_interaction_subject_js.html.erb
  previews/primer/alpha/text_field_preview/input_group_leading_action_menu.html.erb
  previews/primer/alpha/tooltip_preview/tooltip_inside_primer_overlay.html.erb
  previews/primer/alpha/tooltip_preview/tooltip_with_dialog_moving_focus_to_input.html.erb
  previews/primer/alpha/underline_nav_preview/default.html.erb
  previews/primer/alpha/underline_nav_preview/playground.html.erb
  previews/primer/beta/auto_complete_preview/with_submit_button.html.erb
  previews/primer/beta/breadcrumbs_preview/with_deprecated_truncate.html.erb
  previews/primer/beta/button_preview/summary_as_button.html.erb
  previews/primer/beta/subhead_preview/actions.html.erb
  script/erblint
  script/rubocop
  test/test_helpers/retry.rb
Labels: skip changeset

#3098 Track and stop running processes to make it easier to run Playwright in dev
  .github/workflows/test.yml
  Procfile
  demo/script/start-css
  demo/script/start-vite
  playwright.config.ts
  script/dev
  script/run-playwright
  script/stop-existing-processes
Labels: skip changeset

#3101 Upgrade @primer/stylelint-config to latest version 13.0.1
  .devcontainer/devcontainer.json
  .github/workflows/lint.yml
  .stylelintrc.json
  .vscode/extensions.json
  .vscode/settings.json
  app/components/primer/alpha/action_bar.pcss
  app/components/primer/alpha/action_bar_element.ts
  app/components/primer/alpha/action_list.pcss
  app/components/primer/alpha/auto_complete.pcss
  app/components/primer/alpha/banner.pcss
  app/components/primer/alpha/button_marketing.pcss
  app/components/primer/alpha/dialog.pcss
  app/components/primer/alpha/dropdown.pcss
  app/components/primer/alpha/layout.pcss
  app/components/primer/alpha/menu.pcss
  app/components/primer/alpha/overlay.pcss
  app/components/primer/alpha/segmented_control.pcss
  app/components/primer/alpha/tab_nav.pcss
  app/components/primer/alpha/text_field.pcss
  app/components/primer/alpha/toggle_switch.pcss
  app/components/primer/alpha/underline_nav.pcss
  app/components/primer/beta/avatar.pcss
  app/components/primer/beta/avatar_stack.pcss
  app/components/primer/beta/blankslate.pcss
  app/components/primer/beta/border_box.pcss
  app/components/primer/beta/breadcrumbs.pcss
  app/components/primer/beta/button.pcss
  app/components/primer/beta/button_group.pcss
  app/components/primer/beta/counter.pcss
  app/components/primer/beta/flash.pcss
  app/components/primer/beta/label.pcss
  app/components/primer/beta/popover.pcss
  app/components/primer/beta/progress_bar.pcss
  app/components/primer/beta/state.pcss
  app/components/primer/beta/subhead.pcss
  app/components/primer/beta/timeline_item.pcss
  app/components/primer/beta/truncate.pcss
  package-lock.json
  package.json
Labels: skip changeset

#3119 Update snapshots
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dropdown/default/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dropdown/default/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dropdown/default/dark_dimmed.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dropdown/default/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dropdown/default/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dropdown/default/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dropdown/default/light_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/radio_button_group/invalid/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/radio_button_group/invalid/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select/with_validation_message/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select/with_validation_message/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_area/with_validation_message/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_area/with_validation_message/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/with_validation_message/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/with_validation_message/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_nav/default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_nav/default/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_nav/with_icons_and_counters/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_nav/with_icons_and_counters/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_panels/default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_panels/default/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_panels/with_actions/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_panels/with_actions/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_panels/with_icons_and_counters/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_panels/with_icons_and_counters/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/popover/bottom_left/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/popover/bottom_left/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/popover/bottom_right/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/popover/bottom_right/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/popover/top_left/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/popover/top_left/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/popover/top_right/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/popover/top_right/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/state/default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/state/default/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/state/sizes_default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/state/sizes_default/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/state/states_closed/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/state/states_closed/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/state/states_merged/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/state/states_merged/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/state/states_open/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/state/states_open/focused.png
Labels: skip changeset

#3103 fix accessibility violation by moving text to top of dialog on SelectPanel
  .changeset/bright-eggs-return.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/custom_loading_description/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/custom_loading_description/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/custom_loading_description/dark_dimmed.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/custom_loading_description/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/custom_loading_description/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/custom_loading_description/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/custom_loading_description/light_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/custom_loading_label/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/custom_loading_label/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/custom_loading_label/dark_dimmed.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/custom_loading_label/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/custom_loading_label/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/custom_loading_label/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/custom_loading_label/light_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/eventually_local_fetch_initial_failure/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/eventually_local_fetch_initial_failure/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/eventually_local_fetch_initial_failure/dark_dimmed.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/eventually_local_fetch_initial_failure/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/eventually_local_fetch_initial_failure/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/eventually_local_fetch_initial_failure/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/eventually_local_fetch_initial_failure/light_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/eventually_local_fetch_no_results/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/eventually_local_fetch_no_results/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/eventually_local_fetch_no_results/dark_dimmed.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/eventually_local_fetch_no_results/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/eventually_local_fetch_no_results/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/eventually_local_fetch_no_results/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/eventually_local_fetch_no_results/light_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/local_fetch_no_results/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/local_fetch_no_results/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/local_fetch_no_results/dark_dimmed.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/local_fetch_no_results/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/local_fetch_no_results/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/local_fetch_no_results/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/local_fetch_no_results/light_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_initial_failure/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_initial_failure/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_initial_failure/dark_dimmed.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_initial_failure/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_initial_failure/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_initial_failure/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_initial_failure/light_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_no_results/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_no_results/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_no_results/dark_dimmed.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_no_results/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_no_results/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_no_results/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_no_results/light_high_contrast.png
  app/components/primer/alpha/select_panel.html.erb
Labels: patch release
