Repository primer/view_components, pull requests merged in 2024-04, with the labels that each got.

#2747 Update NavList tooltip direction to `east`
  .changeset/eight-worms-bake.md
  app/components/primer/alpha/action_list/item.rb
Labels: minor release

#2644 Run system tests in Firefox
  .github/workflows/test.yml
  Gemfile
  Gemfile.lock
  test/system/alpha/action_bar_test.rb
  test/system/alpha/action_list_test.rb
  test/system/alpha/action_menu_test.rb
  test/system/alpha/dialog_test.rb
  test/system/alpha/tooltip_test.rb
  test/system/beta/nav_list_test.rb
  test/system/test_case.rb
  test/test_helper.rb
  test/test_helpers/driver_test_helpers.rb
  test/test_helpers/keyboard_test_helpers.rb
  test/test_helpers/mouse_test_helpers.rb
  test/test_helpers/webdriver_setup.rb
  test/test_helpers/window_test_helpers.rb
Labels: skip changeset

#2749 Debug failing firefox system test
  test/system/alpha/action_menu_test.rb
  test/test_helpers/driver_test_helpers.rb
Labels: skip changeset

#2750 Allow `:link` Button scheme text label to wrap
  .changeset/swift-fans-march.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/link_scheme_label_wrap/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/link_scheme_label_wrap/focused.png
  app/components/primer/beta/button.pcss
  previews/primer/beta/button_preview.rb
  previews/primer/beta/button_preview/link_scheme_label_wrap.html.erb
Labels: patch release

#2752 Update NavList tooltip direction
  .changeset/tiny-experts-clap.md
  app/components/primer/alpha/action_list/item.rb
Labels: minor release

#2751 Add `label_wrap` param to `Beta::Button`
  .changeset/orange-flowers-rest.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/label_wrap/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/label_wrap/focused.png
  app/components/primer/alpha/segmented_control.pcss
  app/components/primer/beta/button.pcss
  app/components/primer/beta/button.rb
  previews/primer/beta/button_preview.rb
  previews/primer/beta/button_preview/label_wrap.html.erb
  static/classes.json
Labels: patch release

#2763 Enable multi-select behavior in Select playground
  previews/primer/alpha/select_preview.rb
Labels: skip changeset

#2765 Fix issue preventing expansion and collapse of nav list items with tooltips
  .changeset/silver-adults-listen.md
  app/components/primer/alpha/action_list/item.html.erb
  previews/primer/alpha/action_list_preview.rb
  previews/primer/beta/nav_list_preview.rb
  test/system/beta/nav_list_test.rb
Labels: patch release

#2766 Update workflow deps on primer/.github to use tag
  .github/workflows/release-canary.yml
  .github/workflows/release-candidate.yml
Labels: skip changeset

#2764 Upgrade Primitives + prep for v8 release
  .changeset/tidy-wombats-sort.md
  demo/app/assets/stylesheets/application.css
  demo/package-lock.json
  demo/package.json
  package-lock.json
  package.json
  postcss.config.js
  test/css/css_var_fallback_test.rb
Labels: minor release

#2781 Add multiple body options to Overlay body slot
  .changeset/wild-knives-notice.md
  app/components/primer/alpha/overlay.html.erb
  app/components/primer/alpha/overlay.pcss
  app/components/primer/alpha/overlay.rb
  app/components/primer/alpha/overlay/body.rb
  app/components/primer/alpha/tab_panels.rb
  previews/primer/alpha/overlay_preview.rb
  previews/primer/alpha/overlay_preview/overlay_with_three_bodies.html.erb
  static/classes.json
  test/components/primer/alpha/overlay_test.rb
Labels: minor release

#2624 upgrade @github/tab-container-element@latest
  .changeset/fifty-experts-melt.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_panels/default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_panels/default/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_panels/with_actions/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_panels/with_actions/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_panels/with_icons_and_counters/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_panels/with_icons_and_counters/focused.png
  app/components/primer/alpha/overlay.pcss
  app/components/primer/alpha/tab_nav.pcss
  app/components/primer/alpha/tab_panels.html.erb
  app/components/primer/alpha/tab_panels.rb
  app/components/primer/alpha/underline_nav.pcss
  app/components/primer/alpha/underline_panels.html.erb
  app/components/primer/alpha/underline_panels.pcss
  app/components/primer/alpha/underline_panels.rb
  app/components/primer/primer.pcss
  package-lock.json
  package.json
  test/components/alpha/tab_panels_test.rb
  test/components/alpha/underline_panels_test.rb
  test/css/component_specific_selectors_test.rb
  test/system/alpha/action_menu_test.rb
  test/system/alpha/tab_panels_test.rb
  test/system/alpha/underline_panels_test.rb
  test/test_helpers/driver_test_helpers.rb
Labels: minor release

#2796 Revert "Bump @typescript-eslint/parser from 6.20.0 to 7.7.0"
  package-lock.json
  package.json
Labels: skip changeset

#2794 Bug Fix: anchored-position re-calculate position on scroll
  .changeset/brown-buckets-sell.md
  app/components/primer/anchored_position.ts
  previews/primer/alpha/overlay_preview.rb
  previews/primer/alpha/overlay_preview/in_a_sticky_container.html.erb
Labels: patch release

#2804 Add a filter slot to the dialog header
  .changeset/tall-pears-vanish.md
  app/components/primer/alpha/dialog/header.html.erb
  app/components/primer/alpha/dialog/header.rb
  previews/primer/alpha/dialog_preview.rb
  previews/primer/alpha/dialog_preview/with_header_filter.html.erb
  test/components/primer/alpha/dialog_test.rb
Labels: minor release

#2803 Add "data-show-dialog-id" to overlay header
  .changeset/clean-fans-greet.md
  app/components/primer/alpha/overlay/header.html.erb
Labels: patch release

#2802 Updates Button and ButtonMarketing Lookbook previews with accessible examples
  .changeset/twenty-drinks-peel.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/summary_as_button/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/summary_as_button/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button_group/multiple_tags/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button_group/multiple_tags/focused.png
  app/components/primer/alpha/button_marketing.rb
  app/components/primer/beta/button.rb
  previews/primer/alpha/button_marketing_preview.rb
  previews/primer/beta/button_group_preview.rb
  previews/primer/beta/button_preview.rb
  previews/primer/beta/button_preview/summary_as_button.html.erb
  static/info_arch.json
  static/previews.json
Labels: patch release

#2805 Updates Button and ButtonMarketing playground previews with tag param
  previews/primer/alpha/button_marketing_preview.rb
  previews/primer/beta/button_preview.rb
Labels: skip changeset

#2808 Add subtitle slot to the Primer::Alpha::Overlay::Header and Primer::Alpha::Dialog::Header
  .changeset/forty-rings-chew.md
  app/components/primer/alpha/dialog/header.html.erb
  app/components/primer/alpha/dialog/header.rb
  app/components/primer/alpha/overlay/header.html.erb
  app/components/primer/alpha/overlay/header.rb
  previews/primer/alpha/overlay_preview.rb
  static/previews.json
  test/components/primer/alpha/dialog_test.rb
  test/components/primer/alpha/overlay_test.rb
Labels: minor release

#2807 Add parenthesis to trailing counter
  .changeset/brown-boats-hunt.md
  app/components/primer/beta/button.html.erb
  app/components/primer/beta/button.rb
  test/components/primer/beta/button_test.rb
Labels: patch release

#2821 Add min-width to small size Button
  .changeset/brown-rocks-drive.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/small_scheme_one_character/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/small_scheme_one_character/focused.png
  app/components/primer/beta/button.pcss
  previews/primer/beta/button_preview.rb
  previews/primer/beta/button_preview/small_scheme_one_character.html.erb
Labels: patch release
