Repository primer/view_components, pull requests merged in 2024-06, with the labels that each got.

#2881 Updates IconButton previews to be keyboard accessible
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/icon_button/link_as_button/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/icon_button/link_as_button/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/icon_button/summary_as_button/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/icon_button/summary_as_button/focused.png
  app/components/primer/beta/icon_button.rb
  previews/primer/beta/icon_button_preview.rb
  previews/primer/beta/icon_button_preview/summary_as_button.html.erb
Labels: skip changeset

#2882 chore: Update 'github/relative-time-element' package from 4.4.0 to 4.4.1
  .changeset/old-panthers-exist.md
  .changeset/ten-wombats-beg.md
  .changeset/tiny-penguins-roll.md
  .github/workflows/lint.yml
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/icon_button/link_as_button/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/icon_button/link_as_button/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/icon_button/summary_as_button/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/icon_button/summary_as_button/focused.png
  CHANGELOG.md
  Gemfile.lock
  app/components/primer/beta/icon_button.rb
  demo/Gemfile.lock
  lib/primer/view_components/version.rb
  package-lock.json
  package.json
  previews/primer/beta/icon_button_preview.rb
  previews/primer/beta/icon_button_preview/summary_as_button.html.erb
  static/info_arch.json
  static/previews.json
Labels: patch release

#2872 feat: Add `no_title` support (and stories) for `RelativeTime`
  .changeset/old-panthers-exist.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/relative_time/link_with_tooltip/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/relative_time/link_with_tooltip/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/relative_time/no_title_attribute/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/relative_time/no_title_attribute/focused.png
  app/components/primer/beta/relative_time.rb
  package-lock.json
  previews/primer/beta/relative_time_preview.rb
  previews/primer/beta/relative_time_preview/link_with_tooltip.html.erb
Labels: patch release

#2887 Add support for target on links inside Breadcrumbs
  .changeset/orange-countries-try.md
  app/components/primer/beta/breadcrumbs.rb
  previews/primer/beta/breadcrumbs_preview.rb
  test/components/breadcrumbs_test.rb
Labels: minor release

#2855 Revert "Revert tab container upgrade"
  .changeset/fifty-experts-melt.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_panels/default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_panels/default/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_panels/with_actions/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_panels/with_actions/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_panels/with_icons_and_counters/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_panels/with_icons_and_counters/focused.png
  app/components/primer/alpha/tab_nav.pcss
  app/components/primer/alpha/tab_panels.html.erb
  app/components/primer/alpha/tab_panels.rb
  app/components/primer/alpha/underline_nav.pcss
  app/components/primer/alpha/underline_panels.html.erb
  app/components/primer/alpha/underline_panels.pcss
  app/components/primer/alpha/underline_panels.rb
  app/components/primer/primer.pcss
  package-lock.json
  package.json
  test/components/alpha/tab_panels_test.rb
  test/components/alpha/underline_panels_test.rb
  test/css/component_specific_selectors_test.rb
  test/system/alpha/tab_panels_test.rb
  test/system/alpha/underline_panels_test.rb
Labels: minor release

#2884 Add sr-only option to spinner
  .changeset/blue-insects-buy.md
  app/components/primer/beta/spinner.html.erb
  app/components/primer/beta/spinner.rb
  previews/primer/beta/spinner_preview.rb
  static/arguments.json
  test/components/beta/spinner_test.rb
Labels: minor release

#2896 Grouping dependabot patch updgrades
  .github/dependabot.yml
Labels: skip changeset

#2885 Fix ActionMenu item activation
  .changeset/orange-bats-arrive.md
  app/components/primer/alpha/action_menu/action_menu_element.ts
  test/system/alpha/action_menu_test.rb
Labels: patch release

#2895 Add a leading spinner to the TextField component
  .changeset/pretty-planets-drum.md
  app/components/primer/alpha/text_field.rb
  lib/primer/forms/dsl/text_field_input.rb
  lib/primer/forms/primer_text_field.ts
  lib/primer/forms/text_field.html.erb
  previews/primer/alpha/text_field_preview.rb
  test/components/alpha/text_field_test.rb
  test/lib/primer/forms/text_field_input_test.rb
  test/system/alpha/text_field_test.rb
Labels: minor release

#2903 Upgrade capybara 3.40.0
  Gemfile
  Gemfile.lock
Labels: skip changeset

#2904 Fix tab overflow
  .changeset/quiet-pianos-smash.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/tab_panels/default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/tab_panels/default/focused.png
  app/components/primer/alpha/tab_nav.pcss
Labels: patch release

#2905 Use Ruby 3.3
  .github/workflows/demo-production-deploy.yml
  .github/workflows/lint.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/static-files.yml
  .github/workflows/test.yml
  Gemfile.lock
  demo/Gemfile.lock
  demo/gemfiles/kuby.gemfile.lock
  test/performance/bench_classify.rb
  test/performance/bench_octicons.rb
Labels: skip changeset

#2909 Reapply "Revert tab container upgrade" (#2855)
  .changeset/perfect-jobs-pretend.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_panels/default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_panels/default/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_panels/with_actions/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_panels/with_actions/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_panels/with_icons_and_counters/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_panels/with_icons_and_counters/focused.png
  app/components/primer/alpha/tab_nav.pcss
  app/components/primer/alpha/tab_panels.html.erb
  app/components/primer/alpha/tab_panels.rb
  app/components/primer/alpha/underline_nav.pcss
  app/components/primer/alpha/underline_panels.html.erb
  app/components/primer/alpha/underline_panels.pcss
  app/components/primer/alpha/underline_panels.rb
  app/components/primer/primer.pcss
  package-lock.json
  package.json
  test/components/alpha/tab_panels_test.rb
  test/components/alpha/underline_panels_test.rb
  test/css/component_specific_selectors_test.rb
  test/system/alpha/tab_panels_test.rb
  test/system/alpha/underline_panels_test.rb
Labels: patch release

#2922 Update ActionMenu to forward overlay arguments
  .changeset/forty-ways-grab.md
  app/components/primer/alpha/action_menu.rb
  test/components/alpha/action_menu_test.rb
Labels: minor release

#2906 Reduce allocations in `test/performance/bench_utilities.rb`
  lib/primer/classify/utilities.rb
  script/test
  test/performance/bench_utilities.rb
Labels: skip changeset

#2924 Update focus_group.ts
  .changeset/tough-otters-sniff.md
  app/components/primer/focus_group.ts
Labels: patch release

#2925 [ActionList] If role='listbox' is used on an ActionList default items to role='option'
  .changeset/short-ligers-smile.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_list/listbox/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_list/listbox/focused.png
  app/components/primer/alpha/action_list.rb
  app/components/primer/alpha/action_list/item.rb
  previews/primer/alpha/action_list_preview.rb
  static/constants.json
  test/components/alpha/action_list_test.rb
Labels: patch release
