Repository primer/view_components, pull requests merged in 2024-03, with the labels that each got.

#2664 Update CODEOWNERS for engineer-reviewers
  .github/CODEOWNERS
Labels: skip changeset

#2665 Default IconButton text color `muted`
  .changeset/dirty-trees-care.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/banner/with_action_content/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/banner/with_action_content/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/input_group_leading_button/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/input_group_leading_button/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/input_group_trailing_button/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/input_group_trailing_button/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button_group/icon_buttons/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button_group/icon_buttons/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button_group/split_button/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button_group/split_button/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button_group/with_menu_button/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button_group/with_menu_button/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/icon_button/danger/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/icon_button/danger/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/icon_button/default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/icon_button/default/focused.png
  app/components/primer/beta/button.pcss
Labels: patch release

#2672 Fix documented options for ToggleSwitch size and status_label_position
  .changeset/stale-tomatoes-grow.md
  app/components/primer/alpha/toggle_switch.rb
Labels: patch release

#2666 Make sure labels and form inputs are properly associated when a custom ID is provided
  .changeset/quiet-singers-smoke.md
  lib/primer/forms/dsl/input.rb
  test/lib/primer/forms/form_control_test.rb
Labels: patch release

#2673 Make text field and other form inputs respect the `full_width:` option
  .changeset/curvy-onions-add.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/multi_input/default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/multi_input/default/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/multi_input/disabled/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/multi_input/disabled/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/multi_input/visually_hide_label/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/multi_input/visually_hide_label/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/multi_input/with_caption/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/multi_input/with_caption/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select/disabled/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select/disabled/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select/invalid/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select/invalid/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select/not_full_width/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select/not_full_width/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select/with_caption/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select/with_caption/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select/with_validation_message/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select/with_validation_message/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_area/default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_area/default/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_area/disabled/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_area/disabled/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_area/invalid/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_area/invalid/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_area/not_full_width/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_area/not_full_width/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_area/with_caption/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_area/with_caption/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_area/with_validation_message/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_area/with_validation_message/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/default/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/disabled/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/disabled/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/inset/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/inset/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/invalid/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/invalid/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/monospace/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/monospace/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/not_full_width/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/not_full_width/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/show_clear_button/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/show_clear_button/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/with_caption/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/with_caption/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/with_leading_visual/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/with_leading_visual/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/with_placeholder/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/with_placeholder/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/with_validation_message/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/text_field/with_validation_message/focused.png
  lib/primer/forms/dsl/input.rb
  lib/primer/forms/form_control.rb
  lib/primer/forms/select.html.erb
  previews/primer/alpha/select_preview.rb
  previews/primer/alpha/text_area_preview.rb
  previews/primer/alpha/text_field_preview.rb
Labels: patch release

#2670 Give ownership of screenshots to design-reviewers
  .github/CODEOWNERS
Labels: skip changeset

#2689 Bump Primitives, fix shadows on legacy overlay components
  .changeset/honest-fireants-exercise.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dropdown/default/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dropdown/default/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dropdown/default/dark_dimmed.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dropdown/default/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dropdown/default/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dropdown/default/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dropdown/default/light_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/blankslate/full/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/blankslate/full/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/blankslate/primary_action/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/blankslate/primary_action/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/all_schemes/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/all_schemes/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/inactive/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/inactive/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/trailing_counter/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/trailing_counter/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/popover/bottom_left/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/popover/bottom_left/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/popover/bottom_right/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/popover/bottom_right/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/popover/default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/popover/default/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/popover/large/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/popover/large/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/popover/top_left/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/popover/top_left/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/popover/top_right/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/popover/top_right/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/subhead/actions/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/subhead/actions/focused.png
  Gemfile.lock
  app/components/primer/alpha/dropdown.pcss
  app/components/primer/beta/popover.pcss
  app/components/primer/beta/popover.rb
  demo/package-lock.json
  demo/package.json
  package-lock.json
  package.json
  test/components/beta/popover_test.rb
Labels: minor release

#2693 Revert "Revert "Bump Primitives, fix shadows on legacy overlay components""
  .changeset/honest-fireants-exercise.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dropdown/default/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dropdown/default/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dropdown/default/dark_dimmed.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dropdown/default/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dropdown/default/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dropdown/default/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dropdown/default/light_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/blankslate/full/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/blankslate/full/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/blankslate/primary_action/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/blankslate/primary_action/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/all_schemes/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/all_schemes/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/inactive/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/inactive/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/trailing_counter/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/button/trailing_counter/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/popover/bottom_left/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/popover/bottom_left/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/popover/bottom_right/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/popover/bottom_right/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/popover/default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/popover/default/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/popover/large/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/popover/large/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/popover/top_left/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/popover/top_left/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/popover/top_right/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/popover/top_right/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/subhead/actions/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/subhead/actions/focused.png
  Gemfile.lock
  app/components/primer/alpha/dropdown.pcss
  app/components/primer/beta/popover.pcss
  app/components/primer/beta/popover.rb
  demo/package-lock.json
  demo/package.json
  package-lock.json
  package.json
  test/components/beta/popover_test.rb
Labels: minor release

#2705 Revert "Swap bg-gradient with bg-color for Banner/Flash"
  .changeset/mighty-cooks-rest.md
  app/components/primer/alpha/banner.pcss
  app/components/primer/beta/flash.pcss
Labels: patch release

#2706 Fix dialog CSS to prevent tooltip issues
  .changeset/brave-cougars-brush.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_list/long_label_with_tooltip/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/nav_list/long_label_with_tooltip/focused.png
  app/components/primer/alpha/dialog.pcss
Labels: patch release

#2707 Add :primary and :secondary scheme to IconButton and Match scheme for ButtonGroup menu
  .changeset/angry-files-eat.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/icon_button/danger/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/icon_button/danger/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/icon_button/primary/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/icon_button/primary/focused.png
  app/components/primer/beta/button.pcss
  app/components/primer/beta/button_group.rb
  app/components/primer/beta/icon_button.rb
  previews/primer/beta/button_group_preview.rb
  previews/primer/beta/button_group_preview/with_menu_button.html.erb
  previews/primer/beta/icon_button_preview.rb
  test/performance/bench_octicons.rb
Labels: patch release

#2582 do not allow non-modal Alpha::Dialog
  .changeset/cyan-cats-bow.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/initally_open/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/initally_open/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/initally_open/dark_dimmed.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/initally_open/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/initally_open/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/initally_open/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/initally_open/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/initally_open/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dialog/initally_open/light_high_contrast.png
  app/components/primer/dialog_helper.ts
  previews/primer/alpha/dialog_preview.rb
Labels: patch release

#2729 [Bug] Fix issue where tooltip is only not shown for first item in navlist when not truncated
  .changeset/healthy-colts-jog.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_list/long_label_with_tooltip/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/action_list/long_label_with_tooltip/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/nav_list/long_label_with_tooltip/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/nav_list/long_label_with_tooltip/focused.png
  app/components/primer/alpha/action_list.ts
  app/components/primer/alpha/action_list/item.rb
  previews/primer/alpha/action_list_preview.rb
  previews/primer/beta/nav_list_preview.rb
  test/system/alpha/action_list_test.rb
Labels: minor release

#2731 Remove old primitives color themes imports and only use V8
  .changeset/flat-bags-remain.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/button_marketing/scheme_default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/button_marketing/scheme_default/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/button_marketing/sizes_default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/button_marketing/sizes_default/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/toggle_switch/checked/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/toggle_switch/checked/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/toggle_switch/default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/toggle_switch/default/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/toggle_switch/small/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/toggle_switch/small/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/toggle_switch/with_a_bad_src/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/toggle_switch/with_a_bad_src/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/toggle_switch/with_status_label_position_end/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/toggle_switch/with_status_label_position_end/focused.png
  demo/app/assets/stylesheets/application.css
  demo/app/assets/stylesheets/component_preview.css
  demo/app/assets/stylesheets/primitives_v8.css
  demo/app/views/layouts/component_preview.html.erb
  demo/config/application.rb
  test/playwright/snapshots.test.ts
Labels: patch release

#2736 add more underline previews, snapshot tests
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_panels/default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_panels/default/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_panels/with_actions/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_panels/with_actions/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_panels/with_icons_and_counters/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/underline_panels/with_icons_and_counters/focused.png
  previews/primer/alpha/underline_panels_preview.rb
Labels: skip changeset

#2733 Tooltip: Update the threshold value to match with the offset
  .changeset/great-flies-clean.md
  app/components/primer/alpha/tool_tip.ts
Labels: patch release

#2735 Explicitly convert params to integers where needed in previews
  .changeset/dirty-parents-sneeze.md
  previews/primer/alpha/tab_nav_preview.rb
  previews/primer/alpha/tab_panels_preview.rb
  previews/primer/alpha/underline_nav_preview.rb
  previews/primer/alpha/underline_panels_preview.rb
  previews/primer/beta/avatar_stack_preview.rb
  previews/primer/beta/breadcrumbs_preview.rb
Labels: patch release

#2651 Add a slot to Overlay for a filter
  .changeset/seven-pillows-explode.md
  app/components/primer/alpha/dialog.pcss
  app/components/primer/alpha/overlay/header.html.erb
  app/components/primer/alpha/overlay/header.rb
  previews/primer/alpha/overlay_preview.rb
  previews/primer/alpha/overlay_preview/overlay_with_header_filter.html.erb
  static/classes.json
  test/components/primer/alpha/overlay_test.rb
Labels: minor release
