Repository primer/view_components, pull requests merged in 2024-07, with the labels that each got.

#2934 Fix link to React System Props and reflect deprecation
  app/components/primer/base_component.rb
Labels: skip changeset

#2952 Fix wrapping behavior of toggle switch label
  .changeset/pretty-tables-grab.md
  app/forms/example_toggle_switch_form/example_field_caption.html.erb
  lib/primer/forms/toggle_switch.html.erb
Labels: patch release

#2961 Add missing if statement in #waitForCondition
  .changeset/rotten-apples-greet.md
  app/components/primer/alpha/select_panel_element.ts
Labels: patch release

#2963 Select panel item list defaults
  .changeset/calm-maps-wave.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/local_fetch_no_results/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/local_fetch_no_results/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/local_fetch_no_results/dark_dimmed.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/local_fetch_no_results/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/local_fetch_no_results/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/local_fetch_no_results/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/local_fetch_no_results/light_high_contrast.png
  app/components/primer/alpha/select_panel.rb
  app/components/primer/alpha/select_panel_element.ts
  demo/app/views/select_panel_items/index.html.erb
  previews/primer/alpha/select_panel_preview/playground.html.erb
  test/system/alpha/select_panel_test.rb
Labels: minor release

#2966 Ensure Enter, Down, Home, and End behave as expected when a SelectPanel's input field has focus
  .changeset/warm-gorillas-beg.md
  app/components/primer/alpha/select_panel_element.ts
  test/system/alpha/select_panel_test.rb
Labels: minor release

#2972 Add `align-self: flex-start` to group heading directly
  .changeset/wild-onions-explode.md
  app/components/primer/alpha/action_list.pcss
Labels: patch release

#2979 Prep for high contrast theme updates
  .changeset/curly-plums-explode.md
  app/components/primer/alpha/segmented_control.pcss
  app/components/primer/alpha/tool_tip.ts
  app/components/primer/beta/state.pcss
Labels: patch release

#2985 [linter] add custom config for DetailsMenuMigration
  .changeset/warm-oranges-march.md
  lib/primer/view_components/linters/details_menu_migration.rb
  test/lib/erblint/details_menu_migration_test.rb
Labels: patch release
