Repository primer/view_components, pull requests merged in 2025-03, with the labels that each got.

#3377 Fixing bug in the select panel that pushes the page when it is open
  .changeset/sweet-mugs-invent.md
  app/components/primer/alpha/dialog.pcss
Labels: patch release

#3375 Create workflow to lock/unlock the release
  .github/workflows/lock-release.yml
Labels: skip changeset

#3384 Bump @github/auto-complete-element from 3.7.1 to 3.8.0
  .github/workflows/triage.yml
  package-lock.json
  package.json
Labels: skip changeset

#3388 pin to commit instead of tag
  .github/workflows/lint.yml
Labels: skip changeset

#3340 [SelectPanel]: Ensure formbuilder input/defaultvalue is available without opening the selectpanel
  .changeset/wet-cycles-complain.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/multiselect_form_with_defaults/aria-snapshot--after-interaction.yml
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/multiselect_form_with_defaults/aria-snapshot.yml
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/multiselect_form_with_defaults/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/multiselect_form_with_defaults/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/multiselect_form_with_defaults/dark_dimmed.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/multiselect_form_with_defaults/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/multiselect_form_with_defaults/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/multiselect_form_with_defaults/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/multiselect_form_with_defaults/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/multiselect_form_with_defaults/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/multiselect_form_with_defaults/light_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_form/aria-snapshot--after-interaction.yml
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_form/aria-snapshot.yml
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_form/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_form/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_form/dark_dimmed.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_form/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_form/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_form/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_form/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_form/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_form/light_high_contrast.png
  app/components/primer/alpha/select_panel.html.erb
  app/components/primer/alpha/select_panel.rb
  app/components/primer/alpha/select_panel_element.ts
  previews/primer/alpha/select_panel_preview.rb
  previews/primer/alpha/select_panel_preview/multiselect_form_with_defaults.html.erb
  previews/primer/alpha/select_panel_preview/remote_fetch_form.html.erb
  test/components/alpha/select_panel_test.rb
  test/system/alpha/select_panel_test.rb
Labels: minor release

#3396 Reintroduce work: to allow users to add default form_arguments when they are using the remote fetch strategy in a form
  .changeset/wet-cycles-complain.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_form/aria-snapshot--after-interaction.yml
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_form/aria-snapshot.yml
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_form/dark.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_form/dark_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_form/dark_dimmed.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_form/dark_high_contrast.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_form/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_form/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_form/light.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_form/light_colorblind.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/select_panel/remote_fetch_form/light_high_contrast.png
  app/components/primer/alpha/select_panel.html.erb
  app/components/primer/alpha/select_panel.rb
  app/components/primer/alpha/select_panel_element.ts
  previews/primer/alpha/select_panel_preview.rb
  previews/primer/alpha/select_panel_preview/remote_fetch_form.html.erb
  test/components/alpha/select_panel_test.rb
  test/system/alpha/select_panel_test.rb
Labels: minor release

#3404 Update 0252-build-component-css-with-ruby-code.md
  docs/adr/0246-record-architecture-decisions.md
  docs/adr/0250-developing-and-publishing-clientside-behaviours.md
  docs/adr/0251-use-catalyst-for-client-side-behaviours.md
  docs/adr/0252-build-component-css-with-ruby-code.md
Labels: skip changeset

#3397 [documentation] document gap with multiselect + form + non-local strategies
  .changeset/wet-cycles-complain.md
  app/components/primer/alpha/select_panel.rb
Labels: skip changeset, minor release
