Repository primer/view_components, pull requests merged in 2025-04, with the labels that each got.

#3427 update test.yml to node 20
  .github/workflows/test.yml
Labels: skip changeset

#3406 use auto-check-element v6
  .changeset/popular-eggs-notice.md
  package-lock.json
  package.json
  test/system/alpha/text_field_test.rb
Labels: minor release

#3433 Clean up warnings when running tests
  .changeset/friendly-swans-invite.md
  .github/workflows/test.yml
  Gemfile
  Gemfile.lock
  demo/Gemfile.lock
  demo/config/application.rb
  demo/config/environments/test.rb
  primer_view_components.gemspec
Labels: minor release

#3428 IncludeFragment component
  .changeset/odd-planes-stop.md
  app/components/primer/alpha/action_menu.html.erb
  app/components/primer/alpha/include_fragment.rb
  app/components/primer/alpha/select_panel.html.erb
  app/components/primer/conditional_wrapper.rb
  demo/app/controllers/include_fragment_controller.rb
  demo/app/views/include_fragment/deferred.html.erb
  demo/config/routes.rb
  package-lock.json
  package.json
  previews/primer/alpha/include_fragment_preview.rb
  test/components/component_test.rb
  test/components/conditional_wrapper_test.rb
  test/components/primer/alpha/include_fragment_test.rb
Labels: minor release

#3429 Create linter to migrate include-fragment to component
  .changeset/pink-items-stand.md
  lib/primer/view_components/linters/argument_mappers/include_fragment.rb
  lib/primer/view_components/linters/include_fragment_component_migration_counter.rb
  test/lib/erblint/include_fragment_component_migration_counter_test.rb
Labels: patch release

#3447 Add a new custom label for close button in dialog header
  .changeset/hip-cherries-glow.md
  app/components/primer/alpha/dialog/header.html.erb
  app/components/primer/alpha/dialog/header.rb
  previews/primer/alpha/dialog_preview.rb
  previews/primer/alpha/dialog_preview/with_header_close_button_label.html.erb
  previews/primer/alpha/dialog_preview/without_header_close_button_label.html.erb
  test/components/primer/alpha/dialog_test.rb
Labels: skip changeset

#3465 Update ADR formats for consistency
  docs/adr/0246-record-architecture-decisions.md
  docs/adr/0250-developing-and-publishing-clientside-behaviours.md
  docs/adr/0251-use-catalyst-for-client-side-behaviours.md
  docs/adr/0252-build-component-css-with-ruby-code.md
Labels: skip changeset

#3466 Update IncludeFragment to add data-nonce when a current nonce is present
  .changeset/sour-beds-draw.md
  app/components/primer/alpha/include_fragment.rb
  app/lib/primer/current_attributes.rb
  test/components/primer/alpha/include_fragment_test.rb
Labels: minor release

#3450 Fix(SelectPanel): incorrect padding when no filter
  .changeset/modern-cheetahs-thank.md
  app/components/primer/alpha/select_panel.html.erb
Labels: patch release

#3468 Remove overridden capture method in forms code
  .changeset/hungry-doors-occur.md
  app/lib/primer/forms/acts_as_component.rb
Labels: skip changeset
