Repository primer/view_components, pull requests merged in 2025-10, with the labels that each got.

#3711 primer/alpha/tooltip: Fix typos in the description of the component
  app/components/primer/alpha/tooltip.rb
Labels: skip changeset

#3720 Release workflow updates
  .github/workflows/release_canary.yml
  .github/workflows/release_candidate.yml
Labels: skip changeset

#3719 Update Dialog large heading size
  .changeset/thick-seahorses-lay.md
  app/components/primer/alpha/dialog.pcss
Labels: minor release

#3723 Add box-shadow back to the AvatarStack avatars
  .changeset/warm-bottles-smell.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/avatar_stack/avatar_2/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/avatar_stack/avatar_2/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/avatar_stack/avatar_3/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/avatar_stack/avatar_3/focused.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/avatar_stack/default/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/avatar_stack/default/focused.png
  app/components/primer/beta/avatar_stack.pcss
Labels: patch release

#3724 Fix: Delete the direction from the body arguments
  .changeset/olive-planes-flash.md
  app/components/primer/beta/avatar_stack.rb
Labels: patch release
