Repository primer/view_components, pull requests merged in 2025-02, with the labels that each got.

#3292 Add `details-toggle` Catalyst element to improve accessibility of Details component
  .changeset/smooth-files-remember.md
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dropdown/default/aria-snapshot--after-interaction.yml
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/alpha/dropdown/default/aria-snapshot.yml
  app/components/primer/alpha/dropdown.rb
  app/components/primer/beta/details.html.erb
  app/components/primer/beta/details.rb
  app/components/primer/beta/details_toggle_element.ts
  app/components/primer/primer.ts
  previews/primer/beta/details_preview.rb
  static/info_arch.json
  static/previews.json
  test/components/alpha/dropdown_test.rb
  test/components/beta/details_test.rb
  test/system/beta/details_test.rb
Labels: minor release

#3316 Correct accessibility issues in FormControl examples and address missing aria attributes
  .changeset/sour-monkeys-behave.md
  app/components/primer/alpha/form_control.rb
  previews/primer/alpha/form_control_preview/playground.html.erb
  test/components/alpha/form_control_test.rb
Labels: patch release

#3318 [ActionMenuForm] ActionMenuForm button should include aria-describedby={abel_id}
  .changeset/rich-mugs-float.md
  app/lib/primer/forms/action_menu.html.erb
  app/lib/primer/forms/action_menu.rb
  test/lib/primer/forms/action_menu_test.rb
Labels: patch release

#3320 Formatting tweak in NavList methods docs
  app/components/primer/beta/nav_list.rb
Labels: skip changeset

#3326 RelativeTime: Remove `title` from Lookbook previews
  previews/primer/beta/relative_time_preview.rb
Labels: skip changeset

#3319 update ToggleSwitch to support autofocus
  .changeset/late-jobs-think.md
  app/components/primer/alpha/toggle_switch.html.erb
  app/components/primer/alpha/toggle_switch.rb
  previews/primer/alpha/toggle_switch_preview.rb
  test/components/alpha/toggle_switch_test.rb
Labels: patch release, a11y eng

#3327 Prevent Scroll on `ActionMenu`
  .changeset/kind-shirts-shout.md
  app/components/primer/alpha/action_menu/action_menu_element.ts
  script/test-setup
  test/system/alpha/action_bar_test.rb
  test/system/alpha/action_menu_test.rb
Labels: patch release

#3330 Update Markdown preview examples to include tabindex
  app/components/primer/beta/markdown.rb
  previews/primer/beta/markdown_preview.rb
  static/info_arch.json
Labels: skip changeset

#3321 Add a no results item to autocomplete
  .changeset/thick-mayflies-do.md
  app/components/primer/beta/auto_complete/item.rb
  app/components/primer/beta/auto_complete/no_result_item.rb
  demo/app/controllers/auto_complete_test_controller.rb
  demo/app/views/auto_complete_test/no_results.html.erb
  demo/config/routes.rb
  package-lock.json
  package.json
  previews/primer/beta/auto_complete_preview.rb
  test/components/beta/auto_complete/item_test.rb
  test/components/component_test.rb
Labels: minor release

#3296 Add accessibility warning to `NavList` truncate preview
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/nav_list/truncate/aria-snapshot.yml
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/nav_list/truncate/default.png
  .playwright/screenshots/snapshots.test.ts-snapshots/primer/beta/nav_list/truncate/focused.png
  previews/primer/beta/nav_list_preview.rb
  previews/primer/beta/nav_list_preview/truncate.html.erb
Labels: skip changeset

#3341 Update app to use actions/create-github-app-token
  .github/workflows/release.yml
Labels: skip changeset

#3342 Creating a workflow that will assign the release conductor to the release pull request when it's opened
  .devcontainer/devcontainer.json
  .github/workflows/release_conductor.yml
Labels: skip changeset
